In [190]:
import pandas as pd
import requests
from geopy import distance
from tqdm import tqdm
import gmplot
import numpy as np
from sklearn.cluster import DBSCAN
from geopy.distance import great_circle
from shapely.geometry import MultiPoint
from mapsplotlib import mapsplot as mplt
from matplotlib import pyplot as plt
from collections import Counter

In [99]:
df = pd.read_csv('/home/yash/Documents/CB/location_data/staypoints/UserK_SP.csv', parse_dates=[5])
df.drop(df.index[-1], inplace=True)
pd.to_datetime(df.timestamp, unit='s')
df['index'] = list(range(df.shape[0])) 
df.set_index('index', inplace=True)
df

,accuracy,heading,latitude,longitude,timestamp,velocity,tdiff,geodist,location,visit_time
index,,,,,,,,,,
0,26,NaN,19.076337,72.910579,2016-05-20 10:31:36.551,NaN,0,0,"(19.0763369, 72.9105795)",10376
1,23,NaN,19.076369,72.910569,2016-05-20 13:49:36.905,NaN,1482,2,"(19.0763688, 72.9105685)",5411
2,21,NaN,19.076349,72.910584,2016-05-20 15:51:52.146,NaN,1914,3,"(19.0763494, 72.9105843)",9784
3,31,NaN,19.076363,72.910574,2016-05-20 21:30:16.935,NaN,6736,0,"(19.0763629, 72.9105739)",903
4,31,NaN,19.076363,72.910574,2016-05-21 01:44:01.988,NaN,14320,0,"(19.0763629, 72.9105739)",601
5,31,NaN,19.076363,72.910574,2016-05-21 03:47:46.673,NaN,6822,0,"(19.0763629, 72.9105739)",3991
6,26,NaN,19.076452,72.910519,2016-05-21 07:42:56.447,NaN,6728,10,"(19.0764515, 72.9105186)",631
7,28,NaN,19.076376,72.910566,2016-05-21 11:51:36.206,NaN,14288,0,"(19.0763761, 72.9105655)",601
8,25,NaN,19.076376,72.910566,2016-05-21 17:52:45.395,NaN,21067,0,"(19.0763761, 72.9105656)",709
9,29,NaN,19.076379,72.910566,2016-05-21 23:58:34.575,NaN,21238,0,"(19.076379, 72.9105661)",899
10,29,NaN,19.076379,72.910566,2016-05-22 06:01:26.692,NaN,20871,0,"(19.076379, 72.9105661)",665
11,25,NaN,19.076376,72.910566,2016-05-22 12:10:33.004,NaN,21480,0,"(19.0763761, 72.9105657)",601
12,24,NaN,19.076376,72.910565,2016-05-22 18:06:19.948,NaN,20744,7,"(19.0763763, 72.9105654)",870
13,24,NaN,19.076384,72.910529,2016-05-23 00:03:19.882,NaN,20549,0,"(19.0763836, 72.9105286)",606
14,26,NaN,19.076443,72.910519,2016-05-23 06:03:49.986,NaN,21022,9,"(19.076443, 72.9105188)",791
15,25,NaN,19.076418,72.910524,2016-05-23 12:10:56.504,NaN,21232,1,"(19.0764185, 72.910524)",600
16,34,NaN,19.076339,72.910613,2016-05-23 12:43:26.092,NaN,1348,3,"(19.0763387, 72.9106127)",2986
17,15,NaN,19.076336,72.910599,2016-05-25 14:56:21.747,NaN,4984,3,"(19.0763359, 72.9105991)",10795
18,43,NaN,19.076299,72.910669,2016-05-26 04:14:38.396,NaN,31887,21,"(19.0762988, 72.9106687)",35655
19,21,NaN,19.076346,72.910581,2016-05-26 14:32:29.654,NaN,1333,6,"(19.0763461, 72.9105811)",22029
20,22,NaN,19.076396,72.910496,2016-05-26 23:24:38.096,NaN,6944,0,"(19.076396, 72.9104962)",600
21,22,NaN,19.076396,72.910496,2016-05-27 00:31:27.005,NaN,3407,0,"(19.076396, 72.9104962)",4098
22,21,NaN,19.076363,72.910593,2016-05-27 03:13:40.401,NaN,2225,13,"(19.0763634, 72.9105927)",1875
23,41,191.0,19.107173,72.836567,2016-05-27 04:35:18.000,NaN,2586,7915,"(19.1071731, 72.8365669)",2158
24,34,141.0,19.106961,72.836738,2016-05-27 08:56:51.891,NaN,13533,52,"(19.1069606, 72.8367384)",1289
25,25,NaN,19.076279,72.910525,2016-05-27 10:41:27.944,NaN,185,592,"(19.0762787, 72.9105249)",16979
26,37,NaN,19.098066,72.916479,2016-05-27 17:27:32.292,NaN,1620,21,"(19.0980656, 72.9164786)",2262
27,11,NaN,19.098023,72.917166,2016-05-27 18:25:35.000,NaN,1218,37,"(19.0980234, 72.9171659)",1156
28,37,NaN,19.098010,72.916448,2016-05-27 19:15:29.968,NaN,1837,60,"(19.09801, 72.9164477)",31527
29,40,NaN,19.098011,72.916447,2016-05-28 04:31:50.154,NaN,1811,0,"(19.0980105, 72.9164469)",1345
...,...,...,...,...,...,...,...,...,...,...
2908,26,NaN,19.076362,72.910468,2018-02-25 04:38:33.223,NaN,1764,8,"(19.0763617, 72.9104681)",135375
2909,27,NaN,19.076410,72.910384,2018-02-26 19:04:08.210,NaN,63,253,"(19.07641, 72.9103837)",4363
2910,34,0.0,19.076423,72.910521,2018-02-26 20:18:54.307,0.0,67,53,"(19.0764235, 72.9105212)",31445
2911,28,NaN,19.107254,72.836932,2018-02-27 05:59:54.196,NaN,120,70,"(19.1072536, 72.8369319)",1236
2912,25,NaN,19.107205,72.837300,2018-02-27 07:46:43.133,NaN,5168,10,"(19.1072046, 72.8372996)",2858
2913,27,NaN,19.111364,72.837373,2018-02-27 09:18:26.222,NaN,60,51,"(19.1113637, 72.8373733)",1189
2914,38,NaN,19.111604,72.866052,2018-02-27 09:54:33.181,NaN,120,353,"(19.1116035, 72.8660518)",687
2915,29,NaN,19.086666,72.907879,2018-02-27 10:21:55.540,NaN,217,1007,"(19.086666, 72.9078788)",783
2916,28,NaN,19.076376,72.910393,2018-02-27 10:46:08.715,NaN,66,226,"(19.0763758, 72.9103933)",64817
2917,27,NaN,19.107181,72.836843,2018-02-28 06:06:16.283,NaN,135,139,"(19.1071807, 72.8368429)",15549
2918,28,NaN,19.110748,72.827815,2018-02-28 10:52:03.793,NaN,74,143,"(19.1107479, 72.8278152)",5434
2919,27,NaN,19.076381,72.910393,2018-02-28 13:33:55.180,NaN,64,185,"(19.0763808, 72.9103934)",43263
2920,26,NaN,18.769259,73.281241,2018-03-01 11:37:20.359,NaN,6809,480,"(18.7692586, 73.2812407)",768
2921,26,NaN,19.076363,72.910469,2018-03-01 15:42:20.307,NaN,3633,5381,"(19.0763629, 72.9104692)",57250
2922,50,NaN,19.087267,72.908619,2018-03-02 07:47:51.536,NaN,69,155,"(19.0872667, 72.9086188)",3341
2923,28,NaN,19.076513,72.910645,2018-03-02 08:53:20.408,NaN,26,94,"(19.0765126, 72.9106449)",99430
2924,31,NaN,19.076303,72.910404,2018-03-03 12:40:23.862,NaN,102,58,"(19.0763032, 72.9104042)",8580
2925,30,NaN,19.069554,72.900261,2018-03-03 15:33:02.067,NaN,163,91,"(19.0695535, 72.9002615)",980
2926,34,NaN,19.069560,72.899600,2018-03-03 15:51:22.262,NaN,119,57,"(19.0695595, 72.8996003)",1874
2927,46,71.0,19.076529,72.910399,2018-03-03 17:00:27.540,2.0,24,132,"(19.0765293, 72.9103995)",86983
2928,30,NaN,19.076371,72.910247,2018-03-04 17:15:55.176,NaN,92,51,"(19.0763714, 72.9102467)",25886
2929,28,NaN,19.076299,72.910617,2018-03-05 01:02:33.286,NaN,2064,17,"(19.0762994, 72.9106167)",708
2930,29,NaN,19.107240,72.837148,2018-03-05 01:48:15.662,NaN,183,73,"(19.1072396, 72.8371481)",5680
2931,44,NaN,19.107689,72.837425,2018-03-05 03:23:25.802,NaN,18,54,"(19.1076887, 72.8374251)",9810
2932,24,0.0,19.076437,72.910591,2018-03-05 07:46:39.000,1.0,37,72,"(19.0764366, 72.910591)",14970
2933,27,NaN,19.076270,72.910617,2018-03-05 14:09:56.236,NaN,1440,1,"(19.0762703, 72.910617)",39841
2934,27,NaN,19.107217,72.837086,2018-03-06 03:09:37.834,NaN,4713,15,"(19.1072172, 72.8370858)",4489
2935,27,NaN,19.107214,72.837244,2018-03-06 05:55:23.156,NaN,4605,127,"(19.1072141, 72.8372436)",1390
2936,50,NaN,19.107167,72.837228,2018-03-06 07:08:48.831,NaN,3009,6,"(19.1071673, 72.8372279)",1509
2937,30,NaN,19.108220,72.839150,2018-03-06 07:45:29.814,NaN,568,258,"(19.1082198, 72.8391495)",1077

In [84]:
# Returns time difference between 2 timestamps in seconds
def timeDiff(t1, t2):
    return round(pd.Timedelta(t2 - t1).seconds)

def geoDist(l1, l2):
    return round(distance.vincenty(l1, l2).m )

In [100]:
# Generate two series objects from the timestamps in such a way that both can be subtracts(timeDiff)
# Combine the two series objects with the function tdiff

ts = df['timestamp']
ts1 = ts.shift(periods=1)[1:]
ts2 = ts[1:]

df['tdiff'] = ts1.astype(object).combine(ts2, func=timeDiff)
df['tdiff'] = df['tdiff'] - df['visit_time'].shift(1)[1:]
df['tdiff'][0] = 0

location = df['location']
location1 = location.shift(periods=1)[1:]
location2 = location[1:]

df['geodist'] = location1.astype(object).combine(location2, func=geoDist)
df['geodist'][0] = 0

df

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,accuracy,heading,latitude,longitude,timestamp,velocity,tdiff,geodist,location,visit_time
index,,,,,,,,,,
0,26,NaN,19.076337,72.910579,2016-05-20 10:31:36.551,NaN,0,0,"(19.0763369, 72.9105795)",10376
1,23,NaN,19.076369,72.910569,2016-05-20 13:49:36.905,NaN,1504,4,"(19.0763688, 72.9105685)",5411
2,21,NaN,19.076349,72.910584,2016-05-20 15:51:52.146,NaN,1924,3,"(19.0763494, 72.9105843)",9784
3,31,NaN,19.076363,72.910574,2016-05-20 21:30:16.935,NaN,10520,2,"(19.0763629, 72.9105739)",903
4,31,NaN,19.076363,72.910574,2016-05-21 01:44:01.988,NaN,14322,0,"(19.0763629, 72.9105739)",601
5,31,NaN,19.076363,72.910574,2016-05-21 03:47:46.673,NaN,6823,0,"(19.0763629, 72.9105739)",3991
6,26,NaN,19.076452,72.910519,2016-05-21 07:42:56.447,NaN,10118,11,"(19.0764515, 72.9105186)",631
7,28,NaN,19.076376,72.910566,2016-05-21 11:51:36.206,NaN,14288,10,"(19.0763761, 72.9105655)",601
8,25,NaN,19.076376,72.910566,2016-05-21 17:52:45.395,NaN,21068,0,"(19.0763761, 72.9105656)",709
9,29,NaN,19.076379,72.910566,2016-05-21 23:58:34.575,NaN,21240,0,"(19.076379, 72.9105661)",899
10,29,NaN,19.076379,72.910566,2016-05-22 06:01:26.692,NaN,20873,0,"(19.076379, 72.9105661)",665
11,25,NaN,19.076376,72.910566,2016-05-22 12:10:33.004,NaN,21481,0,"(19.0763761, 72.9105657)",601
12,24,NaN,19.076376,72.910565,2016-05-22 18:06:19.948,NaN,20745,0,"(19.0763763, 72.9105654)",870
13,24,NaN,19.076384,72.910529,2016-05-23 00:03:19.882,NaN,20549,4,"(19.0763836, 72.9105286)",606
14,26,NaN,19.076443,72.910519,2016-05-23 06:03:49.986,NaN,21024,7,"(19.076443, 72.9105188)",791
15,25,NaN,19.076418,72.910524,2016-05-23 12:10:56.504,NaN,21235,3,"(19.0764185, 72.910524)",600
16,34,NaN,19.076339,72.910613,2016-05-23 12:43:26.092,NaN,1349,13,"(19.0763387, 72.9106127)",2986
17,15,NaN,19.076336,72.910599,2016-05-25 14:56:21.747,NaN,4989,1,"(19.0763359, 72.9105991)",10795
18,43,NaN,19.076299,72.910669,2016-05-26 04:14:38.396,NaN,37101,8,"(19.0762988, 72.9106687)",35655
19,21,NaN,19.076346,72.910581,2016-05-26 14:32:29.654,NaN,1416,11,"(19.0763461, 72.9105811)",22029
20,22,NaN,19.076396,72.910496,2016-05-26 23:24:38.096,NaN,9899,11,"(19.076396, 72.9104962)",600
21,22,NaN,19.076396,72.910496,2016-05-27 00:31:27.005,NaN,3408,0,"(19.076396, 72.9104962)",4098
22,21,NaN,19.076363,72.910593,2016-05-27 03:13:40.401,NaN,5635,11,"(19.0763634, 72.9105927)",1875
23,41,191.0,19.107173,72.836567,2016-05-27 04:35:18.000,NaN,3022,8504,"(19.1071731, 72.8365669)",2158
24,34,141.0,19.106961,72.836738,2016-05-27 08:56:51.891,NaN,13535,30,"(19.1069606, 72.8367384)",1289
25,25,NaN,19.076279,72.910525,2016-05-27 10:41:27.944,NaN,4987,8475,"(19.0762787, 72.9105249)",16979
26,37,NaN,19.098066,72.916479,2016-05-27 17:27:32.292,NaN,7385,2492,"(19.0980656, 72.9164786)",2262
27,11,NaN,19.098023,72.917166,2016-05-27 18:25:35.000,NaN,1220,72,"(19.0980234, 72.9171659)",1156
28,37,NaN,19.098010,72.916448,2016-05-27 19:15:29.968,NaN,1838,76,"(19.09801, 72.9164477)",31527
29,40,NaN,19.098011,72.916447,2016-05-28 04:31:50.154,NaN,1853,0,"(19.0980105, 72.9164469)",1345
...,...,...,...,...,...,...,...,...,...,...
2908,26,NaN,19.076362,72.910468,2018-02-25 04:38:33.223,NaN,1899,21,"(19.0763617, 72.9104681)",135375
2909,27,NaN,19.076410,72.910384,2018-02-26 19:04:08.210,NaN,-83441,10,"(19.07641, 72.9103837)",4363
2910,34,0.0,19.076423,72.910521,2018-02-26 20:18:54.307,0.0,123,15,"(19.0764235, 72.9105212)",31445
2911,28,NaN,19.107254,72.836932,2018-02-27 05:59:54.196,NaN,3414,8463,"(19.1072536, 72.8369319)",1236
2912,25,NaN,19.107205,72.837300,2018-02-27 07:46:43.133,NaN,5172,39,"(19.1072046, 72.8372996)",2858
2913,27,NaN,19.111364,72.837373,2018-02-27 09:18:26.222,NaN,2645,460,"(19.1113637, 72.8373733)",1189
2914,38,NaN,19.111604,72.866052,2018-02-27 09:54:33.181,NaN,977,3018,"(19.1116035, 72.8660518)",687
2915,29,NaN,19.086666,72.907879,2018-02-27 10:21:55.540,NaN,955,5195,"(19.086666, 72.9078788)",783
2916,28,NaN,19.076376,72.910393,2018-02-27 10:46:08.715,NaN,670,1169,"(19.0763758, 72.9103933)",64817
2917,27,NaN,19.107181,72.836843,2018-02-28 06:06:16.283,NaN,4790,8458,"(19.1071807, 72.8368429)",15549
2918,28,NaN,19.110748,72.827815,2018-02-28 10:52:03.793,NaN,1598,1029,"(19.1107479, 72.8278152)",5434
2919,27,NaN,19.076381,72.910393,2018-02-28 13:33:55.180,NaN,4277,9486,"(19.0763808, 72.9103934)",43263
2920,26,NaN,18.769259,73.281241,2018-03-01 11:37:20.359,NaN,36142,51786,"(18.7692586, 73.2812407)",768
2921,26,NaN,19.076363,72.910469,2018-03-01 15:42:20.307,NaN,13931,51779,"(19.0763629, 72.9104692)",57250
2922,50,NaN,19.087267,72.908619,2018-03-02 07:47:51.536,NaN,681,1223,"(19.0872667, 72.9086188)",3341
2923,28,NaN,19.076513,72.910645,2018-03-02 08:53:20.408,NaN,587,1209,"(19.0765126, 72.9106449)",99430
2924,31,NaN,19.076303,72.910404,2018-03-03 12:40:23.862,NaN,-85807,34,"(19.0763032, 72.9104042)",8580
2925,30,NaN,19.069554,72.900261,2018-03-03 15:33:02.067,NaN,1778,1303,"(19.0695535, 72.9002615)",980
2926,34,NaN,19.069560,72.899600,2018-03-03 15:51:22.262,NaN,120,70,"(19.0695595, 72.8996003)",1874
2927,46,71.0,19.076529,72.910399,2018-03-03 17:00:27.540,2.0,2271,1374,"(19.0765293, 72.9103995)",86983
2928,30,NaN,19.076371,72.910247,2018-03-04 17:15:55.176,NaN,-86056,24,"(19.0763714, 72.9102467)",25886
2929,28,NaN,19.076299,72.910617,2018-03-05 01:02:33.286,NaN,2112,40,"(19.0762994, 72.9106167)",708
2930,29,NaN,19.107240,72.837148,2018-03-05 01:48:15.662,NaN,2034,8456,"(19.1072396, 72.8371481)",5680
2931,44,NaN,19.107689,72.837425,2018-03-05 03:23:25.802,NaN,30,58,"(19.1076887, 72.8374251)",9810
2932,24,0.0,19.076437,72.910591,2018-03-05 07:46:39.000,1.0,5983,8441,"(19.0764366, 72.910591)",14970
2933,27,NaN,19.076270,72.910617,2018-03-05 14:09:56.236,NaN,8027,19,"(19.0762703, 72.910617)",39841
2934,27,NaN,19.107217,72.837086,2018-03-06 03:09:37.834,NaN,6940,8462,"(19.1072172, 72.8370858)",4489
2935,27,NaN,19.107214,72.837244,2018-03-06 05:55:23.156,NaN,5456,17,"(19.1072141, 72.8372436)",1390
2936,50,NaN,19.107167,72.837228,2018-03-06 07:08:48.831,NaN,3015,5,"(19.1071673, 72.8372279)",1509
2937,30,NaN,19.108220,72.839150,2018-03-06 07:45:29.814,NaN,691,233,"(19.1082198, 72.8391495)",1077

In [156]:
years = df['timestamp'].apply(lambda x: x.year)
months = df['timestamp'].apply(lambda x: x.month)
comb = list(zip(months,years))

print(max(comb,key=comb.count))

(3, 2017)

In [57]:
# Form clusters
# Takes dataframe of staypoints as parameter and adds a column cluster_id to it
# Uses DBSCAN, param: min_smaples and epsilon
def form_clusters(df):
  coords = df.as_matrix(columns=['latitude', 'longitude'])
  
  kms_per_radian = 6371.0088
  epsilon = 0.02 / kms_per_radian
  db = DBSCAN(eps=epsilon, min_samples=3, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
  cluster_labels = db.labels_
  num_clusters = len(set(cluster_labels))
  
  df['cluster_id'] = cluster_labels
  
  print('Number of clusters: {}'.format(num_clusters))

In [101]:
form_clusters(df)

Number of clusters: 68

In [62]:
colors = ['black', 'white', 'red', 'green','blue', 'pink', 'purple', 'yellow', 'violet', 'indigo', 'orange', 'cyan', 'gray']

nClusters = df['cluster_id'].max()+1

gmap = gmplot.GoogleMapPlotter(19.05, 72.8, 16)

for i in range(0,nClusters):
    gmap.scatter(df[df.cluster_id==i]['latitude'], df[df.cluster_id==i]['longitude'], colors[i%13] , marker=True)
gmap.draw('plot.html')

del gmap

In [167]:
# Create a df to reduce the clusters to centroids

centroids = pd.DataFrame()
centroids['cluster_id'] = list(range(df.cluster_id.max()+1)) 
centroids.set_index('cluster_id', inplace=True)
centroids['latitude'] = 0.0
centroids['longitude'] = 0.0
centroids['total_visit'] = 0
centroids['total_frequency'] = 0

for i in centroids.index:
    
    rows = df[df['cluster_id']==i]
    centroids['latitude'][i] = rows['latitude'].mean()
    centroids['longitude'][i] = rows['longitude'].mean()
    centroids['total_visit'][i] = rows['visit_time'].sum()
    centroids['total_frequency'][i] = rows.shape[0]
    
centroids

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             latitude  longitude  total_visit  total_frequency
cluster_id
0           19.076355  72.910521     18374534             1570
1           19.107249  72.837077      1131013              374
2           19.098022  72.916449        56580                8
3           17.447422  78.383308       181026               50
4           17.572869  78.557178        88918               10
5           19.012173  73.023321        13950               10
6           19.079646  72.909528        51046               14
7           19.083434  72.912678         6283                3
8           19.080622  72.892314        26296                5
9           46.438700   6.906421        47313               10
10          47.049516   8.300535        26056                5
11          47.422693   8.559049        22603                4
12          19.085405  72.908842         7368                4
13          19.086609  72.907948         5185                5
14          19.114684  72.836256        43596               13
15          19.078539  72.903980         5888                3
16          19.069135  72.900362         5451                3
17          17.924682  73.655620        96342               10
18          19.012409  73.023719        11430                7
19          19.074733  72.905276        12866                6
20          19.112469  72.866494        59282               35
21          19.108226  72.836893        17632                6
22          19.107142  72.835847        76156               31
23          19.086032  72.908140         9304                6
24          19.108916  72.836950         4850                3
25          19.111631  72.866045        33011               23
26          19.099091  72.916581         8025                4
27          19.112182  72.867692        10199               10
28          19.071137  72.823206         4065                3
29          18.462822  73.918972        22703                8
...               ...        ...          ...              ...
37          19.112078  72.867288         3055                4
38          19.099851  72.916339        17433                4
39          19.011980  73.023833        45904                9
40          19.012155  73.014292         3212                3
41          19.116260  72.909651         9538                4
42          19.134105  72.915154        17513                5
43          19.065369  72.860956         4071                3
44          19.077366  72.911256        21788                4
45          19.012667  73.023275         7570                3
46          19.080287  72.892392        15003                4
47          19.087178  72.908598         7740                3
48          19.075068  72.909135        48108                7
49          19.032950  73.023640        14774                3
50          19.103798  72.836955         3622                3
51          19.074756  72.909326         4103                6
52          23.033233  72.519161      3017469               54
53          23.186685  72.628761        66314               12
54          23.188663  72.627018         6061                3
55          19.076070  72.911396         5107                3
56          23.032196  72.535732         6210                4
57          23.031723  72.535075        18306               12
58          23.031885  72.535512        14725                5
59          23.030974  72.538102        94101               16
60          23.039948  72.530964        10754                3
61          23.035126  72.520620       172320                9
62          23.037730  72.514490        19208                3
63          23.037866  72.514827        25177                3
64          23.038174  72.514629        56882                3
65          23.031859  72.511431         6050                3
66          19.072372  72.896878         5423                3

[67 rows x 4 columns]

In [118]:
gmap = gmplot.GoogleMapPlotter(19.05, 72.8, 16)
gmap.scatter(centroids['latitude'], centroids['longitude'], 'black' , marker=True)
gmap.draw('centroids.html')

del gmap

In [211]:
def tagClusters(centroids):
    
    centroids['tag'] = "Unkown"
    
    # Tag other centroids
    for cluster_id, cluster in centroids.iterrows():
        if checkMall(cluster_id, cluster): centroids['tag'].iloc[cluster_id] = 'Mall'
        elif checkPark(cluster_id, cluster): centroids['tag'].iloc[cluster_id] = 'Park'
        
    tagHome(centroids)
    tagWork(centroids)
    
    
# Tags the centroid with maximum time spent as home
def tagHome(centroids):
    home_id = centroids['total_visit'].idxmax()
    centroids['tag'][home_id] = 'Home'
    
# Tags the centroid with 2nd maximum time spent as work 
def tagWork(centroids):
    home_id = centroids['total_visit'].idxmax()
    temp = centroids.drop(home_id)
    work_id = temp['total_visit'].idxmax()
    centroids['tag'][work_id] = 'Work'
    
# Checks for a mall nearby
def checkMall(cluster_id, cluster):
        
    mall_radius = 50
    start = 10
    end = 22
    threshold = 0.5
    
    lat = cluster['latitude']
    long = cluster['longitude']
    
    # Retrieve the list of nearby malls
    malls = requests.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=' + str(lat) + ',' + str(long) 
                       + '&radius=' +str(mall_radius) +'&type=shopping_mall&key=AIzaSyBdqlVT2vWz9wu_olDovWYI561da6QtKyk').json()['results']

    # Get the staypoints belonging to this cluster
    staypoints = df[df['cluster_id']==cluster_id]
    stayhours = staypoints['timestamp'].apply(lambda x: x.hour)
    stayhours = stayhours.apply(lambda x: x>=start and x<end)
    
    # Iterate over the results to check if the location falls within its bounds
    if malls and stayhours.mean()>threshold: return True
    else: return False
    
# Checks for a park nearby
def checkPark(cluster_id, cluster):
    
    morning_start = 6
    morning_end = 9
    evening_start = 16
    evening_end = 18
    park_radius = 40
    threshold = 0.5

    lat = cluster['latitude']
    long = cluster['longitude']
    
    # Retrieve the list of nearby parks
    parks = requests.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=' + str(lat) + ',' + str(long) 
                       + '&radius=' +str(park_radius) +'&type=park&key=AIzaSyBdqlVT2vWz9wu_olDovWYI561da6QtKyk').json()['results']

    # Get the staypoints belonging to this cluster
    staypoints = df[df['cluster_id']==cluster_id]
    stayhours = staypoints['timestamp'].apply(lambda x: x.hour)
    stayhours = stayhours.apply(lambda x: (x>=morning_start and x<=morning_end) or (x>=evening_start and x<=evening_end) )
    
    # Iterate over the results to check if the location falls within its bounds
    if parks and stayhours.mean()>threshold : return True
    else: return False

In [212]:
tagClusters(centroids)

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [213]:
centroids['tag'].value_counts()

Unkown    60
Mall       5
Home       1
Work       1
Name: tag, dtype: int64