In [190]:
import pandas as pd
import requests
from geopy import distance
from tqdm import tqdm
import gmplot
import numpy as np
from sklearn.cluster import DBSCAN
from geopy.distance import great_circle
from shapely.geometry import MultiPoint
from mapsplotlib import mapsplot as mplt
from matplotlib import pyplot as plt
from collections import Counter

In [99]:
df = pd.read_csv('/home/yash/Documents/CB/location_data/staypoints/UserK_SP.csv', parse_dates=[5])
df.drop(df.index[-1], inplace=True)
pd.to_datetime(df.timestamp, unit='s')
df['index'] = list(range(df.shape[0])) 
df.set_index('index', inplace=True)
df

,accuracy,heading,latitude,longitude,timestamp,velocity,tdiff,geodist,location,visit_time
index,,,,,,,,,,
0,26,NaN,19.076337,72.910579,2016-05-20 10:31:36.551,NaN,0,0,"(19.0763369, 72.9105795)",10376
1,23,NaN,19.076369,72.910569,2016-05-20 13:49:36.905,NaN,1482,2,"(19.0763688, 72.9105685)",5411
2,21,NaN,19.076349,72.910584,2016-05-20 15:51:52.146,NaN,1914,3,"(19.0763494, 72.9105843)",9784
3,31,NaN,19.076363,72.910574,2016-05-20 21:30:16.935,NaN,6736,0,"(19.0763629, 72.9105739)",903
4,31,NaN,19.076363,72.910574,2016-05-21 01:44:01.988,NaN,14320,0,"(19.0763629, 72.9105739)",601
5,31,NaN,19.076363,72.910574,2016-05-21 03:47:46.673,NaN,6822,0,"(19.0763629, 72.9105739)",3991
6,26,NaN,19.076452,72.910519,2016-05-21 07:42:56.447,NaN,6728,10,"(19.0764515, 72.9105186)",631
7,28,NaN,19.076376,72.910566,2016-05-21 11:51:36.206,NaN,14288,0,"(19.0763761, 72.9105655)",601
8,25,NaN,19.076376,72.910566,2016-05-21 17:52:45.395,NaN,21067,0,"(19.0763761, 72.9105656)",709
9,29,NaN,19.076379,72.910566,2016-05-21 23:58:34.575,NaN,21238,0,"(19.076379, 72.9105661)",899
10,29,NaN,19.076379,72.910566,2016-05-22 06:01:26.692,NaN,20871,0,"(19.076379, 72.9105661)",665
11,25,NaN,19.076376,72.910566,2016-05-22 12:10:33.004,NaN,21480,0,"(19.0763761, 72.9105657)",601
12,24,NaN,19.076376,72.910565,2016-05-22 18:06:19.948,NaN,20744,7,"(19.0763763, 72.9105654)",870
13,24,NaN,19.076384,72.910529,2016-05-23 00:03:19.882,NaN,20549,0,"(19.0763836, 72.9105286)",606
14,26,NaN,19.076443,72.910519,2016-05-23 06:03:49.986,NaN,21022,9,"(19.076443, 72.9105188)",791
15,25,NaN,19.076418,72.910524,2016-05-23 12:10:56.504,NaN,21232,1,"(19.0764185, 72.910524)",600
16,34,NaN,19.076339,72.910613,2016-05-23 12:43:26.092,NaN,1348,3,"(19.0763387, 72.9106127)",2986
17,15,NaN,19.076336,72.910599,2016-05-25 14:56:21.747,NaN,4984,3,"(19.0763359, 72.9105991)",10795
18,43,NaN,19.076299,72.910669,2016-05-26 04:14:38.396,NaN,31887,21,"(19.0762988, 72.9106687)",35655
19,21,NaN,19.076346,72.910581,2016-05-26 14:32:29.654,NaN,1333,6,"(19.0763461, 72.9105811)",22029
20,22,NaN,19.076396,72.910496,2016-05-26 23:24:38.096,NaN,6944,0,"(19.076396, 72.9104962)",600
21,22,NaN,19.076396,72.910496,2016-05-27 00:31:27.005,NaN,3407,0,"(19.076396, 72.9104962)",4098
22,21,NaN,19.076363,72.910593,2016-05-27 03:13:40.401,NaN,2225,13,"(19.0763634, 72.9105927)",1875
23,41,191.0,19.107173,72.836567,2016-05-27 04:35:18.000,NaN,2586,7915,"(19.1071731, 72.8365669)",2158
24,34,141.0,19.106961,72.836738,2016-05-27 08:56:51.891,NaN,13533,52,"(19.1069606, 72.8367384)",1289
25,25,NaN,19.076279,72.910525,2016-05-27 10:41:27.944,NaN,185,592,"(19.0762787, 72.9105249)",16979
26,37,NaN,19.098066,72.916479,2016-05-27 17:27:32.292,NaN,1620,21,"(19.0980656, 72.9164786)",2262
27,11,NaN,19.098023,72.917166,2016-05-27 18:25:35.000,NaN,1218,37,"(19.0980234, 72.9171659)",1156
28,37,NaN,19.098010,72.916448,2016-05-27 19:15:29.968,NaN,1837,60,"(19.09801, 72.9164477)",31527
29,40,NaN,19.098011,72.916447,2016-05-28 04:31:50.154,NaN,1811,0,"(19.0980105, 72.9164469)",1345
...,...,...,...,...,...,...,...,...,...,...
2908,26,NaN,19.076362,72.910468,2018-02-25 04:38:33.223,NaN,1764,8,"(19.0763617, 72.9104681)",135375
2909,27,NaN,19.076410,72.910384,2018-02-26 19:04:08.210,NaN,63,253,"(19.07641, 72.9103837)",4363
2910,34,0.0,19.076423,72.910521,2018-02-26 20:18:54.307,0.0,67,53,"(19.0764235, 72.9105212)",31445
2911,28,NaN,19.107254,72.836932,2018-02-27 05:59:54.196,NaN,120,70,"(19.1072536, 72.8369319)",1236
2912,25,NaN,19.107205,72.837300,2018-02-27 07:46:43.133,NaN,5168,10,"(19.1072046, 72.8372996)",2858
2913,27,NaN,19.111364,72.837373,2018-02-27 09:18:26.222,NaN,60,51,"(19.1113637, 72.8373733)",1189
2914,38,NaN,19.111604,72.866052,2018-02-27 09:54:33.181,NaN,120,353,"(19.1116035, 72.8660518)",687
2915,29,NaN,19.086666,72.907879,2018-02-27 10:21:55.540,NaN,217,1007,"(19.086666, 72.9078788)",783
2916,28,NaN,19.076376,72.910393,2018-02-27 10:46:08.715,NaN,66,226,"(19.0763758, 72.9103933)",64817
2917,27,NaN,19.107181,72.836843,2018-02-28 06:06:16.283,NaN,135,139,"(19.1071807, 72.8368429)",15549
2918,28,NaN,19.110748,72.827815,2018-02-28 10:52:03.793,NaN,74,143,"(19.1107479, 72.8278152)",5434
2919,27,NaN,19.076381,72.910393,2018-02-28 13:33:55.180,NaN,64,185,"(19.0763808, 72.9103934)",43263
2920,26,NaN,18.769259,73.281241,2018-03-01 11:37:20.359,NaN,6809,480,"(18.7692586, 73.2812407)",768
2921,26,NaN,19.076363,72.910469,2018-03-01 15:42:20.307,NaN,3633,5381,"(19.0763629, 72.9104692)",57250
2922,50,NaN,19.087267,72.908619,2018-03-02 07:47:51.536,NaN,69,155,"(19.0872667, 72.9086188)",3341
2923,28,NaN,19.076513,72.910645,2018-03-02 08:53:20.408,NaN,26,94,"(19.0765126, 72.9106449)",99430
2924,31,NaN,19.076303,72.910404,2018-03-03 12:40:23.862,NaN,102,58,"(19.0763032, 72.9104042)",8580
2925,30,NaN,19.069554,72.900261,2018-03-03 15:33:02.067,NaN,163,91,"(19.0695535, 72.9002615)",980
2926,34,NaN,19.069560,72.899600,2018-03-03 15:51:22.262,NaN,119,57,"(19.0695595, 72.8996003)",1874
2927,46,71.0,19.076529,72.910399,2018-03-03 17:00:27.540,2.0,24,132,"(19.0765293, 72.9103995)",86983
2928,30,NaN,19.076371,72.910247,2018-03-04 17:15:55.176,NaN,92,51,"(19.0763714, 72.9102467)",25886
2929,28,NaN,19.076299,72.910617,2018-03-05 01:02:33.286,NaN,2064,17,"(19.0762994, 72.9106167)",708
2930,29,NaN,19.107240,72.837148,2018-03-05 01:48:15.662,NaN,183,73,"(19.1072396, 72.8371481)",5680
2931,44,NaN,19.107689,72.837425,2018-03-05 03:23:25.802,NaN,18,54,"(19.1076887, 72.8374251)",9810
2932,24,0.0,19.076437,72.910591,2018-03-05 07:46:39.000,1.0,37,72,"(19.0764366, 72.910591)",14970
2933,27,NaN,19.076270,72.910617,2018-03-05 14:09:56.236,NaN,1440,1,"(19.0762703, 72.910617)",39841
2934,27,NaN,19.107217,72.837086,2018-03-06 03:09:37.834,NaN,4713,15,"(19.1072172, 72.8370858)",4489
2935,27,NaN,19.107214,72.837244,2018-03-06 05:55:23.156,NaN,4605,127,"(19.1072141, 72.8372436)",1390
2936,50,NaN,19.107167,72.837228,2018-03-06 07:08:48.831,NaN,3009,6,"(19.1071673, 72.8372279)",1509
2937,30,NaN,19.108220,72.839150,2018-03-06 07:45:29.814,NaN,568,258,"(19.1082198, 72.8391495)",1077

In [84]:
# Returns time difference between 2 timestamps in seconds
def timeDiff(t1, t2):
    return round(pd.Timedelta(t2 - t1).seconds)

def geoDist(l1, l2):
    return round(distance.vincenty(l1, l2).m )

In [100]:
# Generate two series objects from the timestamps in such a way that both can be subtracts(timeDiff)
# Combine the two series objects with the function tdiff

ts = df['timestamp']
ts1 = ts.shift(periods=1)[1:]
ts2 = ts[1:]

df['tdiff'] = ts1.astype(object).combine(ts2, func=timeDiff)
df['tdiff'] = df['tdiff'] - df['visit_time'].shift(1)[1:]
df['tdiff'][0] = 0

location = df['location']
location1 = location.shift(periods=1)[1:]
location2 = location[1:]

df['geodist'] = location1.astype(object).combine(location2, func=geoDist)
df['geodist'][0] = 0

df

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,accuracy,heading,latitude,longitude,timestamp,velocity,tdiff,geodist,location,visit_time
index,,,,,,,,,,
0,26,NaN,19.076337,72.910579,2016-05-20 10:31:36.551,NaN,0,0,"(19.0763369, 72.9105795)",10376
1,23,NaN,19.076369,72.910569,2016-05-20 13:49:36.905,NaN,1504,4,"(19.0763688, 72.9105685)",5411
2,21,NaN,19.076349,72.910584,2016-05-20 15:51:52.146,NaN,1924,3,"(19.0763494, 72.9105843)",9784
3,31,NaN,19.076363,72.910574,2016-05-20 21:30:16.935,NaN,10520,2,"(19.0763629, 72.9105739)",903
4,31,NaN,19.076363,72.910574,2016-05-21 01:44:01.988,NaN,14322,0,"(19.0763629, 72.9105739)",601
5,31,NaN,19.076363,72.910574,2016-05-21 03:47:46.673,NaN,6823,0,"(19.0763629, 72.9105739)",3991
6,26,NaN,19.076452,72.910519,2016-05-21 07:42:56.447,NaN,10118,11,"(19.0764515, 72.9105186)",631
7,28,NaN,19.076376,72.910566,2016-05-21 11:51:36.206,NaN,14288,10,"(19.0763761, 72.9105655)",601
8,25,NaN,19.076376,72.910566,2016-05-21 17:52:45.395,NaN,21068,0,"(19.0763761, 72.9105656)",709
9,29,NaN,19.076379,72.910566,2016-05-21 23:58:34.575,NaN,21240,0,"(19.076379, 72.9105661)",899
10,29,NaN,19.076379,72.910566,2016-05-22 06:01:26.692,NaN,20873,0,"(19.076379, 72.9105661)",665
11,25,NaN,19.076376,72.910566,2016-05-22 12:10:33.004,NaN,21481,0,"(19.0763761, 72.9105657)",601
12,24,NaN,19.076376,72.910565,2016-05-22 18:06:19.948,NaN,20745,0,"(19.0763763, 72.9105654)",870
13,24,NaN,19.076384,72.910529,2016-05-23 00:03:19.882,NaN,20549,4,"(19.0763836, 72.9105286)",606
14,26,NaN,19.076443,72.910519,2016-05-23 06:03:49.986,NaN,21024,7,"(19.076443, 72.9105188)",791
15,25,NaN,19.076418,72.910524,2016-05-23 12:10:56.504,NaN,21235,3,"(19.0764185, 72.910524)",600
16,34,NaN,19.076339,72.910613,2016-05-23 12:43:26.092,NaN,1349,13,"(19.0763387, 72.9106127)",2986
17,15,NaN,19.076336,72.910599,2016-05-25 14:56:21.747,NaN,4989,1,"(19.0763359, 72.9105991)",10795
18,43,NaN,19.076299,72.910669,2016-05-26 04:14:38.396,NaN,37101,8,"(19.0762988, 72.9106687)",35655
19,21,NaN,19.076346,72.910581,2016-05-26 14:32:29.654,NaN,1416,11,"(19.0763461, 72.9105811)",22029
20,22,NaN,19.076396,72.910496,2016-05-26 23:24:38.096,NaN,9899,11,"(19.076396, 72.9104962)",600
21,22,NaN,19.076396,72.910496,2016-05-27 00:31:27.005,NaN,3408,0,"(19.076396, 72.9104962)",4098
22,21,NaN,19.076363,72.910593,2016-05-27 03:13:40.401,NaN,5635,11,"(19.0763634, 72.9105927)",1875
23,41,191.0,19.107173,72.836567,2016-05-27 04:35:18.000,NaN,3022,8504,"(19.1071731, 72.8365669)",2158
24,34,141.0,19.106961,72.836738,2016-05-27 08:56:51.891,NaN,13535,30,"(19.1069606, 72.8367384)",1289
25,25,NaN,19.076279,72.910525,2016-05-27 10:41:27.944,NaN,4987,8475,"(19.0762787, 72.9105249)",16979
26,37,NaN,19.098066,72.916479,2016-05-27 17:27:32.292,NaN,7385,2492,"(19.0980656, 72.9164786)",2262
27,11,NaN,19.098023,72.917166,2016-05-27 18:25:35.000,NaN,1220,72,"(19.0980234, 72.9171659)",1156
28,37,NaN,19.098010,72.916448,2016-05-27 19:15:29.968,NaN,1838,76,"(19.09801, 72.9164477)",31527
29,40,NaN,19.098011,72.916447,2016-05-28 04:31:50.154,NaN,1853,0,"(19.0980105, 72.9164469)",1345
...,...,...,...,...,...,...,...,...,...,...
2908,26,NaN,19.076362,72.910468,2018-02-25 04:38:33.223,NaN,1899,21,"(19.0763617, 72.9104681)",135375
2909,27,NaN,19.076410,72.910384,2018-02-26 19:04:08.210,NaN,-83441,10,"(19.07641, 72.9103837)",4363
2910,34,0.0,19.076423,72.910521,2018-02-26 20:18:54.307,0.0,123,15,"(19.0764235, 72.9105212)",31445
2911,28,NaN,19.107254,72.836932,2018-02-27 05:59:54.196,NaN,3414,8463,"(19.1072536, 72.8369319)",1236
2912,25,NaN,19.107205,72.837300,2018-02-27 07:46:43.133,NaN,5172,39,"(19.1072046, 72.8372996)",2858
2913,27,NaN,19.111364,72.837373,2018-02-27 09:18:26.222,NaN,2645,460,"(19.1113637, 72.8373733)",1189
2914,38,NaN,19.111604,72.866052,2018-02-27 09:54:33.181,NaN,977,3018,"(19.1116035, 72.8660518)",687
2915,29,NaN,19.086666,72.907879,2018-02-27 10:21:55.540,NaN,955,5195,"(19.086666, 72.9078788)",783
2916,28,NaN,19.076376,72.910393,2018-02-27 10:46:08.715,NaN,670,1169,"(19.0763758, 72.9103933)",64817
2917,27,NaN,19.107181,72.836843,2018-02-28 06:06:16.283,NaN,4790,8458,"(19.1071807, 72.8368429)",15549
2918,28,NaN,19.110748,72.827815,2018-02-28 10:52:03.793,NaN,1598,1029,"(19.1107479, 72.8278152)",5434
2919,27,NaN,19.076381,72.910393,2018-02-28 13:33:55.180,NaN,4277,9486,"(19.0763808, 72.9103934)",43263
2920,26,NaN,18.769259,73.281241,2018-03-01 11:37:20.359,NaN,36142,51786,"(18.7692586, 73.2812407)",768
2921,26,NaN,19.076363,72.910469,2018-03-01 15:42:20.307,NaN,13931,51779,"(19.0763629, 72.9104692)",57250
2922,50,NaN,19.087267,72.908619,2018-03-02 07:47:51.536,NaN,681,1223,"(19.0872667, 72.9086188)",3341
2923,28,NaN,19.076513,72.910645,2018-03-02 08:53:20.408,NaN,587,1209,"(19.0765126, 72.9106449)",99430
2924,31,NaN,19.076303,72.910404,2018-03-03 12:40:23.862,NaN,-85807,34,"(19.0763032, 72.9104042)",8580
2925,30,NaN,19.069554,72.900261,2018-03-03 15:33:02.067,NaN,1778,1303,"(19.0695535, 72.9002615)",980
2926,34,NaN,19.069560,72.899600,2018-03-03 15:51:22.262,NaN,120,70,"(19.0695595, 72.8996003)",1874
2927,46,71.0,19.076529,72.910399,2018-03-03 17:00:27.540,2.0,2271,1374,"(19.0765293, 72.9103995)",86983
2928,30,NaN,19.076371,72.910247,2018-03-04 17:15:55.176,NaN,-86056,24,"(19.0763714, 72.9102467)",25886
2929,28,NaN,19.076299,72.910617,2018-03-05 01:02:33.286,NaN,2112,40,"(19.0762994, 72.9106167)",708
2930,29,NaN,19.107240,72.837148,2018-03-05 01:48:15.662,NaN,2034,8456,"(19.1072396, 72.8371481)",5680
2931,44,NaN,19.107689,72.837425,2018-03-05 03:23:25.802,NaN,30,58,"(19.1076887, 72.8374251)",9810
2932,24,0.0,19.076437,72.910591,2018-03-05 07:46:39.000,1.0,5983,8441,"(19.0764366, 72.910591)",14970
2933,27,NaN,19.076270,72.910617,2018-03-05 14:09:56.236,NaN,8027,19,"(19.0762703, 72.910617)",39841
2934,27,NaN,19.107217,72.837086,2018-03-06 03:09:37.834,NaN,6940,8462,"(19.1072172, 72.8370858)",4489
2935,27,NaN,19.107214,72.837244,2018-03-06 05:55:23.156,NaN,5456,17,"(19.1072141, 72.8372436)",1390
2936,50,NaN,19.107167,72.837228,2018-03-06 07:08:48.831,NaN,3015,5,"(19.1071673, 72.8372279)",1509
2937,30,NaN,19.108220,72.839150,2018-03-06 07:45:29.814,NaN,691,233,"(19.1082198, 72.8391495)",1077

In [223]:
df['year'] = df['timestamp'].apply(lambda x: x.year)
df['month'] = df['timestamp'].apply(lambda x: x.month)
df['day'] = df['timestamp'].apply(lambda x: x.weekday())

comb = list(zip(df['month'],df['year']))

best_month = max(comb,key=comb.count)[0]
best_year = max(comb,key=comb.count)[1]
df[ (df['year']==best_year) & (df['month']==best_month)]

,accuracy,heading,latitude,longitude,timestamp,velocity,tdiff,geodist,location,visit_time,cluster_id,year,month,day
index,,,,,,,,,,,,,,
842,10,NaN,19.076562,72.910285,2017-03-01 02:25:56.263,0.0,6805,42,"(19.0765623, 72.910285)",660,0,2017,3,2
843,26,NaN,19.076298,72.910482,2017-03-01 03:09:23.377,NaN,1947,36,"(19.0762978, 72.9104818)",6498,0,2017,3,2
844,50,NaN,19.107077,72.835716,2017-03-01 06:08:31.487,NaN,4250,8574,"(19.1070773, 72.8357159)",1214,22,2017,3,2
845,8,286.0,19.112279,72.866460,2017-03-01 08:41:55.000,0.0,7989,3286,"(19.1122791, 72.8664597)",853,20,2017,3,2
846,50,NaN,19.112598,72.866271,2017-03-01 09:01:51.847,NaN,343,41,"(19.1125984, 72.8662712)",2435,20,2017,3,2
847,50,NaN,19.112170,72.866963,2017-03-01 09:55:36.471,NaN,789,87,"(19.1121705, 72.8669635)",885,20,2017,3,2
848,23,NaN,19.076396,72.910574,2017-03-01 10:33:00.007,NaN,1358,6062,"(19.0763964, 72.9105741)",41365,0,2017,3,2
849,29,NaN,19.076217,72.910574,2017-03-02 02:25:21.055,NaN,15776,20,"(19.0762167, 72.9105741)",3384,0,2017,3,3
850,48,NaN,19.076371,72.910548,2017-03-02 03:47:18.532,NaN,1533,17,"(19.0763709, 72.9105483)",1424,0,2017,3,3
851,50,NaN,19.107137,72.837285,2017-03-02 06:29:59.452,NaN,8336,8428,"(19.1071374, 72.8372853)",2080,1,2017,3,3
852,24,NaN,19.107470,72.837008,2017-03-02 07:14:17.507,NaN,578,47,"(19.1074702, 72.8370084)",3308,1,2017,3,3
853,50,NaN,19.107084,72.836731,2017-03-02 08:31:49.558,NaN,1344,52,"(19.1070845, 72.8367314)",2731,1,2017,3,3
854,23,NaN,19.076396,72.910574,2017-03-02 10:38:42.130,NaN,4881,8481,"(19.0763964, 72.9105741)",2155,0,2017,3,3
855,42,NaN,19.076344,72.910414,2017-03-02 12:45:47.039,NaN,5469,18,"(19.0763437, 72.9104135)",17577,0,2017,3,3
856,27,NaN,19.076257,72.910528,2017-03-02 18:16:43.394,NaN,2279,15,"(19.0762572, 72.9105279)",22383,0,2017,3,3
857,27,NaN,19.076257,72.910528,2017-03-03 02:30:46.416,NaN,7260,0,"(19.0762572, 72.9105279)",5613,0,2017,3,4
858,27,NaN,19.107137,72.837285,2017-03-03 06:10:15.583,NaN,7556,8432,"(19.1071374, 72.8372853)",2147,1,2017,3,4
859,26,NaN,19.107137,72.837285,2017-03-03 08:48:16.882,NaN,7334,0,"(19.1071374, 72.8372853)",1012,1,2017,3,4
860,34,NaN,19.107157,72.837314,2017-03-03 09:25:00.214,NaN,1191,4,"(19.1071569, 72.8373141)",1763,1,2017,3,4
861,28,NaN,19.077503,72.846623,2017-03-03 10:00:22.747,NaN,359,3426,"(19.0775026, 72.8466231)",1058,-1,2017,3,4
862,50,NaN,19.107137,72.837285,2017-03-03 10:21:00.466,NaN,179,3424,"(19.1071374, 72.8372853)",3616,1,2017,3,4
863,47,NaN,19.107139,72.837288,2017-03-03 11:49:10.960,NaN,1674,0,"(19.1071395, 72.8372883)",814,1,2017,3,4
864,50,NaN,19.112540,72.866133,2017-03-03 12:31:42.533,NaN,1737,3093,"(19.1125403, 72.8661327)",1265,20,2017,3,4
865,28,NaN,19.112329,72.866271,2017-03-03 13:24:04.910,NaN,1877,28,"(19.112329, 72.8662712)",671,20,2017,3,4
866,36,NaN,19.076499,72.910456,2017-03-03 14:30:50.000,NaN,3334,6111,"(19.0764993, 72.9104564)",3236,0,2017,3,4
867,26,NaN,19.076298,72.910482,2017-03-03 17:08:36.150,NaN,6230,22,"(19.0762978, 72.9104818)",9405,0,2017,3,4
868,25,NaN,19.076257,72.910528,2017-03-04 01:30:11.581,NaN,20690,7,"(19.0762572, 72.9105279)",4904,0,2017,3,5
869,23,NaN,18.994981,72.816421,2017-03-04 04:17:42.411,NaN,5146,13382,"(18.9949805, 72.8164208)",798,-1,2017,3,5
870,24,NaN,18.994981,72.816421,2017-03-04 05:24:30.335,NaN,3209,0,"(18.9949805, 72.8164208)",3738,-1,2017,3,5
871,23,NaN,18.965285,72.812820,2017-03-04 07:54:50.597,NaN,5282,3309,"(18.9652849, 72.8128201)",1359,-1,2017,3,5
872,29,0.0,19.111423,72.865623,2017-03-04 11:04:47.000,0.0,10037,17105,"(19.1114235, 72.8656226)",2576,-1,2017,3,5
873,40,0.0,19.076369,72.910547,2017-03-04 12:20:03.000,0.0,1940,6116,"(19.0763694, 72.9105466)",19713,0,2017,3,5
874,28,NaN,19.076257,72.910528,2017-03-04 18:24:05.109,NaN,2129,13,"(19.0762572, 72.9105279)",7334,0,2017,3,5
875,39,NaN,19.076315,72.910574,2017-03-04 23:22:07.511,0.0,10548,8,"(19.0763146, 72.910574)",920,0,2017,3,5
876,39,NaN,19.076315,72.910574,2017-03-05 01:27:06.700,0.0,6579,0,"(19.0763146, 72.910574)",2423,0,2017,3,6
877,25,NaN,19.076298,72.910482,2017-03-05 03:04:54.823,NaN,3445,10,"(19.0762978, 72.9104818)",1414,0,2017,3,6
878,25,NaN,19.076307,72.910574,2017-03-05 03:57:36.567,NaN,1747,10,"(19.0763065, 72.9105741)",4021,0,2017,3,6
879,26,NaN,19.076298,72.910482,2017-03-05 05:36:03.389,NaN,1885,10,"(19.0762978, 72.9104818)",11597,0,2017,3,6
880,27,NaN,19.076257,72.910528,2017-03-05 09:43:19.440,NaN,3239,7,"(19.0762572, 72.9105279)",13317,0,2017,3,6
881,23,NaN,19.076396,72.910574,2017-03-05 18:13:48.729,NaN,17312,16,"(19.0763964, 72.9105741)",1026,0,2017,3,6
882,27,NaN,19.076257,72.910528,2017-03-05 18:52:14.353,NaN,1279,16,"(19.0762572, 72.9105279)",1173,0,2017,3,6
883,15,NaN,19.076497,72.910626,2017-03-05 21:11:48.343,0.0,7200,28,"(19.076497, 72.9106263)",5189,0,2017,3,6
884,13,NaN,19.076178,72.910492,2017-03-05 23:30:36.581,0.0,3139,38,"(19.0761777, 72.9104917)",8967,0,2017,3,6
885,25,NaN,19.076257,72.910528,2017-03-06 02:52:48.587,NaN,3165,10,"(19.0762572, 72.9105279)",6944,0,2017,3,0
886,23,NaN,19.076396,72.910574,2017-03-06 06:21:50.572,NaN,5597,16,"(19.0763964, 72.9105741)",2867,0,2017,3,0
887,26,0.0,19.076825,72.910497,2017-03-06 07:32:51.000,0.0,1393,48,"(19.0768246, 72.9104967)",45861,0,2017,3,0
888,28,NaN,19.076257,72.910528,2017-03-07 00:24:43.523,NaN,14851,63,"(19.0762572, 72.9105279)",6067,0,2017,3,1
889,24,NaN,19.107093,72.836824,2017-03-07 02:45:14.438,NaN,2363,8474,"(19.1070933, 72.8368237)",1331,1,2017,3,1
890,26,NaN,19.107093,72.836824,2017-03-07 03:18:33.698,NaN,668,0,"(19.1070933, 72.8368237)",1436,1,2017,3,1
891,24,NaN,19.107137,72.837285,2017-03-07 05:15:12.507,NaN,5562,49,"(19.1071374, 72.8372853)",3379,1,2017,3,1
892,50,NaN,19.107178,72.837239,2017-03-07 07:21:45.062,NaN,4213,7,"(19.1071779, 72.8372392)",4510,1,2017,3,1
893,25,NaN,19.111723,72.866040,2017-03-07 10:26:01.637,NaN,6546,3072,"(19.1117232, 72.8660404)",1129,25,2017,3,1
894,23,NaN,19.076396,72.910574,2017-03-07 11:39:21.998,NaN,3271,6104,"(19.0763964, 72.9105741)",26259,0,2017,3,1
895,28,NaN,19.076257,72.910528,2017-03-07 23:33:06.157,NaN,16565,16,"(19.0762572, 72.9105279)",5961,0,2017,3,1
896,49,NaN,19.076504,72.911088,2017-03-08 01:20:35.000,0.0,487,65,"(19.0765038, 72.9110881)",1038,0,2017,3,2
897,24,NaN,19.076225,72.910666,2017-03-08 02:08:54.166,NaN,1861,54,"(19.0762255, 72.9106664)",1051,0,2017,3,2
898,50,NaN,19.107202,72.836085,2017-03-08 08:10:42.893,NaN,20657,8565,"(19.1072023, 72.8360852)",8747,22,2017,3,2
899,23,NaN,19.112598,72.866271,2017-03-08 11:51:51.672,NaN,4521,3232,"(19.1125984, 72.8662712)",1346,20,2017,3,2
900,13,0.0,19.111583,72.865919,2017-03-08 12:20:00.353,0.0,342,118,"(19.1115828, 72.8659194)",1628,25,2017,3,2
901,26,NaN,19.076289,72.910389,2017-03-08 13:20:14.985,NaN,1986,6096,"(19.076289, 72.9103894)",23925,0,2017,3,2
902,28,NaN,19.076257,72.910528,2017-03-08 22:58:45.366,NaN,10785,15,"(19.0762572, 72.9105279)",662,0,2017,3,2
903,29,NaN,19.076217,72.910574,2017-03-09 02:19:48.177,NaN,11400,7,"(19.0762167, 72.9105741)",5019,0,2017,3,3
904,50,NaN,19.107137,72.837285,2017-03-09 04:49:44.821,NaN,3977,8438,"(19.1071374, 72.8372853)",1782,1,2017,3,3
905,32,NaN,19.107093,72.836824,2017-03-09 05:35:50.492,NaN,983,49,"(19.1070933, 72.8368237)",1520,1,2017,3,3
906,48,NaN,19.107157,72.837314,2017-03-09 08:21:05.530,NaN,8395,52,"(19.1071569, 72.8373141)",1326,1,2017,3,3
907,21,NaN,19.107157,72.837314,2017-03-09 09:08:24.370,NaN,1512,0,"(19.1071569, 72.8373141)",723,1,2017,3,3
908,50,NaN,19.107137,72.837285,2017-03-09 09:31:12.792,NaN,645,4,"(19.1071374, 72.8372853)",1563,1,2017,3,3
909,22,NaN,19.112534,72.866272,2017-03-09 10:30:41.166,NaN,2005,3108,"(19.1125342, 72.8662724)",1727,20,2017,3,3
910,25,NaN,19.079069,72.908451,2017-03-09 12:48:20.071,NaN,6531,5781,"(19.0790691, 72.9084514)",1091,-1,2017,3,3
911,23,NaN,19.076397,72.910574,2017-03-09 13:35:29.962,NaN,1738,371,"(19.076397, 72.9105737)",18081,0,2017,3,3
912,23,NaN,19.076396,72.910574,2017-03-09 18:44:53.862,NaN,482,0,"(19.0763964, 72.9105741)",1784,0,2017,3,3
913,26,NaN,19.076298,72.910482,2017-03-09 19:45:34.236,NaN,1856,15,"(19.0762978, 72.9104818)",1171,0,2017,3,3
914,29,NaN,19.076257,72.910528,2017-03-10 02:06:45.289,NaN,21700,7,"(19.0762572, 72.9105279)",1409,0,2017,3,4
915,26,NaN,19.076298,72.910482,2017-03-10 03:50:15.611,NaN,4801,7,"(19.0762978, 72.9104818)",1641,0,2017,3,4
916,16,NaN,19.076390,72.910545,2017-03-10 04:38:44.262,0.0,1267,12,"(19.0763898, 72.9105454)",628,0,2017,3,4
917,24,NaN,19.107137,72.837285,2017-03-10 06:08:15.187,NaN,4742,8427,"(19.1071374, 72.8372853)",6292,1,2017,3,4
918,26,NaN,19.107137,72.837285,2017-03-10 08:18:31.848,NaN,1524,0,"(19.1071374, 72.8372853)",700,1,2017,3,4
919,30,NaN,19.107561,72.837375,2017-03-10 09:27:12.093,NaN,3420,48,"(19.1075609, 72.8373752)",844,1,2017,3,4
920,27,NaN,19.107595,72.837378,2017-03-10 10:05:36.086,NaN,1459,4,"(19.1075953, 72.8373776)",1765,1,2017,3,4
921,24,NaN,19.076313,72.910571,2017-03-10 14:46:39.233,NaN,15098,8445,"(19.0763127, 72.9105714)",20920,0,2017,3,4
922,25,NaN,19.076257,72.910528,2017-03-10 23:08:56.778,NaN,9217,8,"(19.0762572, 72.9105279)",918,0,2017,3,4
923,27,NaN,19.076257,72.910528,2017-03-11 00:23:51.421,NaN,3576,0,"(19.0762572, 72.9105279)",5848,0,2017,3,5
924,25,NaN,19.076225,72.910666,2017-03-11 02:40:58.041,NaN,2378,15,"(19.0762255, 72.9106664)",1771,0,2017,3,5
925,50,NaN,19.107137,72.837285,2017-03-11 05:26:11.612,NaN,8142,8446,"(19.1071374, 72.8372853)",3524,1,2017,3,5
926,20,NaN,19.107498,72.837545,2017-03-11 06:48:39.920,NaN,1424,48,"(19.1074978, 72.8375447)",1813,1,2017,3,5
927,50,NaN,19.107084,72.836731,2017-03-11 08:12:52.771,NaN,3239,97,"(19.1070845, 72.8367314)",1314,1,2017,3,5
928,27,NaN,19.107416,72.837378,2017-03-11 09:18:35.507,NaN,2628,77,"(19.1074157, 72.8373776)",1686,1,2017,3,5
929,24,NaN,19.107569,72.837101,2017-03-11 10:19:49.915,NaN,1988,34,"(19.1075688, 72.8371006)",1318,1,2017,3,5
930,23,NaN,19.107273,72.836824,2017-03-11 10:49:34.764,NaN,466,44,"(19.1072729, 72.8368237)",2213,1,2017,3,5
931,27,NaN,19.107273,72.836824,2017-03-11 11:37:34.068,NaN,666,0,"(19.1072729, 72.8368237)",723,1,2017,3,5
932,48,NaN,19.107228,72.836783,2017-03-11 12:12:48.998,NaN,1391,7,"(19.1072281, 72.8367834)",899,1,2017,3,5
933,24,NaN,19.107273,72.836824,2017-03-11 12:42:39.782,NaN,891,7,"(19.1072729, 72.8368237)",747,1,2017,3,5
934,50,NaN,19.119170,72.911682,2017-03-11 14:41:34.124,NaN,6387,7986,"(19.1191696, 72.9116815)",1679,-1,2017,3,5
935,25,NaN,19.119259,72.911682,2017-03-11 15:51:18.690,NaN,2505,10,"(19.1192594, 72.9116815)",3843,-1,2017,3,5
936,27,NaN,19.076225,72.910666,2017-03-11 17:41:02.295,NaN,2740,4765,"(19.0762255, 72.9106664)",2617,0,2017,3,5
937,25,NaN,19.076307,72.910574,2017-03-12 00:18:27.722,NaN,21228,13,"(19.0763065, 72.9105741)",17122,0,2017,3,6
938,25,NaN,19.079623,72.909559,2017-03-12 05:06:15.743,NaN,146,382,"(19.0796234, 72.9095588)",4079,6,2017,3,6
939,24,NaN,19.076477,72.910482,2017-03-12 07:04:56.767,NaN,3042,362,"(19.0764774, 72.9104818)",19609,0,2017,3,6
940,24,NaN,19.099866,72.916988,2017-03-12 12:53:06.432,NaN,1280,2678,"(19.0998664, 72.9169881)",1406,-1,2017,3,6
941,26,NaN,19.100492,72.916481,2017-03-12 13:58:44.164,NaN,2531,87,"(19.1004918, 72.9164805)",685,-1,2017,3,6
942,16,NaN,19.098893,72.916665,2017-03-12 14:49:40.058,NaN,2370,178,"(19.0988926, 72.9166651)",2359,26,2017,3,6
943,14,176.0,19.076248,72.910494,2017-03-12 16:00:04.000,0.0,1864,2589,"(19.0762477, 72.9104939)",21372,0,2017,3,6
944,27,NaN,19.076257,72.910528,2017-03-13 00:42:46.479,NaN,9990,4,"(19.0762572, 72.9105279)",25504,0,2017,3,0
945,24,NaN,19.076437,72.910528,2017-03-13 09:15:00.957,NaN,5230,20,"(19.0764369, 72.9105279)",8708,0,2017,3,0
946,23,NaN,19.076396,72.910574,2017-03-13 12:01:58.681,NaN,1309,7,"(19.0763964, 72.9105741)",6688,0,2017,3,0
947,23,NaN,19.076048,72.905960,2017-03-13 14:16:40.432,NaN,1393,487,"(19.0760479, 72.9059596)",1751,-1,2017,3,0
948,26,NaN,19.075985,72.910020,2017-03-13 14:58:18.899,NaN,747,427,"(19.0759845, 72.9100203)",765,0,2017,3,0
949,25,NaN,19.076396,72.910574,2017-03-13 15:13:21.865,NaN,137,74,"(19.0763964, 72.9105741)",15172,0,2017,3,0
950,11,NaN,19.076627,72.910513,2017-03-13 23:23:00.393,0.0,14206,26,"(19.0766266, 72.9105128)",6325,0,2017,3,0
951,31,NaN,19.106842,72.837008,2017-03-14 03:56:48.302,NaN,10102,8427,"(19.1068416, 72.8370084)",966,1,2017,3,1
952,20,NaN,19.111449,72.865925,2017-03-14 06:57:40.939,NaN,9886,3085,"(19.1114495, 72.8659249)",805,25,2017,3,1
953,27,NaN,19.111654,72.865871,2017-03-14 09:20:22.000,NaN,7756,23,"(19.1116544, 72.865871)",1229,25,2017,3,1
954,24,NaN,19.076396,72.910574,2017-03-14 10:15:37.762,NaN,2086,6112,"(19.0763964, 72.9105741)",15389,0,2017,3,1
955,44,NaN,19.084621,72.907455,2017-03-14 16:20:41.164,NaN,6514,968,"(19.0846209, 72.9074554)",1932,-1,2017,3,1
956,28,162.0,19.076475,72.910438,2017-03-14 16:58:16.000,2.0,322,955,"(19.0764753, 72.9104377)",7215,0,2017,3,1
957,9,NaN,19.076299,72.910549,2017-03-14 20:30:40.000,0.0,5529,23,"(19.0762994, 72.910549)",972,0,2017,3,1
958,9,NaN,19.076299,72.910549,2017-03-15 00:10:33.170,0.0,12221,0,"(19.0762994, 72.910549)",9535,0,2017,3,2
959,45,25.0,19.107142,72.837049,2017-03-15 03:29:00.000,2.0,2371,8455,"(19.107142, 72.8370486)",2187,1,2017,3,2
960,30,NaN,19.107131,72.837338,2017-03-15 04:43:00.843,NaN,2253,31,"(19.1071305, 72.8373383)",1337,1,2017,3,2
961,32,NaN,19.107131,72.837338,2017-03-15 05:45:21.331,NaN,2403,0,"(19.1071305, 72.8373383)",1417,1,2017,3,2
962,42,NaN,19.107212,72.835829,2017-03-15 06:39:22.607,NaN,1824,159,"(19.1072124, 72.8358286)",1117,22,2017,3,2
963,20,NaN,19.107212,72.835829,2017-03-15 07:18:20.455,NaN,1220,0,"(19.1072124, 72.8358286)",1119,22,2017,3,2
964,48,NaN,19.107212,72.835829,2017-03-15 07:43:23.310,NaN,383,0,"(19.1072124, 72.8358286)",840,22,2017,3,2
965,18,0.0,19.111509,72.866043,2017-03-15 08:43:49.328,0.0,2786,3215,"(19.1115092, 72.8660429)",748,25,2017,3,2
966,23,NaN,19.076396,72.910574,2017-03-15 10:07:09.590,NaN,4252,6088,"(19.0763964, 72.9105741)",39407,0,2017,3,2
967,25,NaN,19.076307,72.910574,2017-03-16 01:51:06.344,NaN,17229,10,"(19.0763065, 72.9105741)",4212,0,2017,3,3
968,12,198.0,19.127299,72.831130,2017-03-16 04:34:38.000,1.0,5599,10087,"(19.1272995, 72.8311295)",935,-1,2017,3,3
969,24,NaN,19.114772,72.836362,2017-03-16 08:16:52.410,NaN,12399,1492,"(19.1147724, 72.8363622)",1663,14,2017,3,3
970,8,301.0,19.112460,72.866583,2017-03-16 09:01:01.000,1.0,985,3190,"(19.1124597, 72.8665827)",1380,20,2017,3,3
971,25,NaN,19.112598,72.866271,2017-03-16 10:20:39.937,NaN,3398,36,"(19.1125984, 72.8662712)",605,20,2017,3,3
972,24,NaN,19.112180,72.867742,2017-03-16 10:33:00.054,NaN,135,162,"(19.1121799, 72.8677418)",1378,27,2017,3,3
973,14,323.0,19.076331,72.910613,2017-03-16 11:28:13.231,1.0,1935,6008,"(19.0763313, 72.9106131)",23324,0,2017,3,3
974,47,0.0,19.076300,72.910482,2017-03-16 18:10:07.000,0.0,789,14,"(19.0762996, 72.9104822)",9546,0,2017,3,3
975,12,NaN,19.076332,72.910564,2017-03-16 21:25:50.012,0.0,2197,9,"(19.0763325, 72.9105639)",3974,0,2017,3,3
976,25,NaN,19.076298,72.910482,2017-03-17 00:40:16.015,NaN,7692,9,"(19.0762978, 72.9104818)",14718,0,2017,3,4
977,26,NaN,19.112061,72.867702,2017-03-17 05:22:57.914,NaN,2243,5995,"(19.1120612, 72.8677019)",628,27,2017,3,4
978,16,0.0,19.071189,72.823187,2017-03-17 06:56:24.000,0.0,4978,6513,"(19.0711892, 72.8231869)",618,28,2017,3,4
979,11,0.0,19.071159,72.823205,2017-03-17 07:28:57.075,0.0,1335,4,"(19.0711592, 72.8232047)",939,28,2017,3,4
980,26,NaN,19.107146,72.837378,2017-03-17 09:50:08.977,NaN,7532,4254,"(19.1071463, 72.8373776)",976,1,2017,3,4
981,24,NaN,19.076396,72.910574,2017-03-17 14:20:40.893,NaN,15255,8421,"(19.0763964, 72.9105741)",21018,0,2017,3,4
982,29,NaN,19.076257,72.910528,2017-03-18 01:13:00.986,NaN,18122,16,"(19.0762572, 72.9105279)",3926,0,2017,3,5
983,11,NaN,19.076486,72.910594,2017-03-18 03:06:45.615,0.0,2898,26,"(19.0764865, 72.9105939)",10736,0,2017,3,5
984,23,NaN,19.076396,72.910574,2017-03-18 06:13:41.307,NaN,479,10,"(19.0763964, 72.9105741)",4665,0,2017,3,5
985,35,114.0,19.106751,72.837011,2017-03-18 08:49:23.194,NaN,4676,8439,"(19.1067507, 72.837011)",3618,1,2017,3,5
986,24,NaN,19.107218,72.837193,2017-03-18 10:37:07.721,NaN,2846,55,"(19.1072184, 72.837193)",1349,1,2017,3,5
987,50,NaN,19.107821,72.836916,2017-03-18 11:09:14.331,NaN,577,73,"(19.1078206, 72.8369161)",726,1,2017,3,5
988,24,NaN,19.107146,72.837378,2017-03-18 11:22:50.009,NaN,89,89,"(19.1071463, 72.8373776)",905,1,2017,3,5
989,34,NaN,19.107131,72.837338,2017-03-18 11:48:41.963,NaN,646,4,"(19.1071305, 72.8373383)",1490,1,2017,3,5
990,20,NaN,19.111449,72.865925,2017-03-18 14:25:14.241,NaN,7902,3046,"(19.1114495, 72.8659249)",645,25,2017,3,5
991,24,NaN,19.103280,72.886301,2017-03-18 15:22:11.665,NaN,2772,2327,"(19.10328, 72.8863008)",4553,-1,2017,3,5
992,12,0.0,19.076448,72.910505,2017-03-18 17:11:50.000,0.0,2025,3913,"(19.0764478, 72.9105055)",4911,0,2017,3,5
993,23,NaN,19.076396,72.910574,2017-03-18 19:04:41.986,NaN,1860,9,"(19.0763964, 72.9105741)",1838,0,2017,3,5
994,26,NaN,19.076307,72.910574,2017-03-19 00:36:26.520,NaN,18066,10,"(19.0763065, 72.9105741)",2231,0,2017,3,6
995,20,NaN,19.107520,72.837039,2017-03-19 03:34:39.868,NaN,8462,8475,"(19.1075203, 72.8370386)",1209,1,2017,3,6
996,50,NaN,19.107146,72.837378,2017-03-19 03:56:34.653,NaN,105,55,"(19.1071463, 72.8373776)",834,1,2017,3,6
997,50,NaN,19.105706,72.836870,2017-03-19 04:16:59.672,NaN,391,168,"(19.1057058, 72.8368699)",1259,-1,2017,3,6
998,50,NaN,19.107264,72.836731,2017-03-19 05:47:01.099,NaN,4142,173,"(19.107264, 72.8367314)",1489,1,2017,3,6
999,50,NaN,19.107264,72.836731,2017-03-19 06:26:47.310,NaN,897,0,"(19.107264, 72.8367314)",842,1,2017,3,6
1000,24,NaN,19.107192,72.836916,2017-03-19 07:36:56.801,NaN,3367,21,"(19.107192, 72.8369161)",615,1,2017,3,6
1001,50,NaN,19.107264,72.836731,2017-03-19 08:12:52.900,NaN,1541,21,"(19.107264, 72.8367314)",2415,1,2017,3,6
1002,50,NaN,19.107176,72.835808,2017-03-19 09:46:15.047,NaN,3187,98,"(19.1071759, 72.8358083)",1574,22,2017,3,6
1003,25,NaN,19.106743,72.836916,2017-03-19 10:33:10.693,NaN,1241,126,"(19.1067429, 72.8369161)",1001,1,2017,3,6
1004,29,NaN,19.107218,72.837193,2017-03-19 11:16:59.238,NaN,1627,60,"(19.1072184, 72.837193)",3706,1,2017,3,6
1005,33,NaN,19.106743,72.836916,2017-03-19 12:49:41.569,NaN,1856,60,"(19.1067429, 72.8369161)",2121,1,2017,3,6
1006,28,NaN,19.106931,72.837008,2017-03-19 13:31:19.226,NaN,376,23,"(19.1069314, 72.8370084)",3160,1,2017,3,6
1007,39,184.0,19.076629,72.910740,2017-03-19 17:12:07.563,0.0,10088,8453,"(19.0766287, 72.9107401)",3372,0,2017,3,6
1008,25,NaN,19.076307,72.910574,2017-03-19 19:10:49.494,NaN,3749,40,"(19.0763065, 72.9105741)",5548,0,2017,3,6
1009,26,NaN,19.076315,72.910666,2017-03-19 21:41:23.990,NaN,3486,10,"(19.0763153, 72.9106664)",4535,0,2017,3,6
1010,29,NaN,19.076419,72.910343,2017-03-19 23:53:24.849,NaN,3385,36,"(19.0764194, 72.9103432)",1607,0,2017,3,6
1011,50,NaN,19.107176,72.835808,2017-03-20 01:53:08.290,NaN,5576,8551,"(19.1071759, 72.8358083)",1874,22,2017,3,0
1012,50,NaN,19.107146,72.837378,2017-03-20 05:21:57.720,NaN,10655,165,"(19.1071463, 72.8373776)",4273,1,2017,3,0
1013,41,179.0,19.076569,72.910415,2017-03-20 08:48:11.000,3.0,8100,8398,"(19.0765688, 72.910415)",7263,0,2017,3,0
1014,23,NaN,19.076396,72.910574,2017-03-20 11:28:37.821,NaN,2363,25,"(19.0763964, 72.9105741)",27932,0,2017,3,0
1015,50,NaN,19.106976,72.837470,2017-03-21 04:09:09.390,NaN,32099,8405,"(19.1069755, 72.83747)",5717,1,2017,3,1
1016,24,NaN,19.107326,72.837378,2017-03-21 06:09:29.314,NaN,1502,40,"(19.1073259, 72.8373776)",1360,1,2017,3,1
1017,50,NaN,19.107056,72.837378,2017-03-21 06:46:59.695,NaN,890,30,"(19.1070564, 72.8373776)",1374,1,2017,3,1
1018,24,NaN,19.107056,72.837378,2017-03-21 07:50:46.300,NaN,2452,0,"(19.1070564, 72.8373776)",2647,1,2017,3,1
1019,33,357.0,19.111228,72.866250,2017-03-21 09:25:58.404,0.0,3065,3073,"(19.1112282, 72.8662502)",2510,-1,2017,3,1
1020,13,NaN,19.076396,72.910574,2017-03-21 11:08:48.715,NaN,3660,6052,"(19.0763964, 72.9105741)",17634,0,2017,3,1

In [57]:
# Form clusters
# Takes dataframe of staypoints as parameter and adds a column cluster_id to it
# Uses DBSCAN, param: min_smaples and epsilon
def form_clusters(df):
  coords = df.as_matrix(columns=['latitude', 'longitude'])
  
  kms_per_radian = 6371.0088
  epsilon = 0.02 / kms_per_radian
  db = DBSCAN(eps=epsilon, min_samples=3, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
  cluster_labels = db.labels_
  num_clusters = len(set(cluster_labels))
  
  df['cluster_id'] = cluster_labels
  
  print('Number of clusters: {}'.format(num_clusters))

In [101]:
form_clusters(df)

Number of clusters: 68

In [62]:
colors = ['black', 'white', 'red', 'green','blue', 'pink', 'purple', 'yellow', 'violet', 'indigo', 'orange', 'cyan', 'gray']

nClusters = df['cluster_id'].max()+1

gmap = gmplot.GoogleMapPlotter(19.05, 72.8, 16)

for i in range(0,nClusters):
    gmap.scatter(df[df.cluster_id==i]['latitude'], df[df.cluster_id==i]['longitude'], colors[i%13] , marker=True)
gmap.draw('plot.html')

del gmap

In [167]:
# Create a df to reduce the clusters to centroids

centroids = pd.DataFrame()
centroids['cluster_id'] = list(range(df.cluster_id.max()+1)) 
centroids.set_index('cluster_id', inplace=True)
centroids['latitude'] = 0.0
centroids['longitude'] = 0.0
centroids['total_visit'] = 0
centroids['total_frequency'] = 0

for i in centroids.index:
    
    rows = df[df['cluster_id']==i]
    centroids['latitude'][i] = rows['latitude'].mean()
    centroids['longitude'][i] = rows['longitude'].mean()
    centroids['total_visit'][i] = rows['visit_time'].sum()
    centroids['total_frequency'][i] = rows.shape[0]
    
centroids

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             latitude  longitude  total_visit  total_frequency
cluster_id
0           19.076355  72.910521     18374534             1570
1           19.107249  72.837077      1131013              374
2           19.098022  72.916449        56580                8
3           17.447422  78.383308       181026               50
4           17.572869  78.557178        88918               10
5           19.012173  73.023321        13950               10
6           19.079646  72.909528        51046               14
7           19.083434  72.912678         6283                3
8           19.080622  72.892314        26296                5
9           46.438700   6.906421        47313               10
10          47.049516   8.300535        26056                5
11          47.422693   8.559049        22603                4
12          19.085405  72.908842         7368                4
13          19.086609  72.907948         5185                5
14          19.114684  72.836256        43596               13
15          19.078539  72.903980         5888                3
16          19.069135  72.900362         5451                3
17          17.924682  73.655620        96342               10
18          19.012409  73.023719        11430                7
19          19.074733  72.905276        12866                6
20          19.112469  72.866494        59282               35
21          19.108226  72.836893        17632                6
22          19.107142  72.835847        76156               31
23          19.086032  72.908140         9304                6
24          19.108916  72.836950         4850                3
25          19.111631  72.866045        33011               23
26          19.099091  72.916581         8025                4
27          19.112182  72.867692        10199               10
28          19.071137  72.823206         4065                3
29          18.462822  73.918972        22703                8
...               ...        ...          ...              ...
37          19.112078  72.867288         3055                4
38          19.099851  72.916339        17433                4
39          19.011980  73.023833        45904                9
40          19.012155  73.014292         3212                3
41          19.116260  72.909651         9538                4
42          19.134105  72.915154        17513                5
43          19.065369  72.860956         4071                3
44          19.077366  72.911256        21788                4
45          19.012667  73.023275         7570                3
46          19.080287  72.892392        15003                4
47          19.087178  72.908598         7740                3
48          19.075068  72.909135        48108                7
49          19.032950  73.023640        14774                3
50          19.103798  72.836955         3622                3
51          19.074756  72.909326         4103                6
52          23.033233  72.519161      3017469               54
53          23.186685  72.628761        66314               12
54          23.188663  72.627018         6061                3
55          19.076070  72.911396         5107                3
56          23.032196  72.535732         6210                4
57          23.031723  72.535075        18306               12
58          23.031885  72.535512        14725                5
59          23.030974  72.538102        94101               16
60          23.039948  72.530964        10754                3
61          23.035126  72.520620       172320                9
62          23.037730  72.514490        19208                3
63          23.037866  72.514827        25177                3
64          23.038174  72.514629        56882                3
65          23.031859  72.511431         6050                3
66          19.072372  72.896878         5423                3

[67 rows x 4 columns]

In [118]:
gmap = gmplot.GoogleMapPlotter(19.05, 72.8, 16)
gmap.scatter(centroids['latitude'], centroids['longitude'], 'black' , marker=True)
gmap.draw('centroids.html')

del gmap

In [211]:
def tagClusters(centroids):
    
    centroids['tag'] = "Unkown"
    
    # Tag other centroids
    for cluster_id, cluster in centroids.iterrows():
        if checkMall(cluster_id, cluster): centroids['tag'].iloc[cluster_id] = 'Mall'
        elif checkPark(cluster_id, cluster): centroids['tag'].iloc[cluster_id] = 'Park'
        
    tagHome(centroids)
    tagWork(centroids)
    
    
# Tags the centroid with maximum time spent as home
def tagHome(centroids):
    home_id = centroids['total_visit'].idxmax()
    centroids['tag'][home_id] = 'Home'
    
# Tags the centroid with 2nd maximum time spent as work 
def tagWork(centroids):
    home_id = centroids['total_visit'].idxmax()
    temp = centroids.drop(home_id)
    work_id = temp['total_visit'].idxmax()
    centroids['tag'][work_id] = 'Work'
    
# Checks for a mall nearby
def checkMall(cluster_id, cluster):
        
    mall_radius = 50
    start = 10
    end = 22
    threshold = 0.5
    
    lat = cluster['latitude']
    long = cluster['longitude']
    
    # Retrieve the list of nearby malls
    malls = requests.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=' + str(lat) + ',' + str(long) 
                       + '&radius=' +str(mall_radius) +'&type=shopping_mall&key=AIzaSyBdqlVT2vWz9wu_olDovWYI561da6QtKyk').json()['results']

    # Get the staypoints belonging to this cluster
    staypoints = df[df['cluster_id']==cluster_id]
    stayhours = staypoints['timestamp'].apply(lambda x: x.hour)
    stayhours = stayhours.apply(lambda x: x>=start and x<end)
    
    # Iterate over the results to check if the location falls within its bounds
    if malls and stayhours.mean()>threshold: return True
    else: return False
    
# Checks for a park nearby
def checkPark(cluster_id, cluster):
    
    morning_start = 6
    morning_end = 9
    evening_start = 16
    evening_end = 18
    park_radius = 40
    threshold = 0.5

    lat = cluster['latitude']
    long = cluster['longitude']
    
    # Retrieve the list of nearby parks
    parks = requests.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=' + str(lat) + ',' + str(long) 
                       + '&radius=' +str(park_radius) +'&type=park&key=AIzaSyBdqlVT2vWz9wu_olDovWYI561da6QtKyk').json()['results']

    # Get the staypoints belonging to this cluster
    staypoints = df[df['cluster_id']==cluster_id]
    stayhours = staypoints['timestamp'].apply(lambda x: x.hour)
    stayhours = stayhours.apply(lambda x: (x>=morning_start and x<=morning_end) or (x>=evening_start and x<=evening_end) )
    
    # Iterate over the results to check if the location falls within its bounds
    if parks and stayhours.mean()>threshold : return True
    else: return False

In [212]:
tagClusters(centroids)

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [213]:
centroids['tag'].value_counts()

Unkown    60
Mall       5
Home       1
Work       1
Name: tag, dtype: int64