In [2]:
import pandas as pd
from geopy import distance
from tqdm import tqdm
import gmplot
from matplotlib import pyplot as plt
from sklearn.cluster import DBSCAN
import numpy as np
import requests
import json

In [3]:
filepath = "/home/yash/Documents/CB/location_data/"
filename = "original_points/User3.json"

# Less -> More accuracy
accuracy_threshold = 50

tdiff_threshold = 1200 # In seconds

geodist_threshold = 50 # In metres

visit_threshold = 300 # In seconds

## Load Dataset and clean it

In [14]:
# Read file into dataframe
df = pd.read_json(filepath+filename, orient='records')

# Drop useless columns
df.drop(['activity', 'altitude', 'verticalAccuracy', 'heading', 'velocity'], axis=1, inplace=True)

# Rename weirdly named columns
df.rename(index = int, columns = {'latitudeE7':'latitude',
                                  'longitudeE7': 'longitude',
                                  'timestampMs' : 'timestamp'}, inplace =True)
# Add offset for GMT to IST
df['timestamp'].apply(lambda x: x+pd.Timedelta(hours=5, minutes=30))

# Apply accuracy filter
df = df[df['accuracy'] <= accuracy_threshold]

# Apply the time range filter
df = df[df['timestamp'].dt.year==2014]

# Arrange the dataframe in ascending time order
df = df.reindex(index=df.index[::-1])
df['index'] = list(range(df.shape[0])) 
df.set_index('index', inplace=True)

# Initialise time difference and geodist columns
df['tdiff'] = 0
df['geodist'] = 0

# Lat and Long in the form 19045972, 73025802
# Convert to 19.045972, 73.025802
df['latitude'] = df['latitude'].apply(lambda x: x/10000000)
df['longitude'] = df['longitude'].apply(lambda x: x/10000000)
df['location'] = list(zip(df.latitude, df.longitude))

# Add additional date and time related columns
df['day'] = df['timestamp'].dt.weekday
df['week'] = df['timestamp'].dt.week
df['month'] = df['timestamp'].dt.month
df['year'] = df['timestamp'].dt.year

df

,accuracy,latitude,longitude,timestamp,tdiff,geodist,location,day,week,month,year
index,,,,,,,,,,,
0,43,18.971995,72.808788,2014-01-01 00:00:57.565,0,0,"(18.9719951, 72.8087883)",2,1,1,2014
1,21,18.972108,72.808674,2014-01-01 00:01:57.742,0,0,"(18.9721078, 72.8086744)",2,1,1,2014
2,43,18.971751,72.808505,2014-01-01 00:02:57.792,0,0,"(18.9717509, 72.8085047)",2,1,1,2014
3,43,18.971751,72.808505,2014-01-01 00:03:58.400,0,0,"(18.9717509, 72.8085047)",2,1,1,2014
4,43,18.971751,72.808505,2014-01-01 00:04:59.187,0,0,"(18.9717509, 72.8085047)",2,1,1,2014
5,43,18.971751,72.808505,2014-01-01 00:05:59.552,0,0,"(18.9717509, 72.8085047)",2,1,1,2014
6,27,18.972165,72.808686,2014-01-01 00:06:59.713,0,0,"(18.9721652, 72.8086857)",2,1,1,2014
7,37,18.972115,72.808769,2014-01-01 00:07:59.736,0,0,"(18.9721151, 72.808769)",2,1,1,2014
8,36,18.972122,72.808761,2014-01-01 00:08:59.699,0,0,"(18.9721224, 72.8087605)",2,1,1,2014
9,37,18.970088,72.810233,2014-01-01 00:11:59.934,0,0,"(18.9700879, 72.8102332)",2,1,1,2014
10,37,18.972115,72.808769,2014-01-01 00:12:59.779,0,0,"(18.9721151, 72.808769)",2,1,1,2014
11,43,18.971832,72.808528,2014-01-01 00:16:44.587,0,0,"(18.971832, 72.8085277)",2,1,1,2014
12,24,18.972165,72.808687,2014-01-01 00:17:45.021,0,0,"(18.9721652, 72.808687)",2,1,1,2014
13,45,18.972085,72.808783,2014-01-01 00:19:46.796,0,0,"(18.9720852, 72.8087833)",2,1,1,2014
14,45,18.972085,72.808783,2014-01-01 00:20:45.904,0,0,"(18.9720852, 72.8087833)",2,1,1,2014
15,36,18.972131,72.808755,2014-01-01 00:21:46.263,0,0,"(18.9721315, 72.8087546)",2,1,1,2014
16,28,18.969704,72.808650,2014-01-01 00:22:46.216,0,0,"(18.9697044, 72.80865)",2,1,1,2014
17,37,18.972091,72.808709,2014-01-01 00:23:46.314,0,0,"(18.9720905, 72.8087092)",2,1,1,2014
18,24,18.972094,72.808659,2014-01-01 00:24:49.978,0,0,"(18.9720936, 72.8086591)",2,1,1,2014
19,27,18.969705,72.808650,2014-01-01 00:25:50.139,0,0,"(18.969705, 72.8086498)",2,1,1,2014
20,47,18.972019,72.808688,2014-01-01 00:28:15.608,0,0,"(18.972019, 72.8086883)",2,1,1,2014
21,50,18.972046,72.808708,2014-01-01 00:29:44.589,0,0,"(18.9720459, 72.8087077)",2,1,1,2014
22,27,18.969705,72.808650,2014-01-01 00:31:44.716,0,0,"(18.969705, 72.8086498)",2,1,1,2014
23,24,18.969705,72.808651,2014-01-01 00:32:44.666,0,0,"(18.969705, 72.8086511)",2,1,1,2014
24,27,18.972165,72.808686,2014-01-01 00:34:44.670,0,0,"(18.9721652, 72.8086857)",2,1,1,2014
25,40,18.971840,72.808533,2014-01-01 00:35:44.753,0,0,"(18.9718398, 72.8085326)",2,1,1,2014
26,28,18.972166,72.808674,2014-01-01 00:36:44.716,0,0,"(18.9721658, 72.8086743)",2,1,1,2014
27,28,18.972166,72.808674,2014-01-01 00:37:44.696,0,0,"(18.9721658, 72.8086743)",2,1,1,2014
28,28,18.969704,72.808650,2014-01-01 00:38:44.808,0,0,"(18.9697044, 72.80865)",2,1,1,2014
29,40,18.971893,72.808554,2014-01-01 00:42:45.034,0,0,"(18.9718926, 72.8085537)",2,1,1,2014
...,...,...,...,...,...,...,...,...,...,...,...
136291,36,18.970795,72.809441,2014-12-31 19:44:14.113,0,0,"(18.9707953, 72.8094411)",2,1,12,2014
136292,36,18.970795,72.809441,2014-12-31 19:44:59.585,0,0,"(18.9707953, 72.8094411)",2,1,12,2014
136293,36,18.970795,72.809441,2014-12-31 19:47:44.070,0,0,"(18.9707953, 72.8094411)",2,1,12,2014
136294,50,18.971183,72.809117,2014-12-31 19:48:35.130,0,0,"(18.9711825, 72.8091172)",2,1,12,2014
136295,27,18.971748,72.808816,2014-12-31 19:49:44.826,0,0,"(18.9717478, 72.8088159)",2,1,12,2014
136296,30,18.971721,72.808851,2014-12-31 19:52:16.230,0,0,"(18.9717213, 72.8088511)",2,1,12,2014
136297,20,18.971743,72.808822,2014-12-31 19:53:10.292,0,0,"(18.9717432, 72.8088222)",2,1,12,2014
136298,27,18.971747,72.808816,2014-12-31 19:54:33.462,0,0,"(18.9717474, 72.8088164)",2,1,12,2014
136299,42,18.971680,72.808858,2014-12-31 19:55:44.961,0,0,"(18.9716797, 72.8088583)",2,1,12,2014
136300,20,18.971728,72.808779,2014-12-31 19:58:31.150,0,0,"(18.9717282, 72.8087788)",2,1,12,2014
136301,37,18.971745,72.808826,2014-12-31 20:01:21.518,0,0,"(18.9717449, 72.8088262)",2,1,12,2014
136302,45,18.971773,72.808854,2014-12-31 20:02:36.978,0,0,"(18.9717725, 72.8088541)",2,1,12,2014
136303,20,18.971726,72.808773,2014-12-31 20:03:46.247,0,0,"(18.9717259, 72.8087731)",2,1,12,2014
136304,45,18.971700,72.808864,2014-12-31 20:06:22.359,0,0,"(18.9716999, 72.8088636)",2,1,12,2014
136305,25,18.971718,72.808835,2014-12-31 20:07:17.112,0,0,"(18.9717182, 72.8088345)",2,1,12,2014
136306,30,18.971727,72.808841,2014-12-31 20:11:01.430,0,0,"(18.9717268, 72.8088405)",2,1,12,2014
136307,37,18.971740,72.808801,2014-12-31 20:14:06.752,0,0,"(18.9717404, 72.8088007)",2,1,12,2014
136308,37,18.971710,72.808859,2014-12-31 20:19:10.976,0,0,"(18.9717103, 72.8088588)",2,1,12,2014
136309,24,18.971723,72.808831,2014-12-31 20:21:17.632,0,0,"(18.971723, 72.8088308)",2,1,12,2014
136310,24,18.971728,72.808849,2014-12-31 20:22:07.085,0,0,"(18.9717277, 72.8088493)",2,1,12,2014
136311,42,18.971729,72.808843,2014-12-31 20:22:53.636,0,0,"(18.9717294, 72.8088435)",2,1,12,2014
136312,42,18.971728,72.808844,2014-12-31 20:24:28.699,0,0,"(18.9717282, 72.8088439)",2,1,12,2014
136313,20,18.971703,72.808864,2014-12-31 20:25:55.015,0,0,"(18.9717032, 72.8088639)",2,1,12,2014
136314,40,18.971707,72.808866,2014-12-31 20:27:42.066,0,0,"(18.9717072, 72.8088664)",2,1,12,2014
136315,49,18.971689,72.808869,2014-12-31 20:28:44.362,0,0,"(18.9716888, 72.808869)",2,1,12,2014
136316,30,18.971724,72.808838,2014-12-31 20:33:56.960,0,0,"(18.9717244, 72.8088384)",2,1,12,2014
136317,39,18.971712,72.808855,2014-12-31 20:34:45.467,0,0,"(18.9717124, 72.8088548)",2,1,12,2014
136318,37,18.971740,72.808843,2014-12-31 20:36:51.236,0,0,"(18.9717395, 72.8088432)",2,1,12,2014
136319,24,18.971740,72.808800,2014-12-31 20:37:37.382,0,0,"(18.9717404, 72.8087997)",2,1,12,2014
136320,36,18.971714,72.808854,2014-12-31 20:38:39.811,0,0,"(18.971714, 72.8088542)",2,1,12,2014

## Calculate Differences between consecutive points

In [166]:
# Returns time difference between 2 timestamps in seconds
def timeDiff(t1, t2):
    return round(pd.Timedelta(t2 - t1).seconds)

# Returns geographic distance between coordinates in metres
def geoDist(l1, l2):
    return round(distance.vincenty(l1, l2).m )

In [167]:
# Generate two series objects from the timestamps in such a way that both can be subtracts(timeDiff)
# Combine the two series objects wuth the function tdiff

ts = df['timestamp']
ts1 = ts.shift(periods=1)[1:]
ts2 = ts[1:]

df['tdiff'] = ts1.astype(object).combine(ts2, func=timeDiff)
df['tdiff'][0] = 0

location = df['location']
location1 = location.shift(periods=1)[1:]
location2 = location[1:]

df['geodist'] = location1.astype(object).combine(location2, func=geoDist)
df['geodist'][0] = 0

df

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,accuracy,latitude,longitude,timestamp,velocity,tdiff,geodist,location,day,week,month,year
index,,,,,,,,,,,,
0,24,19.107731,72.839502,2018-01-02 08:57:52.707,NaN,0,0,"(19.1077314, 72.8395022)",1,1,1,2018
1,23,19.107733,72.839515,2018-01-02 08:59:38.334,NaN,105,1,"(19.1077325, 72.839515)",1,1,1,2018
2,23,19.107736,72.839508,2018-01-02 09:00:52.363,NaN,74,1,"(19.107736, 72.8395077)",1,1,1,2018
3,7,19.107695,72.839625,2018-01-02 09:01:12.739,1.0,20,13,"(19.107695, 72.8396248)",1,1,1,2018
4,4,19.107770,72.839625,2018-01-02 09:01:28.768,1.0,16,8,"(19.1077703, 72.8396251)",1,1,1,2018
5,24,19.108127,72.839717,2018-01-02 09:02:34.905,NaN,66,41,"(19.1081265, 72.839717)",1,1,1,2018
6,25,19.108166,72.839665,2018-01-02 09:03:40.444,NaN,65,7,"(19.1081657, 72.839665)",1,1,1,2018
7,25,19.108166,72.839665,2018-01-02 09:04:40.556,NaN,60,0,"(19.1081657, 72.839665)",1,1,1,2018
8,24,19.108158,72.839648,2018-01-02 09:05:00.248,NaN,19,2,"(19.1081577, 72.8396477)",1,1,1,2018
9,25,19.108107,72.839703,2018-01-02 09:05:40.349,NaN,40,8,"(19.1081072, 72.8397035)",1,1,1,2018
10,24,19.108128,72.839689,2018-01-02 09:06:02.794,NaN,22,3,"(19.1081283, 72.8396889)",1,1,1,2018
11,24,19.108128,72.839689,2018-01-02 09:09:00.890,NaN,178,0,"(19.1081283, 72.8396889)",1,1,1,2018
12,24,19.108118,72.839686,2018-01-02 09:12:03.218,NaN,182,1,"(19.1081184, 72.8396865)",1,1,1,2018
13,26,19.108182,72.839671,2018-01-02 09:12:18.993,NaN,15,7,"(19.1081815, 72.8396713)",1,1,1,2018
14,24,19.108295,72.838851,2018-01-02 09:18:20.034,NaN,361,87,"(19.1082954, 72.8388509)",1,1,1,2018
15,24,19.108297,72.838853,2018-01-02 09:18:36.820,NaN,16,0,"(19.1082974, 72.838853)",1,1,1,2018
16,24,19.108297,72.838848,2018-01-02 09:19:05.071,NaN,28,1,"(19.108297, 72.8388481)",1,1,1,2018
17,28,19.108151,72.839762,2018-01-02 09:23:08.240,NaN,243,98,"(19.108151, 72.8397621)",1,1,1,2018
18,24,19.108126,72.840200,2018-01-02 09:25:53.859,NaN,165,46,"(19.1081264, 72.8401998)",1,1,1,2018
19,13,19.106910,72.840140,2018-01-02 09:27:06.762,3.0,72,135,"(19.1069097, 72.8401398)",1,1,1,2018
20,30,19.106365,72.840153,2018-01-02 09:27:53.864,NaN,47,60,"(19.1063646, 72.8401525)",1,1,1,2018
21,24,19.104833,72.839397,2018-01-02 09:28:52.173,NaN,58,187,"(19.1048328, 72.839397)",1,1,1,2018
22,12,19.099693,72.839546,2018-01-02 09:31:00.000,NaN,127,569,"(19.0996928, 72.8395464)",1,1,1,2018
23,8,19.098057,72.839614,2018-01-02 09:31:26.000,NaN,26,181,"(19.0980571, 72.8396142)",1,1,1,2018
24,5,19.094837,72.839635,2018-01-02 09:32:29.000,NaN,63,356,"(19.0948367, 72.8396353)",1,1,1,2018
25,9,19.089735,72.838312,2018-01-02 09:35:02.000,NaN,153,582,"(19.0897353, 72.8383121)",1,1,1,2018
26,15,19.088144,72.838337,2018-01-02 09:36:04.000,NaN,62,176,"(19.0881443, 72.8383369)",1,1,1,2018
27,29,19.087922,72.838240,2018-01-02 09:40:41.189,NaN,277,27,"(19.0879224, 72.8382396)",1,1,1,2018
28,30,19.085341,72.838029,2018-01-02 09:41:41.207,NaN,60,287,"(19.0853408, 72.8380288)",1,1,1,2018
29,3,19.081559,72.838033,2018-01-02 09:43:57.000,NaN,135,419,"(19.081559, 72.8380331)",1,1,1,2018
...,...,...,...,...,...,...,...,...,...,...,...,...
46544,30,19.076655,72.862286,2018-05-08 03:15:19.228,NaN,138,0,"(19.0766554, 72.8622861)",1,19,5,2018
46545,26,19.076656,72.862242,2018-05-08 03:17:37.985,NaN,138,5,"(19.0766557, 72.8622417)",1,19,5,2018
46546,26,19.076656,72.862242,2018-05-08 03:19:40.716,NaN,122,0,"(19.0766557, 72.8622417)",1,19,5,2018
46547,26,19.076656,72.862242,2018-05-08 03:22:49.599,NaN,188,0,"(19.0766561, 72.8622416)",1,19,5,2018
46548,26,19.076656,72.862242,2018-05-08 03:24:53.371,NaN,123,0,"(19.0766561, 72.8622416)",1,19,5,2018
46549,26,19.076655,72.862241,2018-05-08 03:27:40.342,NaN,166,0,"(19.0766551, 72.8622414)",1,19,5,2018
46550,26,19.076655,72.862242,2018-05-08 03:29:56.279,NaN,135,0,"(19.0766554, 72.8622422)",1,19,5,2018
46551,26,19.076655,72.862242,2018-05-08 03:32:14.614,NaN,138,0,"(19.0766554, 72.8622422)",1,19,5,2018
46552,18,19.076608,72.862111,2018-05-08 03:32:30.000,1.0,15,15,"(19.0766085, 72.8621107)",1,19,5,2018
46553,11,19.076590,72.862046,2018-05-08 03:54:50.182,2.0,1340,7,"(19.0765904, 72.8620457)",1,19,5,2018
46554,11,19.076590,72.862046,2018-05-08 03:54:50.630,2.0,0,0,"(19.0765904, 72.8620457)",1,19,5,2018
46555,11,19.076590,72.862046,2018-05-08 03:54:54.110,2.0,3,0,"(19.0765904, 72.8620457)",1,19,5,2018
46556,26,19.076655,72.862242,2018-05-08 05:25:29.348,NaN,5435,22,"(19.0766554, 72.8622422)",1,19,5,2018
46557,26,19.076655,72.862242,2018-05-08 05:25:30.133,NaN,0,0,"(19.0766554, 72.8622422)",1,19,5,2018
46558,26,19.076655,72.862242,2018-05-08 05:25:33.603,NaN,3,0,"(19.0766554, 72.8622422)",1,19,5,2018
46559,25,19.076652,72.862240,2018-05-08 05:28:07.811,NaN,154,0,"(19.0766515, 72.8622401)",1,19,5,2018
46560,25,19.076652,72.862240,2018-05-08 05:28:11.344,NaN,3,0,"(19.0766515, 72.8622401)",1,19,5,2018
46561,25,19.076652,72.862240,2018-05-08 05:30:12.464,NaN,121,0,"(19.0766515, 72.8622401)",1,19,5,2018
46562,26,19.076652,72.862238,2018-05-08 05:36:06.205,NaN,353,0,"(19.0766518, 72.862238)",1,19,5,2018
46563,28,19.076653,72.862241,2018-05-08 05:36:36.478,NaN,30,0,"(19.0766528, 72.8622409)",1,19,5,2018
46564,28,19.076653,72.862241,2018-05-08 05:41:37.739,NaN,301,0,"(19.0766528, 72.8622409)",1,19,5,2018
46565,28,19.076653,72.862241,2018-05-08 05:46:19.834,NaN,282,0,"(19.0766528, 72.8622409)",1,19,5,2018
46566,25,19.076753,72.862228,2018-05-08 05:46:36.000,0.0,16,11,"(19.0767535, 72.8622275)",1,19,5,2018
46567,12,19.076710,72.862116,2018-05-08 06:11:18.293,0.0,1482,13,"(19.0767099, 72.8621165)",1,19,5,2018
46568,12,19.076710,72.862116,2018-05-08 06:11:18.839,0.0,0,0,"(19.0767099, 72.8621165)",1,19,5,2018
46569,12,19.076710,72.862116,2018-05-08 06:11:22.310,0.0,3,0,"(19.0767099, 72.8621165)",1,19,5,2018
46570,27,19.076651,72.862240,2018-05-08 06:16:42.363,NaN,320,15,"(19.0766513, 72.86224)",1,19,5,2018
46571,27,19.076651,72.862240,2018-05-08 06:16:43.057,NaN,0,0,"(19.0766513, 72.86224)",1,19,5,2018
46572,16,19.076655,72.862240,2018-05-08 06:18:59.521,NaN,136,0,"(19.0766553, 72.8622398)",1,19,5,2018
46573,16,19.076655,72.862240,2018-05-08 06:21:03.733,NaN,124,0,"(19.0766553, 72.8622398)",1,19,5,2018

## Generate Staypoints

In [168]:
# Start processing each row and compare with the previous row's tdiff and geodist
# If it fits within tdiff and geodist bounds, consider the point to be a part of the staypoint

# Set the first entry to be the parent SP

df['visit_time'] = 0

parent = 0
location = df['location'][parent] # Location of current parent
visit_time = 0 # Intialising the visit_time
counter = 1 # Number points forming the new staypoint
lat = df['latitude'][parent] # Location of the parent
long = df['longitude'][parent]

for i in tqdm(df.index[1:]):
    
    # Check if the entry's tdiff and geodist fall within constraints
    
    # If yes, add its time to total time at that SP
    if (df['geodist'][i]<=geodist_threshold and df['tdiff'][i]<=tdiff_threshold and geoDist(location, df['location'][i])<=geodist_threshold):
        visit_time += df['tdiff'][i]
        lat += df['latitude'][i] # Summing the location of all points forming the SP
        long += df['longitude'][i]
        counter += 1
        df.drop(i, inplace=True)
    
    # If no, make the parent entry SP and set this to be the parent entry
    else:
        
        if visit_time < visit_threshold:
            df.drop(parent, inplace=True)
            
        else:
            # Set visit time and location of the newly formed SP
            df.loc[parent, 'visit_time'] = visit_time
            lat /= counter
            long /= counter
            df.loc[parent, 'latitude'] = lat
            df.loc[parent, 'longitude'] = long
            df['location'][parent] = (lat,long)
            

        # Set new parent
        parent = i
        lat = df['latitude'][parent]
        long = df['longitude'][parent]
        location = df['location'][parent]
        counter = 1
        visit_time = 0

df

  0%|          | 13/46573 [00:00<06:09, 126.06it/s]/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
100%|██████████| 46573/46573 [07:18<00:00, 106.29it/s]

,accuracy,latitude,longitude,timestamp,velocity,tdiff,geodist,location,day,week,month,year,visit_time
index,,,,,,,,,,,,,
6,25,19.108144,72.839677,2018-01-02 09:03:40.444,NaN,65,7,"(19.1081441, 72.8396771)",1,1,1,2018,516
31,27,19.076308,72.837945,2018-01-02 09:46:02.766,NaN,60,235,"(19.0763081429, 72.8379451486)",1,1,1,2018,4472
68,25,19.076639,72.862119,2018-01-02 11:14:26.272,NaN,199,740,"(19.0766390211, 72.8621188368)",1,1,1,2018,1910
93,27,19.076658,72.862114,2018-01-02 11:58:51.500,NaN,59,57,"(19.0766583469, 72.8621140219)",1,1,1,2018,6138
157,35,19.076439,72.862100,2018-01-02 13:52:19.541,NaN,646,23,"(19.07643896, 72.86209954)",1,1,1,2018,1551
164,50,19.076470,72.862119,2018-01-02 15:27:25.627,NaN,1658,22,"(19.0764698, 72.86211918)",1,1,1,2018,474
169,23,19.076636,72.862178,2018-01-02 16:03:21.963,NaN,1681,19,"(19.0766362, 72.862178173)",1,1,1,2018,7183
243,31,19.076630,72.862176,2018-01-03 02:11:23.414,NaN,29267,23,"(19.0766299577, 72.8621761488)",2,1,1,2018,23683
456,29,19.076636,72.862130,2018-01-03 09:55:56.094,NaN,4094,10,"(19.0766364842, 72.8621301904)",2,1,1,2018,13148
585,26,19.076666,72.862132,2018-01-03 13:56:45.315,NaN,61,47,"(19.0766659875, 72.8621323208)",2,1,1,2018,5174
633,48,19.076621,72.862210,2018-01-03 15:44:03.828,NaN,1248,0,"(19.0766208287, 72.862210233)",2,1,1,2018,17916
757,24,19.076626,72.862197,2018-01-03 22:43:58.139,NaN,1832,0,"(19.0766260183, 72.8621965791)",2,1,1,2018,14478
899,20,19.050482,72.931075,2018-01-04 03:22:46.185,NaN,1101,5663,"(19.0504823, 72.9310753)",3,1,1,2018,661
911,41,19.030824,73.015243,2018-01-04 03:46:43.000,NaN,128,164,"(19.0308242333, 73.0152425667)",3,1,1,2018,566
917,49,19.030860,73.015212,2018-01-04 03:56:36.721,NaN,24,31,"(19.0308595659, 73.0152123317)",3,1,1,2018,6187
1042,39,18.990633,73.121912,2018-01-04 06:41:34.474,NaN,60,66,"(18.9906326143, 73.1219119429)",3,1,1,2018,365
1062,8,19.016982,72.859547,2018-01-04 08:10:26.589,NaN,586,86,"(19.0169818333, 72.8595472)",3,1,1,2018,306
1076,25,19.107133,72.837165,2018-01-04 08:51:01.262,NaN,166,526,"(19.1071327125, 72.8371651625)",3,1,1,2018,2115
1100,24,19.107189,72.837121,2018-01-04 10:11:24.210,NaN,2698,18,"(19.107189388, 72.83712072)",3,1,1,2018,3142
1138,34,19.076630,72.862179,2018-01-04 11:38:25.844,NaN,766,2088,"(19.0766299, 72.8621794241)",3,1,1,2018,20079
1308,23,19.076653,72.862107,2018-01-05 00:03:07.889,NaN,24537,23,"(19.07665315, 72.86210735)",4,1,1,2018,1450
1316,24,19.076641,72.862169,2018-01-05 00:52:55.979,NaN,1535,2,"(19.0766405655, 72.8621691301)",4,1,1,2018,13114
1445,23,19.107151,72.837153,2018-01-05 05:05:37.168,NaN,332,54,"(19.1071513402, 72.8371531622)",4,1,1,2018,9299
1527,42,19.107125,72.837128,2018-01-05 08:02:52.308,NaN,1307,16,"(19.1071246346, 72.8371277346)",4,1,1,2018,6256
1553,36,19.107148,72.837106,2018-01-05 10:19:02.647,NaN,1899,16,"(19.107148425, 72.83710595)",4,1,1,2018,888
1561,45,19.107165,72.837186,2018-01-05 11:13:19.429,NaN,279,105,"(19.1071648, 72.8371861308)",4,1,1,2018,2007
1586,24,19.076643,72.862158,2018-01-05 12:48:52.390,NaN,2914,2244,"(19.0766434387, 72.862158175)",4,1,1,2018,20092
1767,26,19.107444,72.837336,2018-01-06 04:29:33.550,NaN,213,55,"(19.1074441923, 72.8373361577)",5,1,1,2018,3635
1793,41,19.107301,72.837251,2018-01-06 07:31:13.938,NaN,7254,40,"(19.107301372, 72.837251021)",5,1,1,2018,13352
1913,24,19.076625,72.862214,2018-01-06 12:46:15.536,NaN,3405,14,"(19.0766247409, 72.8622136788)",5,1,1,2018,8273
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45244,31,19.107146,72.837215,2018-05-04 06:45:29.445,NaN,1831,20,"(19.1071462214, 72.8372145893)",4,18,5,2018,4253
45272,29,19.107182,72.837198,2018-05-04 08:20:33.979,NaN,1441,0,"(19.1071822176, 72.8371981559)",4,18,5,2018,6644
45329,47,19.098666,72.848085,2018-05-04 12:10:53.229,NaN,2015,7,"(19.0986662, 72.8480846)",4,18,5,2018,1032
45359,50,19.076661,72.862262,2018-05-04 13:30:16.823,NaN,2608,4195,"(19.076660575, 72.8622620159)",4,18,5,2018,7328
45403,25,19.076666,72.862269,2018-05-04 16:16:24.765,NaN,2617,5,"(19.076665882, 72.8622692393)",4,18,5,2018,10425
45475,26,19.076655,72.862241,2018-05-05 00:00:05.512,NaN,1799,0,"(19.076655, 72.8622409)",5,18,5,2018,1010
45482,35,19.076655,72.862247,2018-05-05 01:41:19.853,NaN,3822,0,"(19.0766551276, 72.8622470357)",5,18,5,2018,17133
45580,16,19.076659,72.862245,2018-05-05 06:52:39.766,NaN,1501,0,"(19.076659495, 72.8622453175)",5,18,5,2018,8105
45624,29,19.068534,72.857430,2018-05-05 09:14:39.272,NaN,75,24,"(19.0685340682, 72.8574302318)",5,18,5,2018,4639
45650,33,19.076662,72.862260,2018-05-05 10:43:03.940,NaN,60,286,"(19.0766620524, 72.8622598143)",5,18,5,2018,5353
45671,17,19.076666,72.862238,2018-05-05 12:32:48.583,NaN,1219,3,"(19.0766662, 72.8622384286)",5,18,5,2018,2938
45692,9,19.073050,72.851339,2018-05-05 13:29:37.000,0.0,61,6,"(19.07304991, 72.85133913)",5,18,5,2018,501
45703,7,19.073059,72.851352,2018-05-05 13:38:35.000,0.0,3,130,"(19.07305865, 72.8513516333)",5,18,5,2018,558
45716,10,19.076646,72.862241,2018-05-05 14:20:29.000,0.0,62,82,"(19.0766456675, 72.8622405909)",5,18,5,2018,11978
45800,16,19.076655,72.862250,2018-05-06 01:58:00.840,NaN,8677,0,"(19.0766553, 72.8622499)",6,18,5,2018,5215
45841,27,19.076647,72.862241,2018-05-06 06:14:18.781,NaN,10146,1,"(19.0766470203, 72.8622408)",6,18,5,2018,11759
45905,30,19.076648,72.862243,2018-05-06 10:37:00.634,NaN,3972,6,"(19.0766481917, 72.8622431972)",6,18,5,2018,25877
46020,32,19.076663,72.862249,2018-05-07 02:01:45.232,NaN,23096,1,"(19.0766625065, 72.8622489522)",0,19,5,2018,5144
46075,31,19.107159,72.837273,2018-05-07 03:53:43.546,NaN,373,324,"(19.1071586417, 72.8372734167)",0,19,5,2018,1225
46087,17,19.107155,72.837258,2018-05-07 04:41:14.883,NaN,1620,0,"(19.1071548583, 72.8372581333)",0,19,5,2018,2569
46099,20,19.107150,72.837268,2018-05-07 06:10:13.511,NaN,2764,0,"(19.1071502, 72.8372684714)",0,19,5,2018,1096
46109,17,19.107137,72.837297,2018-05-07 07:34:23.277,NaN,2439,0,"(19.1071373, 72.8372971)",0,19,5,2018,927
46120,23,19.107158,72.837249,2018-05-07 08:19:02.198,NaN,1746,0,"(19.1071582362, 72.837249419)",0,19,5,2018,9110
46183,27,19.107845,72.839514,2018-05-07 11:03:32.919,NaN,89,45,"(19.10784475, 72.8395143625)",0,19,5,2018,777
46210,20,19.076567,72.862253,2018-05-07 11:46:20.000,0.0,122,159,"(19.07656748, 72.86225332)",0,19,5,2018,413
46216,47,19.076566,72.862294,2018-05-07 12:45:03.948,NaN,1530,0,"(19.076565825, 72.8622938)",0,19,5,2018,419
46227,29,19.076654,72.862242,2018-05-07 13:10:44.642,NaN,126,126,"(19.076653612, 72.8622415923)",0,19,5,2018,47158
46527,27,19.076642,72.862256,2018-05-08 03:07:04.922,NaN,2881,0,"(19.0766423192, 72.86225595)",1,19,5,2018,1511
46556,26,19.076662,72.862240,2018-05-08 05:25:29.348,NaN,5435,22,"(19.0766622182, 72.8622395545)",1,19,5,2018,1263
46567,12,19.076710,72.862116,2018-05-08 06:11:18.293,0.0,1482,13,"(19.0767099, 72.8621165)",1,19,5,2018,0

### Rearrange Dataframe

In [169]:
df['index'] = list(range(df.shape[0])) 
df.set_index('index', inplace=True)

# Generate two series objects from the timestamps in such a way that both can be subtracts(timeDiff)
# Combine the two series objects with the function tdiff

ts = df['timestamp']
ts1 = ts.shift(periods=1)[1:]
ts2 = ts[1:]

df['tdiff'] = ts1.astype(object).combine(ts2, func=timeDiff)
df['tdiff'] = df['tdiff'] - df['visit_time'].shift(1)[1:]
df['tdiff'][0] = 0

location = df['location']
location1 = location.shift(periods=1)[1:]
location2 = location[1:]

df['geodist'] = location1.astype(object).combine(location2, func=geoDist)
df['geodist'][0] = 0

df['cluster_id'] = 0
df['tag'] = "Unknown"

df

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,accuracy,latitude,longitude,timestamp,velocity,tdiff,geodist,location,day,week,month,year,visit_time,cluster_id,tag
index,,,,,,,,,,,,,,,
0,25,19.108144,72.839677,2018-01-02 09:03:40.444,NaN,0,0,"(19.1081441, 72.8396771)",1,1,1,2018,516,0,Unknown
1,27,19.076308,72.837945,2018-01-02 09:46:02.766,NaN,2026,3529,"(19.0763081429, 72.8379451486)",1,1,1,2018,4472,0,Unknown
2,25,19.076639,72.862119,2018-01-02 11:14:26.272,NaN,831,2544,"(19.0766390211, 72.8621188368)",1,1,1,2018,1910,0,Unknown
3,27,19.076658,72.862114,2018-01-02 11:58:51.500,NaN,755,2,"(19.0766583469, 72.8621140219)",1,1,1,2018,6138,0,Unknown
4,35,19.076439,72.862100,2018-01-02 13:52:19.541,NaN,670,24,"(19.07643896, 72.86209954)",1,1,1,2018,1551,0,Unknown
5,50,19.076470,72.862119,2018-01-02 15:27:25.627,NaN,4155,4,"(19.0764698, 72.86211918)",1,1,1,2018,474,0,Unknown
6,23,19.076636,72.862178,2018-01-02 16:03:21.963,NaN,1682,19,"(19.0766362, 72.862178173)",1,1,1,2018,7183,0,Unknown
7,31,19.076630,72.862176,2018-01-03 02:11:23.414,NaN,29298,1,"(19.0766299577, 72.8621761488)",2,1,1,2018,23683,0,Unknown
8,29,19.076636,72.862130,2018-01-03 09:55:56.094,NaN,4189,5,"(19.0766364842, 72.8621301904)",2,1,1,2018,13148,0,Unknown
9,26,19.076666,72.862132,2018-01-03 13:56:45.315,NaN,1301,3,"(19.0766659875, 72.8621323208)",2,1,1,2018,5174,0,Unknown
10,48,19.076621,72.862210,2018-01-03 15:44:03.828,NaN,1264,10,"(19.0766208287, 72.862210233)",2,1,1,2018,17916,0,Unknown
11,24,19.076626,72.862197,2018-01-03 22:43:58.139,NaN,7278,2,"(19.0766260183, 72.8621965791)",2,1,1,2018,14478,0,Unknown
12,20,19.050482,72.931075,2018-01-04 03:22:46.185,NaN,2250,7806,"(19.0504823, 72.9310753)",3,1,1,2018,661,0,Unknown
13,41,19.030824,73.015243,2018-01-04 03:46:43.000,NaN,775,9123,"(19.0308242333, 73.0152425667)",3,1,1,2018,566,0,Unknown
14,49,19.030860,73.015212,2018-01-04 03:56:36.721,NaN,27,5,"(19.0308595659, 73.0152123317)",3,1,1,2018,6187,0,Unknown
15,39,18.990633,73.121912,2018-01-04 06:41:34.474,NaN,3710,12084,"(18.9906326143, 73.1219119429)",3,1,1,2018,365,0,Unknown
16,8,19.016982,72.859547,2018-01-04 08:10:26.589,NaN,4967,27778,"(19.0169818333, 72.8595472)",3,1,1,2018,306,0,Unknown
17,25,19.107133,72.837165,2018-01-04 08:51:01.262,NaN,2128,10253,"(19.1071327125, 72.8371651625)",3,1,1,2018,2115,0,Unknown
18,24,19.107189,72.837121,2018-01-04 10:11:24.210,NaN,2707,8,"(19.107189388, 72.83712072)",3,1,1,2018,3142,0,Unknown
19,34,19.076630,72.862179,2018-01-04 11:38:25.844,NaN,2079,4289,"(19.0766299, 72.8621794241)",3,1,1,2018,20079,0,Unknown
20,23,19.076653,72.862107,2018-01-05 00:03:07.889,NaN,24603,8,"(19.07665315, 72.86210735)",4,1,1,2018,1450,0,Unknown
21,24,19.076641,72.862169,2018-01-05 00:52:55.979,NaN,1538,7,"(19.0766405655, 72.8621691301)",4,1,1,2018,13114,0,Unknown
22,23,19.107151,72.837153,2018-01-05 05:05:37.168,NaN,2047,4282,"(19.1071513402, 72.8371531622)",4,1,1,2018,9299,0,Unknown
23,42,19.107125,72.837128,2018-01-05 08:02:52.308,NaN,1336,4,"(19.1071246346, 72.8371277346)",4,1,1,2018,6256,0,Unknown
24,36,19.107148,72.837106,2018-01-05 10:19:02.647,NaN,1914,3,"(19.107148425, 72.83710595)",4,1,1,2018,888,0,Unknown
25,45,19.107165,72.837186,2018-01-05 11:13:19.429,NaN,2368,9,"(19.1071648, 72.8371861308)",4,1,1,2018,2007,0,Unknown
26,24,19.076643,72.862158,2018-01-05 12:48:52.390,NaN,3725,4280,"(19.0766434387, 72.862158175)",4,1,1,2018,20092,0,Unknown
27,26,19.107444,72.837336,2018-01-06 04:29:33.550,NaN,36349,4295,"(19.1074441923, 72.8373361577)",5,1,1,2018,3635,0,Unknown
28,41,19.107301,72.837251,2018-01-06 07:31:13.938,NaN,7265,18,"(19.107301372, 72.837251021)",5,1,1,2018,13352,0,Unknown
29,24,19.076625,72.862214,2018-01-06 12:46:15.536,NaN,5549,4293,"(19.0766247409, 72.8622136788)",5,1,1,2018,8273,0,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,31,19.107146,72.837215,2018-05-04 06:45:29.445,NaN,3574,4,"(19.1071462214, 72.8372145893)",4,18,5,2018,4253,0,Unknown
941,29,19.107182,72.837198,2018-05-04 08:20:33.979,NaN,1451,4,"(19.1071822176, 72.8371981559)",4,18,5,2018,6644,0,Unknown
942,47,19.098666,72.848085,2018-05-04 12:10:53.229,NaN,7175,1484,"(19.0986662, 72.8480846)",4,18,5,2018,1032,0,Unknown
943,50,19.076661,72.862262,2018-05-04 13:30:16.823,NaN,3731,2856,"(19.076660575, 72.8622620159)",4,18,5,2018,7328,0,Unknown
944,25,19.076666,72.862269,2018-05-04 16:16:24.765,NaN,2639,1,"(19.076665882, 72.8622692393)",4,18,5,2018,10425,0,Unknown
945,26,19.076655,72.862241,2018-05-05 00:00:05.512,NaN,17395,3,"(19.076655, 72.8622409)",5,18,5,2018,1010,0,Unknown
946,35,19.076655,72.862247,2018-05-05 01:41:19.853,NaN,5064,1,"(19.0766551276, 72.8622470357)",5,18,5,2018,17133,0,Unknown
947,16,19.076659,72.862245,2018-05-05 06:52:39.766,NaN,1546,1,"(19.076659495, 72.8622453175)",5,18,5,2018,8105,0,Unknown
948,29,19.068534,72.857430,2018-05-05 09:14:39.272,NaN,414,1032,"(19.0685340682, 72.8574302318)",5,18,5,2018,4639,0,Unknown
949,33,19.076662,72.862260,2018-05-05 10:43:03.940,NaN,665,1033,"(19.0766620524, 72.8622598143)",5,18,5,2018,5353,0,Unknown
950,17,19.076666,72.862238,2018-05-05 12:32:48.583,NaN,1231,2,"(19.0766662, 72.8622384286)",5,18,5,2018,2938,0,Unknown
951,9,19.073050,72.851339,2018-05-05 13:29:37.000,0.0,470,1215,"(19.07304991, 72.85133913)",5,18,5,2018,501,0,Unknown
952,7,19.073059,72.851352,2018-05-05 13:38:35.000,0.0,37,2,"(19.07305865, 72.8513516333)",5,18,5,2018,558,0,Unknown
953,10,19.076646,72.862241,2018-05-05 14:20:29.000,0.0,1956,1213,"(19.0766456675, 72.8622405909)",5,18,5,2018,11978,0,Unknown
954,16,19.076655,72.862250,2018-05-06 01:58:00.840,NaN,29873,1,"(19.0766553, 72.8622499)",6,18,5,2018,5215,0,Unknown
955,27,19.076647,72.862241,2018-05-06 06:14:18.781,NaN,10162,1,"(19.0766470203, 72.8622408)",6,18,5,2018,11759,0,Unknown
956,30,19.076648,72.862243,2018-05-06 10:37:00.634,NaN,4002,0,"(19.0766481917, 72.8622431972)",6,18,5,2018,25877,0,Unknown
957,32,19.076663,72.862249,2018-05-07 02:01:45.232,NaN,29607,2,"(19.0766625065, 72.8622489522)",0,19,5,2018,5144,0,Unknown
958,31,19.107159,72.837273,2018-05-07 03:53:43.546,NaN,1574,4278,"(19.1071586417, 72.8372734167)",0,19,5,2018,1225,0,Unknown
959,17,19.107155,72.837258,2018-05-07 04:41:14.883,NaN,1626,2,"(19.1071548583, 72.8372581333)",0,19,5,2018,2569,0,Unknown
960,20,19.107150,72.837268,2018-05-07 06:10:13.511,NaN,2769,1,"(19.1071502, 72.8372684714)",0,19,5,2018,1096,0,Unknown
961,17,19.107137,72.837297,2018-05-07 07:34:23.277,NaN,3953,3,"(19.1071373, 72.8372971)",0,19,5,2018,927,0,Unknown
962,23,19.107158,72.837249,2018-05-07 08:19:02.198,NaN,1751,6,"(19.1071582362, 72.837249419)",0,19,5,2018,9110,0,Unknown
963,27,19.107845,72.839514,2018-05-07 11:03:32.919,NaN,760,250,"(19.10784475, 72.8395143625)",0,19,5,2018,777,0,Unknown
964,20,19.076567,72.862253,2018-05-07 11:46:20.000,0.0,1790,4209,"(19.07656748, 72.86225332)",0,19,5,2018,413,0,Unknown
965,47,19.076566,72.862294,2018-05-07 12:45:03.948,NaN,3110,4,"(19.076565825, 72.8622938)",0,19,5,2018,419,0,Unknown
966,29,19.076654,72.862242,2018-05-07 13:10:44.642,NaN,1121,11,"(19.076653612, 72.8622415923)",0,19,5,2018,47158,0,Unknown
967,27,19.076642,72.862256,2018-05-08 03:07:04.922,NaN,3022,2,"(19.0766423192, 72.86225595)",1,19,5,2018,1511,0,Unknown
968,26,19.076662,72.862240,2018-05-08 05:25:29.348,NaN,6793,3,"(19.0766622182, 72.8622395545)",1,19,5,2018,1263,0,Unknown
969,12,19.076710,72.862116,2018-05-08 06:11:18.293,0.0,1485,14,"(19.0767099, 72.8621165)",1,19,5,2018,0,0,Unknown

### Save and visualise Staypoints

In [20]:

#df.to_csv(filepath+'stay_points/Lx2018SP.csv')

gmap = gmplot.GoogleMapPlotter(19.05, 72.8, 16)
gmap.scatter(df['latitude'], df['longitude'], 'black' , marker=True)
gmap.draw('CB2018SP_compare.html')
del gmap

### Function for clustering

In [182]:
# Form clusters
# Takes dataframe of staypoints as parameter and adds a column cluster_id to it
# Uses DBSCAN, param: min_smaples and epsilon
def form_clusters(df, index, epsilon=0.03, min_samples=2):
        
    coords = df.loc[index].as_matrix(columns=['latitude', 'longitude'])
  
    kms_per_radian = 6371.0088
    epsilon = epsilon / kms_per_radian
    db = DBSCAN(eps=epsilon, min_samples=min_samples, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
    cluster_labels = db.labels_
    num_clusters = len(set(cluster_labels))
  
    df.loc[index,'cluster_id'] = cluster_labels
  
    print('Number of clusters: {}'.format(num_clusters))

## Tagging

In [170]:
df['cluster_id'] = 0
df['tag'] = "Unknown"

for year in df.year.drop_duplicates():
    
    for week in df[df['year']==year].week.drop_duplicates():
        
        temp = df.loc[ (df['year']==year) & (df['week']==week) ]
        form_clusters(df, temp.index)
        temp = df.loc[ (df['year']==year) & (df['week']==week) ]
        
        if temp.cluster_id.max() >= 1:
        
            # Create a df to reduce the clusters to centroids

            centroids = pd.DataFrame()
            centroids['cluster_id'] = list(range(temp.cluster_id.max()+1)) 
            centroids.set_index('cluster_id', inplace=True)
            centroids['latitude'] = 0.0
            centroids['longitude'] = 0.0
            centroids['week_visit_time'] = 0
            centroids['week_frequency'] = 0
            centroids['tag'] = "Unknown"

            for i in centroids.index:
                rows = temp[temp['cluster_id']==i]
                centroids['latitude'][i] = rows['latitude'].mean()
                centroids['longitude'][i] = rows['longitude'].mean()
                centroids['week_visit_time'][i] = rows['visit_time'].sum()
                centroids['week_frequency'][i] = rows.shape[0]
                centroids['tag'] = 'Unknown'
            
            ## Identify places with max time spent as home and second max as work
            home_id = centroids['week_visit_time'].idxmax()
            t = centroids.drop(home_id)
            work_id = t['week_visit_time'].idxmax()
            print(home_id, work_id)
            df.loc[(df['year']==year) & (df['week']==week) & (df['cluster_id']==home_id) , 'tag'] = 'Home'
            centroids.loc[home_id, 'tag'] = 'Home'
            df.loc[(df['year']==year) & (df['week']==week) & (df['cluster_id']==work_id) , 'tag'] = 'Work'
            centroids.loc[work_id, 'tag'] = 'Work'
            
            for i in centroids.index:
                if centroids.loc[i,'tag'] == 'Unknown':
                    centroids.loc[i,'tag'] = getTag(centroids.loc[i, 'latitude'], centroids.loc[i, 'longitude'])
                    df.loc[(df['year']==year) & (df['week']==week) & (df['cluster_id']==i), 'tag'] = centroids.loc[i,'tag']
            
            print(centroids)

            
for i in df.index:
    if df.loc[i, 'tag'] == 'Unknown':
        df.loc[i, 'tag'] = getTag(df.loc[i, 'latitude'], df.loc[i, 'longitude'])
                                                                      
                                                                      
            
df['tag'].value_counts()

Number of clusters: 4

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0 2
             latitude  longitude  week_visit_time  week_frequency      tag
cluster_id
0           19.076621  72.862154           205498              20     Home
1           19.030842  73.015227             6753               2  Unknown
2           19.107239  72.837193            49728              10     Work
Number of clusters: 4

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0 1
             latitude  longitude  week_visit_time  week_frequency      tag
cluster_id
0           19.076637  72.862154           357100              12     Home
1           19.107182  72.837147            98396              23     Work
2           19.121024  72.870435            18976               3  Unknown
Number of clusters: 3

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

1 0
             latitude  longitude  week_visit_time  week_frequency   tag
cluster_id
0           19.107226  72.837159           101574              29  Work
1           19.076598  72.862209           285409              21  Home
Number of clusters: 3

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0 1

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             latitude  longitude  week_visit_time  week_frequency   tag
cluster_id
0           19.076539  72.862217           332687              29  Home
1           19.107237  72.837172            79992              20  Work
Number of clusters: 5
1 0
             latitude  longitude  week_visit_time  week_frequency      tag
cluster_id
0           19.107230  72.837170            76890              17     Work
1           19.076554  72.862218           258753              27     Home
2           19.080661  72.853848             1304               2  Unknown
3           19.103670  72.831329             1678               2     Mall
Number of clusters: 3

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0 1
             latitude  longitude  week_visit_time  week_frequency   tag
cluster_id
0           19.076527  72.862210           313276              30  Home
1           19.107232  72.837165            93994              14  Work
Number of clusters: 3

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0 1
             latitude  longitude  week_visit_time  week_frequency   tag
cluster_id
0           19.076535  72.862225           161094               9  Home
1           19.132676  72.917440            17340               6  Work

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Number of clusters: 3
0

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

1
             latitude  longitude  week_visit_time  week_frequency   tag
cluster_id
0           19.076660  72.862237           278684              32  Home
1           19.107216  72.837229           115242              27  Work
Number of clusters: 4
0 1
             latitude  longitude  week_visit_time  week_frequency      tag
cluster_id
0           19.076691  72.862252           288785              29     Home
1           19.107209  72.837233            79987              12     Work
2           19.119024  72.887666            28095               3  Unknown
Number of clusters: 4

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0 1
             latitude  longitude  week_visit_time  week_frequency   tag
cluster_id
0           19.076679  72.862253           268034              40  Home
1           19.107214  72.837233            96152              14  Work
2           19.078164  72.859135              802               2  Park
Number of clusters: 3

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0 1

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             latitude  longitude  week_visit_time  week_frequency   tag
cluster_id
0           19.076681  72.862244           255196              22  Home
1           19.107256  72.837216           105038              25  Work
Number of clusters: 4
0 1
             latitude  longitude  week_visit_time  week_frequency     tag
cluster_id
0           19.076684  72.862248           251876              34    Home
1           19.107467  72.837214            82848              11    Work
2           19.095292  72.848103             3915               2  School
Number of clusters: 4

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0 1
             latitude  longitude  week_visit_time  week_frequency   tag
cluster_id
0           19.076688  72.862253           184715              31  Home
1           19.107245  72.837247            31874              11  Work
2           19.085486  72.887666              964               2  Mall
Number of clusters: 4

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

1 0
             latitude  longitude  week_visit_time  week_frequency       tag
cluster_id
0           19.107197  72.837223            54668              27      Work
1           19.076663  72.862269           157075              38      Home
2           19.098746  72.848111             1796               2  Hospital
Number of clusters: 5

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0 1
             latitude  longitude  week_visit_time  week_frequency      tag
cluster_id
0           19.076648  72.862252           225163              36     Home
1           19.107188  72.837243            85180              23     Work
2           19.004103  72.818583             1766               2  Unknown
3           19.030892  73.015333             2556               3  Unknown
Number of clusters: 3

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0 1
             latitude  longitude  week_visit_time  week_frequency   tag
cluster_id
0           19.076648  72.862257           121954              27  Home
1           19.107269  72.837251            52285              20  Work

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Number of clusters: 3
0

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

1
             latitude  longitude  week_visit_time  week_frequency   tag
cluster_id
0           19.076656  72.862257            87754              22  Home
1           19.107265  72.837108            81742              15  Work
Number of clusters: 8
0 5
             latitude  longitude  week_visit_time  week_frequency         tag
cluster_id
0           19.076648  72.862249           281456              35        Home
1           19.118718  72.938180             3706               2     Unknown
2           19.099702  72.915678             4196               2        Mall
3           19.098843  72.916701             5785               3        Mall
4           19.068547  72.857428             7418               2  University
5           19.107136  72.837192            26422               5        Work
6           19.073054  72.851345             1059               2     Unknown
Number of clusters: 3

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0 1
             latitude  longitude  week_visit_time  week_frequency   tag
cluster_id
0           19.076638  72.862236            55908               7  Home
1           19.107152  72.837269            14927               5  Work

Home          501
Work          314
Unknown        68
Mall           43
University     14
School         12
Hospital       12
Park            6
Name: tag, dtype: int64

### Visualise tags

In [172]:
gmap = gmplot.GoogleMapPlotter(19.05, 72.8, 16)
tags = ['Home', 'Work', 'Mall', 'University', 'Hospital', 'School', 'Park', 'Unknown']
colors = ['green', 'red', 'blue', 'purple', 'yellow', 'pink', 'white', 'black']

for i in range(len(tags)):
    gmap.scatter(df[df.tag==tags[i]]['latitude'], df[df.tag==tags[i]]['longitude'], colors[i] , marker=True)

gmap.draw('Lxtag18.html')
del gmap

In [205]:
frequency_threshold = 0.05
time_threshold = 0.05

temp = df[(df.tag!='Home') & (df.tag!='Work')].copy()

temp['cluster_id'] = 0
temp['frequent'] = False
temp['interested'] = False

form_clusters(temp, temp.index, epsilon=0.05, min_samples=2)

nSP = temp.shape[0]
total_time = temp['visit_time'].sum()
nClusters = temp['cluster_id'].max() + 1

for i in range(nClusters):
    
    nVisits = temp[temp.cluster_id==i].shape[0]
    total_visit_time = temp[temp.cluster_id==i]['visit_time'].sum()
    
    # Normalise
    nVisits /= nSP
    total_visit_time /= total_time
    
    #print(nVisits)
    #print(total_visit_time)
    
    if nVisits >= frequency_threshold: temp.loc[temp.cluster_id==i, 'frequent'] = True
    if total_visit_time >= time_threshold: temp.loc[temp.cluster_id==i, 'interested'] = True
    
print(temp['frequent'].value_counts())
print(temp['interested'].value_counts())

print(temp[(temp.frequent==True) & (temp.interested==True)].shape[0])
print(temp[(temp.frequent==True) & (temp.interested==False)].shape[0])
print(temp[(temp.frequent==False) & (temp.interested==True)].shape[0])
print(temp[(temp.frequent==False) & (temp.interested==False)].shape[0])

Number of clusters: 34
False    133
True      22
Name: frequent, dtype: int64
False    135
True      20
Name: interested, dtype: int64
13
9
7
126

### Function for tagging

###### results-> array of results -> geometry, name, types(tags), etc

###### We extract only the types

In [140]:

# Given lat, long returns a tag
def getTag(lat, long):
    
    # Fetch GMaps API result
    # Returns a list of places along with their details
    results = requests.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json?location='+str(lat)+','+str(long)+'&radius=50&key=AIzaSyBdqlVT2vWz9wu_olDovWYI561da6QtKyk').json()['results']
    tags = []
    
    # Extract the types array from the list of results
    for result in results:
        tags.append(result['types'])
    
    # Cleanse the list of tags
    tags = cleanTags(tags)
    
    if(len(tags)<2): return 'Unknown'
    
    if checkMall(tags): return 'Mall'
    elif checkHospital(tags): return 'Hospital'
    elif checkPark(tags): return 'Park'
    elif checkUniversity(tags): return 'University'
    elif checkSchool(tags): return 'School'
    else: return 'Unknown'

    
def cleanTags(tags):
    unwanted_tags =['point_of_interest', 'establishment', 'route', 'political', 'locality', 'sublocality']
    clean_tags = []
    
    for tag in tags:
        cleaned = [x for x in tag if x not in unwanted_tags]
        if cleaned:
            clean_tags.append(cleaned)
        
    return clean_tags

def checkHospital(tags):
    threshold = 4
    hospital_tags = ['hospital', 'health']
    
    i=0
    for tag in tags:
        filtered_tags = [x for x in tag if x in hospital_tags]
        if filtered_tags:
            i+=len(filtered_tags)
            
    return i>=threshold

def checkMall(tags):
    threshold = 10
    mall_tags = ['store','clothing_store', 'electronics_store', 'home_goods_store', 'shoe_store', 'book_store', 'shopping_mall']
    
    i=0
    for tag in tags:
        filtered_tags = [x for x in tag if x in mall_tags]
        if filtered_tags:
            i+=len(filtered_tags)
            
    return i>=threshold

def checkSchool(tags):
    threshold = 2
    for i in range(threshold):
        if "school" in tags[i]:
            return True    
    return False

def checkUniversity(tags):
    threshold = 2
    for i in range(threshold):
        if "university" in tags[i]:
            return True    
    return False

def checkPark(tags):
    threshold = 2
    for i in range(threshold):
        if ("park" or 'garden') in tags[i]:
            return True    
    return False

In [3]:
requests.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=19.107747,72.836470&radius=50&key=AIzaSyBdqlVT2vWz9wu_olDovWYI561da6QtKyk').json()['results']

[{'geometry': {'location': {'lat': 19.1077226, 'lng': 72.83683719999999},
   'viewport': {'northeast': {'lat': 19.1090715802915,
     'lng': 72.8381861802915},
    'southwest': {'lat': 19.1063736197085, 'lng': 72.8354882197085}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png',
  'id': '25066b071f729b340839674b1858c6416951e0c5',
  'name': 'Bhaktivedanta Swami Road',
  'place_id': 'ChIJbf77V8bJ5zsRFea91p7eXdI',
  'reference': 'CmRbAAAA3BcgA-uPgC2a_4aXZvO4o_X-LQ3dvnWE49qvIBVb5mjWcMeOtBmENIF9_cD_uHrZQ2B0l6l0QuQgwYfrfKpYMAl2nLlZL076ujz6aDvXrJOnyM6BHoEQ7U7cbCLPeCg0EhBF1sRvS-0Y162Yn4d1heqZGhQ_3q_MrfTx8u28MmrCmxugw6G6fw',
  'scope': 'GOOGLE',
  'types': ['route'],
  'vicinity': 'Suvarna Nagar'},
 {'geometry': {'location': {'lat': 19.1079411, 'lng': 72.8366206},
   'viewport': {'northeast': {'lat': 19.1092900802915,
     'lng': 72.83796958029151},
    'southwest': {'lat': 19.1065921197085, 'lng': 72.8352716197085}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png',
  'id': '53c3ccb745299d0ccebb9eaa982e3398e5106764',
  'name': 'S.R.I. Impex Private Limited',
  'opening_hours': {'open_now': False, 'weekday_text': []},
  'place_id': 'ChIJbwF6X7jJ5zsREV9CydNLZqc',
  'rating': 2,
  'reference': 'CmRSAAAAVMPqOadd1GgtYzSkOLFMNXnjiizcfClCEkKWviXnyvEwRNBXfS0xQZw9TjBVOERYuV47vIBGiF4Mg4BJX4LoI51X1ZwN4ZmzWBUYljEGW2oKYUM3_z9OWcv7VrFFeDYcEhABlqoHXxMK2MfAoLZdlPcTGhQoqp84qMj4Ma2jwzdFY8okyOPe8A',
  'scope': 'GOOGLE',
  'types': ['store', 'point_of_interest', 'establishment'],
  'vicinity': '101, Radhika Apartemnt, 55, Juhu Scheme, Vile Parle West, Gulmohar Rd, JVPD, Vile Parle West, Mumbai'},
 {'geometry': {'location': {'lat': 19.1077678, 'lng': 72.83620549999999},
   'viewport': {'northeast': {'lat': 19.1094053302915,
     'lng': 72.83741213029151},
    'southwest': {'lat': 19.1067073697085, 'lng': 72.83471416970849}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/doctor-71.png',
  'id': '22eb02efef087136b31a2c20256aca37f6ba8c70',
  'name': 'HBT Medical College And Dr. R N Cooper Municipal General Hospital',
  'opening_hours': {'open_now': True, 'weekday_text': []},
  'photos': [{'height': 2040,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/106532165553195930011/photos">HBT Medical College And Dr. R N Cooper Municipal General Hospital</a>'],
    'photo_reference': 'CmRaAAAATZJZaJTE3Tax3nkkiS8eZlGe-NNmg2qYY6rVHA7CWWTAD4C52cdxY9RrMW571sgnhl80YUub6tgOvdvZW-CR6OxFi3d7X6sKBoiBoZzsL60dzc-XQ-vaGTEdLJWF12kgEhBw3QNADbBxDLF8vnVaQlopGhSNMweK9P3hBIA1e6bFvXvmxdsA3w',
    'width': 2041}],
  'place_id': 'ChIJW78A8cbJ5zsR8IL8eRtqoVg',
  'rating': 4,
  'reference': 'CmRRAAAAMy0AE2wCHSrZS1JX--p0Ibg03msqw_PirdcfgO2JDTZogKWTZVAQE7zGA2HdTTZsgHUUWUIQ5VCUJMjVrleXEhblnLC3dngxyDugoOsb31NRok5ZzgWtNbrsqVqkRYxOEhCM8e_TXSOoO5DvFSCocipUGhQ-td7QTCxaOfumE9X_EqnqBrudDg',
  'scope': 'GOOGLE',
  'types': ['hospital', 'health', 'point_of_interest', 'establishment'],
  'vicinity': 'U 15, Bhaktivedanta Swami Marg, Juhu, Juhu Scheme, Mumbai'},
 {'geometry': {'location': {'lat': 19.1075482, 'lng': 72.8365221},
   'viewport': {'northeast': {'lat': 19.1088912802915,
     'lng': 72.83802463029151},
    'southwest': {'lat': 19.1061933197085, 'lng': 72.8353266697085}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/doctor-71.png',
  'id': '3059979b5a0557a2493fc0a803994eb4c8ffb066',
  'name': 'Wing C (Cooper Hospital)',
  'place_id': 'ChIJcywK-cbJ5zsRS7H7RbNeCgU',
  'reference': 'CmRRAAAAbyxrDtvZmnumbCQGI5vZPyDhRkpY6Aj4w-x4L9mGnpNXbm6hBi2l06UtaTQvTDaZ6wQIbh8VlluBZ-PCATVFTsO84CgSeFgzMitC0OoF7FQQJQwn9LOTsb8WD_qiaMnsEhDEz58WNpN4qI8byzkDwQB0GhQ0dhuFB3v6fmPKksvMjPfyaV93Yg',
  'scope': 'GOOGLE',
  'types': ['hospital', 'point_of_interest', 'establishment'],
  'vicinity': 'U, 15, Bhaktivedanta Swami Road, Suvarna Nagar, Vile Parle, Mumbai'},
 {'geometry': {'location': {'lat': 19.1077528, 'lng': 72.83683549999999},
   'viewport': {'northeast': {'lat': 19.1091029302915,
     'lng': 72.8381541802915},
    'southwest': {'lat': 19.1064049697085, 'lng': 72.83545621970849}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png',
  'id': 'c1b9c0e16d15c060ac466a799c1b1d55c822e2c7',
  'name': 'khurshid Pav Bhaji All Night',
  'place_id': 'ChIJEeL2V8bJ5zsRaEAnG1tpsOI',
  'rating': 4,
  'reference': 'CmRSAAAA5qQ89ZQXbPrePqfllL7WAzrnkuoUV7lq34JhgrmFaJm5Q244bMw8EzVupFU0eN4WY-RgJhzn0gRbKcoEnoywI_TNowf89FY1rgBWWQsOtR7_R7G_IJp9EKg_I8QMgvLMEhDoa5I8AuLOoErQ_-d-igB9GhTUKCT-KRqPbpkb29xDNfXX3Qgcvw',
  'scope': 'GOOGLE',
  'types': ['food', 'point_of_interest', 'establishment'],
  'vicinity': 'U, 15, Bhaktivedanta Swami Road, Suvarna Nagar, Vile Parle, Mumbai'},
 {'geometry': {'location': {'lat': 19.10795, 'lng': 72.83685659999999},
   'viewport': {'northeast': {'lat': 19.1092989802915,
     'lng': 72.8382055802915},
    'southwest': {'lat': 19.1066010197085, 'lng': 72.8355076197085}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/school-71.png',
  'id': '716580cd60a40767382074ac8bfca3fddd0f6cd5',
  'name': 'World Wide Web Institute',
  'place_id': 'ChIJwXiKWMbJ5zsRxqBkN5oSxps',
  'reference': 'CmRSAAAAhqq_kSg4PQh_6Ft_h8HWsYbDl4knbJkqwZkdIflOIYxPK-GRSx42wuYTxzrnV8MdPutCiL78WPisSXhOGZySfZkrLIha0knPnEMrVUV4tBCzQVnkznjUshlZgEYaicDqEhDgrg6MXZSlfIHlDcDPQh03GhSMT39xjVX6YBBiwt6a1hKJNM8n5A',
  'scope': 'GOOGLE',
  'types': ['point_of_interest', 'establishment'],
  'vicinity': 'Pace House, 7, Swastik Society, Gulmohar Road, Near Nmims, Vile Parle West, Mumbai'},
 {'geometry': {'location': {'lat': 19.107838, 'lng': 72.83693099999999},
   'viewport': {'northeast': {'lat': 19.1091869802915,
     'lng': 72.83827998029149},
    'southwest': {'lat': 19.1064890197085, 'lng': 72.83558201970848}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/bus-71.png',
  'id': '8040db4374d57e529e5805ed2f297e1c4ab369f7',
  'name': 'Dr. Cooper Hospital',
  'photos': [{'height': 2627,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/106726905512820909694/photos">varsha shah</a>'],
    'photo_reference': 'CmRaAAAAgPrLW1tyYFMk2stu61ZWEjn6-VknYQZscLu0lpHuTL0vBXGHZetRJ6zPs4FF5_RxJhGcmZNjVqvpQ8oyHBqex4JvTTEZT0zCp9gOO56TNSv7t6NEvLQYKl6mVWl09SZOEhBV9Xbxo2nyc9ds3Aq3F87YGhQTXFN4fHyTgZr7MRc13_-uTTPcDQ',
    'width': 4232}],
  'place_id': 'ChIJDxcxWMbJ5zsRwp-NcXBXTfU',
  'rating': 5,
  'reference': 'CmRSAAAAZwSUOv4TdOU3AqIvj7uif8GnXtQDh2oikteatVpFbRAHYjx7c0J5pqjMhVQtGVdehZHEtTNJb5F8HD9DeXUYxESwC7mxmCPxKR7TZXDwTfaNBTNEO9zx7fyYfWHJ7s_xEhDRCmLA_NMz4whnCcvzmcbUGhTl08_NNBUi_2QU36IJAJzAxnHbFA',
  'scope': 'GOOGLE',
  'types': ['bus_station',
   'transit_station',
   'point_of_interest',
   'establishment'],
  'vicinity': 'India'},
 {'geometry': {'location': {'lat': 19.0759837, 'lng': 72.8776559},
   'viewport': {'northeast': {'lat': 19.2716339, 'lng': 72.9864994},
    'southwest': {'lat': 18.8928676, 'lng': 72.7758729}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png',
  'id': '2e66c82c2e8d7149bd7e026089ff5dedb8346bd5',
  'name': 'Mumbai',
  'photos': [{'height': 1371,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113860657786379706054/photos">Venkatesh Bhat</a>'],
    'photo_reference': 'CmRaAAAAF0F5AYvc4w2nc2jOsQ2qmyS2jWExDQ021WjxvEGvHz_tZBkVRbbxaUsKv44_OsIfLOuKGj4Fe6oRLXpSxgBlt8RcX-q0yGniIDQs8-wkaijvsHoeG3qRMViXdHB3pnw6EhCL7GuEraz-CBHvvQEtUTbcGhTxIKlkAlQRkZDjQBfAhEmy4tu-dw',
    'width': 2048}],
  'place_id': 'ChIJwe1EZjDG5zsRaYxkjY_tpF0',
  'reference': 'CmRbAAAAPtG7mWiPacWhg6jJeVhF2Ot3H6npvGvLYXqHi4FT4aVsaSpm6T0D-MlgTG7MNEqJ7dKeZYg4_bknGM7v-monoufuJew3ncz2R43zYpM7WNkJMoM1ZAzOdPjnb36RD2QLEhAC0awDm9CZKaWc0GKwoLaVGhRk-cSK1nEmVm9HJS9vyh2ihbgomQ',
  'scope': 'GOOGLE',
  'types': ['locality', 'political'],
  'vicinity': 'Mumbai'}]