In [1]:
import pandas as pd
from geopy import distance
from tqdm import tqdm
import gmplot
from matplotlib import pyplot as plt
from sklearn.cluster import DBSCAN
import numpy as np
import requests

In [4]:
filepath = "/home/yash/Documents/CB/location_data/"
filename = "original_points/User0.json"

# Less -> More accuracy
accuracy_threshold = 50

# In seconds
tdiff_threshold = 1200

# In metres
geodist_threshold = 50

visit_threshold = 300

In [5]:
# Read file into dataframe
df = pd.read_json(filepath+filename, orient='records')

# Drop useless columns
df.drop(['activity', 'altitude', 'verticalAccuracy', 'heading', 'velocity'], axis=1, inplace=True)

# Rename weirdly named columns
df.rename(index = int, columns = {'latitudeE7':'latitude',
                                  'longitudeE7': 'longitude',
                                  'timestampMs' : 'timestamp'}, inplace =True)

# Apply accuracy filter
df = df[df['accuracy'] <= accuracy_threshold]

# Apply the time range filter
df = df[df['timestamp'].dt.year==2018]

# Arrange the dataframe in ascending time order
df = df.reindex(index=df.index[::-1])
df['index'] = list(range(df.shape[0])) 
df.set_index('index', inplace=True)

# Initialise time difference and geodist columns
df['tdiff'] = 0
df['geodist'] = 0

# Lat and Long in the form 19045972, 73025802
# Convert to 19.045972, 73.025802
df['latitude'] = df['latitude'].apply(lambda x: x/10000000)
df['longitude'] = df['longitude'].apply(lambda x: x/10000000)
df['location'] = list(zip(df.latitude, df.longitude))

# Add additional date and time related columns
df['day'] = df['timestamp'].dt.weekday
df['week'] = df['timestamp'].dt.week
df['month'] = df['timestamp'].dt.month
df['year'] = df['timestamp'].dt.year

df

,accuracy,latitude,longitude,timestamp,tdiff,geodist,location,day,week,month,year
index,,,,,,,,,,,
0,50,19.053380,72.847517,2018-01-03 10:57:29.239,0,0,"(19.0533798, 72.8475175)",2,1,1,2018
1,19,19.053036,72.847732,2018-01-03 10:57:45.000,0,0,"(19.0530355, 72.8477323)",2,1,1,2018
2,4,19.052977,72.847690,2018-01-03 10:58:01.000,0,0,"(19.0529768, 72.8476905)",2,1,1,2018
3,3,19.052977,72.847691,2018-01-03 10:58:17.000,0,0,"(19.0529767, 72.8476906)",2,1,1,2018
4,3,19.052975,72.847690,2018-01-03 10:58:33.000,0,0,"(19.0529748, 72.84769)",2,1,1,2018
5,3,19.052863,72.847347,2018-01-03 10:59:14.000,0,0,"(19.052863, 72.8473465)",2,1,1,2018
6,4,19.053597,72.846182,2018-01-03 10:59:36.000,0,0,"(19.0535968, 72.8461824)",2,1,1,2018
7,15,19.042293,72.840299,2018-01-03 11:01:41.000,0,0,"(19.0422935, 72.8402987)",2,1,1,2018
8,8,19.040786,72.841125,2018-01-03 11:01:56.000,0,0,"(19.0407862, 72.841125)",2,1,1,2018
9,23,19.033604,72.838718,2018-01-03 11:05:58.000,0,0,"(19.0336035, 72.8387185)",2,1,1,2018
10,28,19.033205,72.838990,2018-01-03 11:12:44.470,0,0,"(19.0332048, 72.8389898)",2,1,1,2018
11,23,19.033204,72.838993,2018-01-03 11:13:11.861,0,0,"(19.033204, 72.838993)",2,1,1,2018
12,20,19.033205,72.838990,2018-01-03 11:22:18.142,0,0,"(19.0332048, 72.8389898)",2,1,1,2018
13,20,19.033205,72.838990,2018-01-03 11:27:21.311,0,0,"(19.0332048, 72.8389898)",2,1,1,2018
14,25,19.033091,72.838848,2018-01-03 11:48:32.737,0,0,"(19.033091, 72.838848)",2,1,1,2018
15,26,19.032684,72.838705,2018-01-03 12:03:56.790,0,0,"(19.0326839, 72.8387045)",2,1,1,2018
16,26,19.032674,72.838674,2018-01-03 12:06:52.488,0,0,"(19.0326739, 72.8386741)",2,1,1,2018
17,29,19.032718,72.838683,2018-01-03 12:08:31.221,0,0,"(19.0327178, 72.8386834)",2,1,1,2018
18,30,19.039631,72.839398,2018-01-03 12:35:43.000,0,0,"(19.0396305, 72.8393977)",2,1,1,2018
19,43,19.042406,72.840043,2018-01-03 12:36:48.000,0,0,"(19.0424061, 72.8400429)",2,1,1,2018
20,50,19.055605,72.850849,2018-01-03 12:41:21.537,0,0,"(19.0556046, 72.8508491)",2,1,1,2018
21,26,19.054518,72.852385,2018-01-03 12:43:02.158,0,0,"(19.0545178, 72.8523851)",2,1,1,2018
22,20,19.055118,72.852087,2018-01-03 12:45:27.283,0,0,"(19.0551184, 72.8520868)",2,1,1,2018
23,20,19.055118,72.852087,2018-01-03 12:46:27.545,0,0,"(19.0551184, 72.8520868)",2,1,1,2018
24,20,19.055118,72.852087,2018-01-03 12:48:41.725,0,0,"(19.0551184, 72.8520868)",2,1,1,2018
25,50,19.055023,72.852120,2018-01-03 12:52:55.984,0,0,"(19.0550233, 72.8521203)",2,1,1,2018
26,50,19.055043,72.852114,2018-01-03 12:54:57.094,0,0,"(19.0550427, 72.8521136)",2,1,1,2018
27,20,19.055118,72.852087,2018-01-03 12:56:57.305,0,0,"(19.0551184, 72.8520868)",2,1,1,2018
28,50,19.055001,72.852128,2018-01-03 12:59:28.425,0,0,"(19.0550015, 72.8521284)",2,1,1,2018
29,50,19.055085,72.852098,2018-01-03 13:05:00.924,0,0,"(19.0550849, 72.8520984)",2,1,1,2018
...,...,...,...,...,...,...,...,...,...,...,...
32159,29,19.054465,72.852189,2018-05-04 16:59:22.754,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32160,31,19.054465,72.852189,2018-05-04 17:01:22.467,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32161,33,19.054465,72.852189,2018-05-04 17:03:23.226,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32162,29,19.054465,72.852189,2018-05-04 17:05:23.440,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32163,33,19.054465,72.852189,2018-05-04 17:07:25.150,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32164,29,19.054465,72.852189,2018-05-04 17:09:24.879,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32165,26,19.054465,72.852189,2018-05-04 17:11:26.024,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32166,29,19.054465,72.852189,2018-05-04 17:13:30.493,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32167,33,19.054465,72.852189,2018-05-04 17:15:31.591,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32168,29,19.054465,72.852189,2018-05-04 17:17:40.993,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32169,33,19.054465,72.852189,2018-05-04 17:19:41.889,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32170,31,19.054465,72.852189,2018-05-04 17:21:42.178,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32171,31,19.054465,72.852189,2018-05-04 17:23:43.098,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32172,29,19.054465,72.852189,2018-05-04 17:25:57.090,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32173,23,19.054465,72.852189,2018-05-04 17:27:57.812,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32174,29,19.054465,72.852189,2018-05-04 17:30:05.282,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32175,26,19.054465,72.852189,2018-05-04 17:32:06.298,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32176,35,19.054465,72.852189,2018-05-04 17:34:06.317,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32177,33,19.054465,72.852189,2018-05-04 17:36:07.352,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32178,29,19.054465,72.852189,2018-05-04 17:38:07.391,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32179,31,19.054465,72.852189,2018-05-04 17:40:08.399,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32180,31,19.054465,72.852189,2018-05-04 17:42:08.478,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32181,31,19.054465,72.852189,2018-05-04 17:44:09.561,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32182,29,19.054465,72.852189,2018-05-04 17:46:09.921,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32183,33,19.054465,72.852189,2018-05-04 17:48:11.230,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32184,29,19.054465,72.852189,2018-05-04 17:50:11.811,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32185,29,19.054465,72.852189,2018-05-04 17:52:12.744,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32186,28,19.054465,72.852189,2018-05-04 17:54:12.680,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32187,29,19.054465,72.852189,2018-05-04 17:56:21.518,0,0,"(19.0544645, 72.8521889)",4,18,5,2018
32188,16,19.054465,72.852189,2018-05-04 17:58:21.386,0,0,"(19.0544645, 72.8521889)",4,18,5,2018

In [6]:
# Returns time difference between 2 timestamps in seconds
def timeDiff(t1, t2):
    return round(pd.Timedelta(t2 - t1).seconds)

def geoDist(l1, l2):
    return round(distance.vincenty(l1, l2).m )

In [7]:
# Generate two series objects from the timestamps in such a way that both can be subtracts(timeDiff)
# Combine the two series objects wuth the function tdiff

ts = df['timestamp']
ts1 = ts.shift(periods=1)[1:]
ts2 = ts[1:]

df['tdiff'] = ts1.astype(object).combine(ts2, func=timeDiff)
df['tdiff'][0] = 0

location = df['location']
location1 = location.shift(periods=1)[1:]
location2 = location[1:]

df['geodist'] = location1.astype(object).combine(location2, func=geoDist)
df['geodist'][0] = 0

df

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,accuracy,latitude,longitude,timestamp,tdiff,geodist,location,day,week,month,year
index,,,,,,,,,,,
0,50,19.053380,72.847517,2018-01-03 10:57:29.239,0,0,"(19.0533798, 72.8475175)",2,1,1,2018
1,19,19.053036,72.847732,2018-01-03 10:57:45.000,15,44,"(19.0530355, 72.8477323)",2,1,1,2018
2,4,19.052977,72.847690,2018-01-03 10:58:01.000,16,8,"(19.0529768, 72.8476905)",2,1,1,2018
3,3,19.052977,72.847691,2018-01-03 10:58:17.000,16,0,"(19.0529767, 72.8476906)",2,1,1,2018
4,3,19.052975,72.847690,2018-01-03 10:58:33.000,16,0,"(19.0529748, 72.84769)",2,1,1,2018
5,3,19.052863,72.847347,2018-01-03 10:59:14.000,41,38,"(19.052863, 72.8473465)",2,1,1,2018
6,4,19.053597,72.846182,2018-01-03 10:59:36.000,22,147,"(19.0535968, 72.8461824)",2,1,1,2018
7,15,19.042293,72.840299,2018-01-03 11:01:41.000,125,1396,"(19.0422935, 72.8402987)",2,1,1,2018
8,8,19.040786,72.841125,2018-01-03 11:01:56.000,15,188,"(19.0407862, 72.841125)",2,1,1,2018
9,23,19.033604,72.838718,2018-01-03 11:05:58.000,242,834,"(19.0336035, 72.8387185)",2,1,1,2018
10,28,19.033205,72.838990,2018-01-03 11:12:44.470,406,53,"(19.0332048, 72.8389898)",2,1,1,2018
11,23,19.033204,72.838993,2018-01-03 11:13:11.861,27,0,"(19.033204, 72.838993)",2,1,1,2018
12,20,19.033205,72.838990,2018-01-03 11:22:18.142,546,0,"(19.0332048, 72.8389898)",2,1,1,2018
13,20,19.033205,72.838990,2018-01-03 11:27:21.311,303,0,"(19.0332048, 72.8389898)",2,1,1,2018
14,25,19.033091,72.838848,2018-01-03 11:48:32.737,1271,20,"(19.033091, 72.838848)",2,1,1,2018
15,26,19.032684,72.838705,2018-01-03 12:03:56.790,924,48,"(19.0326839, 72.8387045)",2,1,1,2018
16,26,19.032674,72.838674,2018-01-03 12:06:52.488,175,3,"(19.0326739, 72.8386741)",2,1,1,2018
17,29,19.032718,72.838683,2018-01-03 12:08:31.221,98,5,"(19.0327178, 72.8386834)",2,1,1,2018
18,30,19.039631,72.839398,2018-01-03 12:35:43.000,1631,769,"(19.0396305, 72.8393977)",2,1,1,2018
19,43,19.042406,72.840043,2018-01-03 12:36:48.000,65,315,"(19.0424061, 72.8400429)",2,1,1,2018
20,50,19.055605,72.850849,2018-01-03 12:41:21.537,273,1852,"(19.0556046, 72.8508491)",2,1,1,2018
21,26,19.054518,72.852385,2018-01-03 12:43:02.158,100,202,"(19.0545178, 72.8523851)",2,1,1,2018
22,20,19.055118,72.852087,2018-01-03 12:45:27.283,145,74,"(19.0551184, 72.8520868)",2,1,1,2018
23,20,19.055118,72.852087,2018-01-03 12:46:27.545,60,0,"(19.0551184, 72.8520868)",2,1,1,2018
24,20,19.055118,72.852087,2018-01-03 12:48:41.725,134,0,"(19.0551184, 72.8520868)",2,1,1,2018
25,50,19.055023,72.852120,2018-01-03 12:52:55.984,254,11,"(19.0550233, 72.8521203)",2,1,1,2018
26,50,19.055043,72.852114,2018-01-03 12:54:57.094,121,2,"(19.0550427, 72.8521136)",2,1,1,2018
27,20,19.055118,72.852087,2018-01-03 12:56:57.305,120,9,"(19.0551184, 72.8520868)",2,1,1,2018
28,50,19.055001,72.852128,2018-01-03 12:59:28.425,151,14,"(19.0550015, 72.8521284)",2,1,1,2018
29,50,19.055085,72.852098,2018-01-03 13:05:00.924,332,10,"(19.0550849, 72.8520984)",2,1,1,2018
...,...,...,...,...,...,...,...,...,...,...,...
32159,29,19.054465,72.852189,2018-05-04 16:59:22.754,121,9,"(19.0544645, 72.8521889)",4,18,5,2018
32160,31,19.054465,72.852189,2018-05-04 17:01:22.467,119,0,"(19.0544645, 72.8521889)",4,18,5,2018
32161,33,19.054465,72.852189,2018-05-04 17:03:23.226,120,0,"(19.0544645, 72.8521889)",4,18,5,2018
32162,29,19.054465,72.852189,2018-05-04 17:05:23.440,120,0,"(19.0544645, 72.8521889)",4,18,5,2018
32163,33,19.054465,72.852189,2018-05-04 17:07:25.150,121,0,"(19.0544645, 72.8521889)",4,18,5,2018
32164,29,19.054465,72.852189,2018-05-04 17:09:24.879,119,0,"(19.0544645, 72.8521889)",4,18,5,2018
32165,26,19.054465,72.852189,2018-05-04 17:11:26.024,121,0,"(19.0544645, 72.8521889)",4,18,5,2018
32166,29,19.054465,72.852189,2018-05-04 17:13:30.493,124,0,"(19.0544645, 72.8521889)",4,18,5,2018
32167,33,19.054465,72.852189,2018-05-04 17:15:31.591,121,0,"(19.0544645, 72.8521889)",4,18,5,2018
32168,29,19.054465,72.852189,2018-05-04 17:17:40.993,129,0,"(19.0544645, 72.8521889)",4,18,5,2018
32169,33,19.054465,72.852189,2018-05-04 17:19:41.889,120,0,"(19.0544645, 72.8521889)",4,18,5,2018
32170,31,19.054465,72.852189,2018-05-04 17:21:42.178,120,0,"(19.0544645, 72.8521889)",4,18,5,2018
32171,31,19.054465,72.852189,2018-05-04 17:23:43.098,120,0,"(19.0544645, 72.8521889)",4,18,5,2018
32172,29,19.054465,72.852189,2018-05-04 17:25:57.090,133,0,"(19.0544645, 72.8521889)",4,18,5,2018
32173,23,19.054465,72.852189,2018-05-04 17:27:57.812,120,0,"(19.0544645, 72.8521889)",4,18,5,2018
32174,29,19.054465,72.852189,2018-05-04 17:30:05.282,127,0,"(19.0544645, 72.8521889)",4,18,5,2018
32175,26,19.054465,72.852189,2018-05-04 17:32:06.298,121,0,"(19.0544645, 72.8521889)",4,18,5,2018
32176,35,19.054465,72.852189,2018-05-04 17:34:06.317,120,0,"(19.0544645, 72.8521889)",4,18,5,2018
32177,33,19.054465,72.852189,2018-05-04 17:36:07.352,121,0,"(19.0544645, 72.8521889)",4,18,5,2018
32178,29,19.054465,72.852189,2018-05-04 17:38:07.391,120,0,"(19.0544645, 72.8521889)",4,18,5,2018
32179,31,19.054465,72.852189,2018-05-04 17:40:08.399,121,0,"(19.0544645, 72.8521889)",4,18,5,2018
32180,31,19.054465,72.852189,2018-05-04 17:42:08.478,120,0,"(19.0544645, 72.8521889)",4,18,5,2018
32181,31,19.054465,72.852189,2018-05-04 17:44:09.561,121,0,"(19.0544645, 72.8521889)",4,18,5,2018
32182,29,19.054465,72.852189,2018-05-04 17:46:09.921,120,0,"(19.0544645, 72.8521889)",4,18,5,2018
32183,33,19.054465,72.852189,2018-05-04 17:48:11.230,121,0,"(19.0544645, 72.8521889)",4,18,5,2018
32184,29,19.054465,72.852189,2018-05-04 17:50:11.811,120,0,"(19.0544645, 72.8521889)",4,18,5,2018
32185,29,19.054465,72.852189,2018-05-04 17:52:12.744,120,0,"(19.0544645, 72.8521889)",4,18,5,2018
32186,28,19.054465,72.852189,2018-05-04 17:54:12.680,119,0,"(19.0544645, 72.8521889)",4,18,5,2018
32187,29,19.054465,72.852189,2018-05-04 17:56:21.518,128,0,"(19.0544645, 72.8521889)",4,18,5,2018
32188,16,19.054465,72.852189,2018-05-04 17:58:21.386,119,0,"(19.0544645, 72.8521889)",4,18,5,2018

In [8]:
# Start processing each row and compare with the previous row's tdiff and geodist
# If it fits within tdiff and geodist bounds, consider the point to be a part of the staypoint

# Set the first entry to be the parent SP

df['visit_time'] = 0

parent = 0
visit_time = 0

for i in tqdm(df.index[1:]):
    
    # Check if the entry's tdiff and geodist fall within constraints
    
    # If yes, add its time to total time at that SP
    if (df['geodist'][i]<=geodist_threshold and df['tdiff'][i]<=tdiff_threshold):
        visit_time += df['tdiff'][i]
        df.drop(i, inplace=True)
    
    # If no, make the parent entry SP and set this to be the parent entry
    else:
        
        if visit_time < visit_threshold:
            df.drop(parent, inplace=True)
            
        else:
            # append parent to final df
            df['visit_time'][parent] = visit_time

        # Set new parent
        parent = i
        visit_time = 0

df

  0%|          | 1/32188 [00:00<1:14:16,  7.22it/s]/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
100%|██████████| 32188/32188 [01:46<00:00, 301.05it/s]

,accuracy,latitude,longitude,timestamp,tdiff,geodist,location,day,week,month,year,visit_time
index,,,,,,,,,,,,
10,28,19.033205,72.838990,2018-01-03 11:12:44.470,406,53,"(19.0332048, 72.8389898)",2,1,1,2018,876
14,25,19.033091,72.838848,2018-01-03 11:48:32.737,1271,20,"(19.033091, 72.838848)",2,1,1,2018,1197
22,20,19.055118,72.852087,2018-01-03 12:45:27.283,145,74,"(19.0551184, 72.8520868)",2,1,1,2018,1571
33,20,19.055118,72.852087,2018-01-03 14:45:06.261,5604,0,"(19.0551184, 72.8520868)",2,1,1,2018,5716
67,27,19.136537,72.831541,2018-01-06 11:34:30.178,29,102,"(19.1365367, 72.8315405)",5,1,1,2018,407
98,5,19.098726,72.845997,2018-01-10 09:03:26.000,15,66,"(19.0987264, 72.8459972)",2,2,1,2018,2849
252,24,19.097369,72.850002,2018-01-10 09:51:56.578,58,80,"(19.097369, 72.8500018)",2,2,1,2018,803
265,50,19.054599,72.852072,2018-01-10 10:25:34.945,405,63,"(19.054599, 72.852072)",2,2,1,2018,9039
320,26,19.054540,72.852506,2018-01-10 14:10:53.768,141,84,"(19.05454, 72.8525063)",2,2,1,2018,5083
344,35,19.054768,72.852029,2018-01-10 20:37:02.385,18073,28,"(19.0547683, 72.8520291)",2,2,1,2018,13675
383,24,19.054929,72.852189,2018-01-11 01:52:40.379,1801,31,"(19.0549294, 72.8521892)",3,2,1,2018,2968
425,29,19.076820,72.834551,2018-01-13 11:00:13.591,57,68,"(19.0768199, 72.834551)",5,2,1,2018,6412
487,25,19.054794,72.852241,2018-01-13 14:37:25.439,5285,1518,"(19.0547944, 72.8522412)",5,2,1,2018,981
490,45,19.054759,72.852028,2018-01-13 18:11:51.482,11624,33,"(19.0547586, 72.8520284)",5,2,1,2018,2500
495,50,19.054848,72.851976,2018-01-13 19:50:05.668,3392,8,"(19.0548479, 72.8519756)",5,2,1,2018,369
501,30,19.054781,72.852099,2018-01-14 02:42:57.537,1250,13,"(19.0547809, 72.8520993)",6,2,1,2018,467
505,20,19.055114,72.852090,2018-01-14 06:57:15.414,14789,27,"(19.0551138, 72.8520897)",6,2,1,2018,3096
524,25,19.054750,72.852214,2018-01-14 08:53:35.153,2252,3,"(19.0547497, 72.8522135)",6,2,1,2018,647
534,24,19.107265,72.836905,2018-01-16 01:35:01.035,58,175,"(19.1072651, 72.8369048)",1,3,1,2018,23983
714,27,19.054556,72.852337,2018-01-16 09:01:23.433,17,58,"(19.0545562, 72.8523365)",1,3,1,2018,2368
724,48,19.054979,72.852190,2018-01-16 11:26:26.978,6331,9,"(19.0549791, 72.8521896)",1,3,1,2018,1582
738,24,19.054570,72.852251,2018-01-16 14:27:45.306,63,53,"(19.0545701, 72.8522511)",1,3,1,2018,598
742,24,19.054599,72.852281,2018-01-16 16:15:08.077,5843,16,"(19.0545993, 72.8522808)",1,3,1,2018,874
745,26,19.054611,72.852253,2018-01-17 01:28:50.606,32347,2,"(19.0546109, 72.8522526)",2,3,1,2018,622
749,25,19.054720,72.852245,2018-01-17 03:19:16.826,3086,8,"(19.05472, 72.8522452)",2,3,1,2018,1007
761,20,19.107181,72.837210,2018-01-17 05:01:40.683,3600,55,"(19.1071809, 72.8372098)",2,3,1,2018,20752
893,26,19.054605,72.852277,2018-01-17 11:12:52.153,64,144,"(19.054605, 72.8522765)",2,3,1,2018,2800
918,33,19.054858,72.852092,2018-01-17 12:21:18.470,1294,14,"(19.0548579, 72.8520924)",2,3,1,2018,503
921,20,19.055114,72.852090,2018-01-17 12:56:43.523,1620,43,"(19.0551138, 72.8520897)",2,3,1,2018,10211
978,27,19.054717,72.852246,2018-01-17 16:10:15.397,1375,1,"(19.0547168, 72.8522461)",2,3,1,2018,6522
...,...,...,...,...,...,...,...,...,...,...,...,...
30929,28,19.065390,72.834385,2018-04-28 15:44:47.454,81,51,"(19.0653898, 72.8343853)",5,17,4,2018,1021
30937,27,19.064576,72.834830,2018-04-28 16:09:01.369,430,76,"(19.0645758, 72.8348298)",5,17,4,2018,823
30947,34,19.054847,72.851737,2018-04-28 18:52:26.239,8875,1955,"(19.0548467, 72.8517366)",5,17,4,2018,847
30950,44,19.054466,72.852163,2018-04-29 03:49:38.439,4686,26,"(19.0544662, 72.8521629)",6,17,4,2018,6480
30995,37,19.069498,72.868204,2018-04-29 05:56:46.368,124,543,"(19.0694979, 72.8682044)",6,17,4,2018,406
31018,50,19.725550,73.631110,2018-04-29 08:36:25.455,4989,63348,"(19.7255504, 73.63111)",6,17,4,2018,2624
31110,35,19.054889,72.851897,2018-05-01 15:52:36.863,175,970,"(19.0548886, 72.8518974)",1,18,5,2018,2247
31121,17,19.054785,72.852199,2018-05-01 16:52:37.000,1347,45,"(19.0547851, 72.8521989)",1,18,5,2018,833
31128,35,19.054801,72.851912,2018-05-01 18:09:47.753,1236,10,"(19.0548011, 72.8519121)",1,18,5,2018,1709
31132,39,19.054844,72.851755,2018-05-01 22:19:32.448,13274,14,"(19.0548435, 72.8517549)",1,18,5,2018,481
31136,30,19.054557,72.852413,2018-05-02 02:57:30.287,3994,73,"(19.0545565, 72.8524133)",2,18,5,2018,3461
31192,30,19.107117,72.837035,2018-05-02 04:20:07.692,94,499,"(19.1071174, 72.8370351)",2,18,5,2018,7719
31296,31,19.107020,72.837139,2018-05-02 07:00:51.799,1874,21,"(19.1070198, 72.8371387)",2,18,5,2018,9059
31373,35,19.107179,72.837240,2018-05-02 10:47:29.565,4502,0,"(19.1071792, 72.8372397)",2,18,5,2018,16386
31538,34,19.055038,72.851809,2018-05-02 15:57:01.006,395,80,"(19.0550383, 72.8518088)",2,18,5,2018,808
31544,31,19.054857,72.851971,2018-05-02 17:01:24.836,3054,5,"(19.0548569, 72.8519714)",2,18,5,2018,3581
31562,28,19.054738,72.852157,2018-05-03 01:01:26.144,16453,24,"(19.054738, 72.8521568)",3,18,5,2018,6022
31625,27,19.107118,72.836976,2018-05-03 03:08:38.180,30,52,"(19.1071184, 72.8369758)",3,18,5,2018,28135
31859,16,19.054465,72.852189,2018-05-03 13:49:34.311,4076,51,"(19.0544645, 72.8521889)",3,18,5,2018,2145
31883,23,19.054465,72.852189,2018-05-03 15:28:42.220,2536,57,"(19.0544645, 72.8521889)",3,18,5,2018,1365
31896,36,19.054981,72.851843,2018-05-03 18:27:27.183,2107,13,"(19.0549812, 72.8518433)",3,18,5,2018,8280
31915,30,19.055008,72.851976,2018-05-03 21:40:39.750,3305,11,"(19.055008, 72.8519762)",3,18,5,2018,13329
31948,40,19.055005,72.851968,2018-05-04 02:24:30.015,3684,16,"(19.0550046, 72.8519678)",4,18,5,2018,1874
31953,30,19.054656,72.852203,2018-05-04 03:44:59.198,2953,8,"(19.0546559, 72.8522026)",4,18,5,2018,856
31988,30,19.106822,72.836886,2018-05-04 04:28:29.397,31,115,"(19.1068219, 72.8368862)",4,18,5,2018,3010
32018,27,19.107166,72.837214,2018-05-04 06:44:20.244,5126,3,"(19.1071662, 72.8372143)",4,18,5,2018,2239
32038,16,19.107138,72.837146,2018-05-04 11:56:07.174,16456,7,"(19.107138, 72.837146)",4,18,5,2018,613
32084,29,19.054465,72.852293,2018-05-04 12:37:14.575,30,103,"(19.0544652, 72.8522925)",4,18,5,2018,1358
32096,32,19.054238,72.851979,2018-05-04 14:14:22.987,4318,123,"(19.0542383, 72.8519793)",4,18,5,2018,4839
32126,16,19.054465,72.852189,2018-05-04 15:51:36.480,497,57,"(19.0544645, 72.8521889)",4,18,5,2018,0

In [16]:
df['index'] = list(range(df.shape[0])) 
df.set_index('index', inplace=True)

# Generate two series objects from the timestamps in such a way that both can be subtracts(timeDiff)
# Combine the two series objects with the function tdiff

ts = df['timestamp']
ts1 = ts.shift(periods=1)[1:]
ts2 = ts[1:]

df['tdiff'] = ts1.astype(object).combine(ts2, func=timeDiff)
df['tdiff'] = df['tdiff'] - df['visit_time'].shift(1)[1:]
df['tdiff'][0] = 0

location = df['location']
location1 = location.shift(periods=1)[1:]
location2 = location[1:]

df['geodist'] = location1.astype(object).combine(location2, func=geoDist)
df['geodist'][0] = 0

df

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,accuracy,latitude,longitude,timestamp,tdiff,geodist,location,day,week,month,year,visit_time,cluster_id,tag
index,,,,,,,,,,,,,,
0,28,19.033205,72.838990,2018-01-03 11:12:44.470,0,0,"(19.0332048, 72.8389898)",2,1,1,2018,876,0,Unknown
1,25,19.033091,72.838848,2018-01-03 11:48:32.737,1272,20,"(19.033091, 72.838848)",2,1,1,2018,1197,0,Unknown
2,20,19.055118,72.852087,2018-01-03 12:45:27.283,2217,2808,"(19.0551184, 72.8520868)",2,1,1,2018,1571,-1,Unknown
3,20,19.055118,72.852087,2018-01-03 14:45:06.261,5607,0,"(19.0551184, 72.8520868)",2,1,1,2018,5716,0,Unknown
4,27,19.136537,72.831541,2018-01-06 11:34:30.178,69247,9268,"(19.1365367, 72.8315405)",5,1,1,2018,407,-1,Unknown
5,5,19.098726,72.845997,2018-01-10 09:03:26.000,76928,4453,"(19.0987264, 72.8459972)",2,2,1,2018,2849,-1,Unknown
6,24,19.097369,72.850002,2018-01-10 09:51:56.578,61,447,"(19.097369, 72.8500018)",2,2,1,2018,803,0,Unknown
7,50,19.054599,72.852072,2018-01-10 10:25:34.945,1215,4739,"(19.054599, 72.852072)",2,2,1,2018,9039,-1,Unknown
8,26,19.054540,72.852506,2018-01-10 14:10:53.768,4479,46,"(19.05454, 72.8525063)",2,2,1,2018,5083,0,Unknown
9,35,19.054768,72.852029,2018-01-10 20:37:02.385,18085,56,"(19.0547683, 72.8520291)",2,2,1,2018,13675,0,Unknown
10,24,19.054929,72.852189,2018-01-11 01:52:40.379,5262,25,"(19.0549294, 72.8521892)",3,2,1,2018,2968,0,Unknown
11,29,19.076820,72.834551,2018-01-13 11:00:13.591,29885,3053,"(19.0768199, 72.834551)",5,2,1,2018,6412,0,Unknown
12,25,19.054794,72.852241,2018-01-13 14:37:25.439,6619,3068,"(19.0547944, 72.8522412)",5,2,1,2018,981,-1,Unknown
13,45,19.054759,72.852028,2018-01-13 18:11:51.482,11885,23,"(19.0547586, 72.8520284)",5,2,1,2018,2500,0,Unknown
14,50,19.054848,72.851976,2018-01-13 19:50:05.668,3394,11,"(19.0548479, 72.8519756)",5,2,1,2018,369,0,Unknown
15,30,19.054781,72.852099,2018-01-14 02:42:57.537,24402,15,"(19.0547809, 72.8520993)",6,2,1,2018,467,0,Unknown
16,20,19.055114,72.852090,2018-01-14 06:57:15.414,14790,37,"(19.0551138, 72.8520897)",6,2,1,2018,3096,-1,Unknown
17,25,19.054750,72.852214,2018-01-14 08:53:35.153,3883,42,"(19.0547497, 72.8522135)",6,2,1,2018,647,0,Unknown
18,24,19.107265,72.836905,2018-01-16 01:35:01.035,59438,6032,"(19.1072651, 72.8369048)",1,3,1,2018,23983,0,Unknown
19,27,19.054556,72.852337,2018-01-16 09:01:23.433,2799,6056,"(19.0545562, 72.8523365)",1,3,1,2018,2368,0,Unknown
20,48,19.054979,72.852190,2018-01-16 11:26:26.978,6335,49,"(19.0549791, 72.8521896)",1,3,1,2018,1582,0,Unknown
21,24,19.054570,72.852251,2018-01-16 14:27:45.306,9296,46,"(19.0545701, 72.8522511)",1,3,1,2018,598,0,Unknown
22,24,19.054599,72.852281,2018-01-16 16:15:08.077,5844,4,"(19.0545993, 72.8522808)",1,3,1,2018,874,0,Unknown
23,26,19.054611,72.852253,2018-01-17 01:28:50.606,32348,3,"(19.0546109, 72.8522526)",2,3,1,2018,622,0,Unknown
24,25,19.054720,72.852245,2018-01-17 03:19:16.826,6004,12,"(19.05472, 72.8522452)",2,3,1,2018,1007,0,Unknown
25,20,19.107181,72.837210,2018-01-17 05:01:40.683,5136,6019,"(19.1071809, 72.8372098)",2,3,1,2018,20752,0,Unknown
26,26,19.054605,72.852277,2018-01-17 11:12:52.153,1519,6032,"(19.054605, 72.8522765)",2,3,1,2018,2800,0,Unknown
27,33,19.054858,72.852092,2018-01-17 12:21:18.470,1306,34,"(19.0548579, 72.8520924)",2,3,1,2018,503,0,Unknown
28,20,19.055114,72.852090,2018-01-17 12:56:43.523,1622,28,"(19.0551138, 72.8520897)",2,3,1,2018,10211,0,Unknown
29,27,19.054717,72.852246,2018-01-17 16:10:15.397,1400,47,"(19.0547168, 72.8522461)",2,3,1,2018,6522,0,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734,28,19.065390,72.834385,2018-04-28 15:44:47.454,331,158,"(19.0653898, 72.8343853)",5,17,4,2018,1021,0,Unknown
735,27,19.064576,72.834830,2018-04-28 16:09:01.369,432,102,"(19.0645758, 72.8348298)",5,17,4,2018,823,0,Unknown
736,34,19.054847,72.851737,2018-04-28 18:52:26.239,8981,2080,"(19.0548467, 72.8517366)",5,17,4,2018,847,0,Unknown
737,44,19.054466,72.852163,2018-04-29 03:49:38.439,31385,62,"(19.0544662, 72.8521629)",6,17,4,2018,6480,0,Unknown
738,37,19.069498,72.868204,2018-04-29 05:56:46.368,1147,2371,"(19.0694979, 72.8682044)",6,17,4,2018,406,0,Unknown
739,50,19.725550,73.631110,2018-04-29 08:36:25.455,9173,108146,"(19.7255504, 73.63111)",6,17,4,2018,2624,0,Unknown
740,35,19.054889,72.851897,2018-05-01 15:52:36.863,23547,110504,"(19.0548886, 72.8518974)",1,18,5,2018,2247,0,Unknown
741,17,19.054785,72.852199,2018-05-01 16:52:37.000,1353,34,"(19.0547851, 72.8521989)",1,18,5,2018,833,0,Unknown
742,35,19.054801,72.851912,2018-05-01 18:09:47.753,3797,30,"(19.0548011, 72.8519121)",1,18,5,2018,1709,0,Unknown
743,39,19.054844,72.851755,2018-05-01 22:19:32.448,13275,17,"(19.0548435, 72.8517549)",1,18,5,2018,481,0,Unknown
744,30,19.054557,72.852413,2018-05-02 02:57:30.287,16196,76,"(19.0545565, 72.8524133)",2,18,5,2018,3461,0,Unknown
745,30,19.107117,72.837035,2018-05-02 04:20:07.692,1496,6039,"(19.1071174, 72.8370351)",2,18,5,2018,7719,0,Unknown
746,31,19.107020,72.837139,2018-05-02 07:00:51.799,1925,15,"(19.1070198, 72.8371387)",2,18,5,2018,9059,0,Unknown
747,35,19.107179,72.837240,2018-05-02 10:47:29.565,4538,21,"(19.1071792, 72.8372397)",2,18,5,2018,16386,0,Unknown
748,34,19.055038,72.851809,2018-05-02 15:57:01.006,2185,5972,"(19.0550383, 72.8518088)",2,18,5,2018,808,0,Unknown
749,31,19.054857,72.851971,2018-05-02 17:01:24.836,3055,26,"(19.0548569, 72.8519714)",2,18,5,2018,3581,0,Unknown
750,28,19.054738,72.852157,2018-05-03 01:01:26.144,25220,24,"(19.054738, 72.8521568)",3,18,5,2018,6022,0,Unknown
751,27,19.107118,72.836976,2018-05-03 03:08:38.180,1610,6014,"(19.1071184, 72.8369758)",3,18,5,2018,28135,0,Unknown
752,16,19.054465,72.852189,2018-05-03 13:49:34.311,10321,6044,"(19.0544645, 72.8521889)",3,18,5,2018,2145,0,Unknown
753,23,19.054465,72.852189,2018-05-03 15:28:42.220,3802,0,"(19.0544645, 72.8521889)",3,18,5,2018,1365,0,Unknown
754,36,19.054981,72.851843,2018-05-03 18:27:27.183,9359,68,"(19.0549812, 72.8518433)",3,18,5,2018,8280,0,Unknown
755,30,19.055008,72.851976,2018-05-03 21:40:39.750,3312,14,"(19.055008, 72.8519762)",3,18,5,2018,13329,0,Unknown
756,40,19.055005,72.851968,2018-05-04 02:24:30.015,3701,1,"(19.0550046, 72.8519678)",4,18,5,2018,1874,0,Unknown
757,30,19.054656,72.852203,2018-05-04 03:44:59.198,2955,46,"(19.0546559, 72.8522026)",4,18,5,2018,856,0,Unknown
758,30,19.106822,72.836886,2018-05-04 04:28:29.397,1754,5995,"(19.1068219, 72.8368862)",4,18,5,2018,3010,0,Unknown
759,27,19.107166,72.837214,2018-05-04 06:44:20.244,5140,51,"(19.1071662, 72.8372143)",4,18,5,2018,2239,0,Unknown
760,16,19.107138,72.837146,2018-05-04 11:56:07.174,16467,8,"(19.107138, 72.837146)",4,18,5,2018,613,0,Unknown
761,29,19.054465,72.852293,2018-05-04 12:37:14.575,1854,6044,"(19.0544652, 72.8522925)",4,18,5,2018,1358,0,Unknown
762,32,19.054238,72.851979,2018-05-04 14:14:22.987,4470,41,"(19.0542383, 72.8519793)",4,18,5,2018,4839,0,Unknown
763,16,19.054465,72.852189,2018-05-04 15:51:36.480,994,33,"(19.0544645, 72.8521889)",4,18,5,2018,0,0,Unknown

In [43]:
"""
df.to_csv(filepath+'stay_points/Lx2018SP.csv')

gmap = gmplot.GoogleMapPlotter(19.05, 72.8, 16)
gmap.scatter(df['latitude'], df['longitude'], 'black' , marker=True)
gmap.draw('CB2018SP.html')
del gmap
"""

"\ngmap = gmplot.GoogleMapPlotter(19.05, 72.8, 16)\ngmap.scatter(df['latitude'], df['longitude'], 'black' , marker=True)\ngmap.draw('CB2018SP.html')\ndel gmap\n"

In [10]:
# Form clusters
# Takes dataframe of staypoints as parameter and adds a column cluster_id to it
# Uses DBSCAN, param: min_smaples and epsilon
def form_clusters(df, index):
  coords = df.iloc[index].as_matrix(columns=['latitude', 'longitude'])
  
  kms_per_radian = 6371.0088
  epsilon = 0.03 / kms_per_radian
  db = DBSCAN(eps=epsilon, min_samples=2, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
  cluster_labels = db.labels_
  num_clusters = len(set(cluster_labels))
  
  df.loc[index,'cluster_id'] = cluster_labels
  
  print('Number of clusters: {}'.format(num_clusters))

In [19]:
df['cluster_id'] = 0
df['tag'] = "Unknown"

dic = {}

for year in df.year.drop_duplicates():
    
    for week in df[df['year']==year].week.drop_duplicates():
        
        temp = df.loc[ (df['year']==year) & (df['week']==week) ]
        form_clusters(df, temp.index)
        temp = df.loc[ (df['year']==year) & (df['week']==week) ]
        
        if temp.cluster_id.max() >= 1:
        
            # Create a df to reduce the clusters to centroids

            centroids = pd.DataFrame()
            centroids['cluster_id'] = list(range(temp.cluster_id.max()+1)) 
            centroids.set_index('cluster_id', inplace=True)
            centroids['latitude'] = 0.0
            centroids['longitude'] = 0.0
            centroids['week_visit_time'] = 0
            centroids['week_frequency'] = 0
            centroids['tag'] = "Unknown"

            for i in centroids.index:
                rows = temp[temp['cluster_id']==i]
                centroids['latitude'][i] = rows['latitude'].mean()
                centroids['longitude'][i] = rows['longitude'].mean()
                centroids['week_visit_time'][i] = rows['visit_time'].sum()
                centroids['week_frequency'][i] = rows.shape[0]

            print(centroids)
            
            home_id = centroids['week_visit_time'].idxmax()
            t = centroids.drop(home_id)
            work_id = t['week_visit_time'].idxmax()
            print(home_id, work_id)
            df.loc[(df['year']==year) & (df['week']==week) & (df['cluster_id']==home_id) , 'tag'] = 'Home'
            df.loc[(df['year']==year) & (df['week']==week) & (df['cluster_id']==work_id) , 'tag']= 'Work'
            
df['tag'].value_counts()

Number of clusters: 3

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             latitude  longitude  week_visit_time  week_frequency
cluster_id
0           19.033148  72.838919             2073               2
1           19.055118  72.852087             7287               2
1 0

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Number of clusters: 2
Number of clusters: 6
             latitude  longitude  week_visit_time  week_frequency
cluster_id
0           19.107226  72.837036            94478               8
1           19.054746  72.852201            50781              23
2           19.054610  72.851601            20438               7
3           19.015464  72.828173             1445               2
4           19.086206  72.888870             5000               2
0 1
Number of clusters: 8
             latitude  longitude  week_visit_time  week_frequency
cluster_id
0           19.054748  72.852132            34317              19
1           19.107224  72.837042            67470               6
2           19.108114  72.839013             2972               3
3           19.054550  72.851562            15475               6
4           19.106899  72.836874            27364               2
5           19.054065  72.850655            82206               9
6           19.069195  72.866577             4118               2
5 1
Number of clusters: 4

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             latitude  longitude  week_visit_time  week_frequency
cluster_id
0           19.054643  72.852210            12929               8
1           19.107241  72.837057            63457               4
2           19.055170  72.852116            34842               6
1 2
Number of clusters: 5

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             latitude  longitude  week_visit_time  week_frequency
cluster_id
0           19.054652  72.851935             2644               2
1           19.107148  72.836966            49758               3
2           19.055058  72.852136            55643               6
3           19.054447  72.852502             2273               2
2 1
Number of clusters: 5
             latitude  longitude  week_visit_time  week_frequency
cluster_id
0           19.055184  72.852148           157012              23
1           19.054657  72.852239            12595               6
2           19.012815  72.825158              970               2
3           19.107178  72.836979            70151               5
0 3
Number of clusters: 7

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             latitude  longitude  week_visit_time  week_frequency
cluster_id
0           19.055022  72.852093            71058              12
1           19.055455  72.851010            39959               8
2           19.054634  72.852246            48821              12
3           19.065363  72.858951              721               2
4           19.012720  72.825550             5656               5
5           19.107239  72.837087            67674               5
0 5
Number of clusters: 3

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             latitude  longitude  week_visit_time  week_frequency
cluster_id
0           19.054639  72.852164           182064              30
1           19.107212  72.837115            72800               9
0 1
Number of clusters: 4

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             latitude  longitude  week_visit_time  week_frequency
cluster_id
0           19.054690  72.852166           120130              25
1           19.107207  72.837108           123592              11
2           19.045290  73.082461            48811               2
1 0
Number of clusters: 4

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             latitude  longitude  week_visit_time  week_frequency
cluster_id
0           19.054749  72.852114           149080              46
1           19.107182  72.836989           115965              12
2           19.022509  72.856394             4772               2
0 1
Number of clusters: 6

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             latitude  longitude  week_visit_time  week_frequency
cluster_id
0           19.107359  72.837154           115999              14
1           19.054705  72.852090           113830              24
2           19.086460  72.889545             6619               4
3           19.110029  72.837517            10790               4
4           19.086271  72.888677             3865               2
0 1
Number of clusters: 7

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             latitude  longitude  week_visit_time  week_frequency
cluster_id
0           19.054772  72.852115           239246              42
1           19.022230  72.855739            34975               6
2           19.086426  72.889464             4966               2
3           19.086698  72.889922             5322               2
4           19.022153  72.856304            14405               3
5           19.022358  72.855432            21835               2
0 1
Number of clusters: 4

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             latitude  longitude  week_visit_time  week_frequency
cluster_id
0           19.054698  72.852189           290293              42
1           19.107087  72.836876            78491               6
2           19.107192  72.837208            38043               3
0 1
Number of clusters: 3

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             latitude  longitude  week_visit_time  week_frequency
cluster_id
0           19.107179  72.837028            91667               7
1           19.054665  72.852149           200621              37
1 0
Number of clusters: 5
             latitude  longitude  week_visit_time  week_frequency
cluster_id
0           19.054631  72.852174           171226              42
1           19.107147  72.837051            99702              13
2           19.110054  72.837600             5742               2
3           19.108375  72.838605             4787               2
0 1
Number of clusters: 3

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             latitude  longitude  week_visit_time  week_frequency
cluster_id
0           19.054634  72.852110            70542              19
1           19.107181  72.837114           130382              11
1 0
Number of clusters: 3
             latitude  longitude  week_visit_time  week_frequency
cluster_id
0           19.054751  72.852060            48349              16
1           19.107123  72.837125            64151               6
1 0

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [27]:
df['cluster_id'] = 0
df['tag'] = "Unknown"

dic = 0

for year in df.year.drop_duplicates():
    
    for week in df[df['year']==year].week.drop_duplicates():
        
        temp = df.loc[ (df['year']==year) & (df['week']==week) ]
        form_clusters(df, temp.index)
        temp = df.loc[ (df['year']==year) & (df['week']==week) ]
        
        if temp.cluster_id.max() >= 1:
        
            # Create a df to reduce the clusters to centroids

            centroids = pd.DataFrame()
            centroids['cluster_id'] = list(range(temp.cluster_id.max()+1)) 
            centroids.set_index('cluster_id', inplace=True)
            centroids['latitude'] = 0.0
            centroids['longitude'] = 0.0
            centroids['week_visit_time'] = 0
            centroids['week_frequency'] = 0
            centroids['tag'] = "Unknown"

            for i in centroids.index:
                rows = temp[temp['cluster_id']==i]
                lat = centroids['latitude'][i] = rows['latitude'].mean()
                long = centroids['longitude'][i] = rows['longitude'].mean()
                centroids['week_visit_time'][i] = rows['visit_time'].sum()
                centroids['week_frequency'][i] = rows.shape[0]
                
                dic+=1
                places = requests.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=' + str(lat) + ',' + str(long) 
                       + '&rankby=distance'+'&key=AIzaSyBdqlVT2vWz9wu_olDovWYI561da6QtKyk').json()['results']

            
            
            
print(dic)            
#df['tag'].value_counts()

Number of clusters: 3

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Number of clusters: 2
Number of clusters: 6

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Number of clusters: 8

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Number of clusters: 4

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Number of clusters: 5

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Number of clusters: 5

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Number of clusters: 7

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Number of clusters: 3

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Number of clusters: 4

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Number of clusters: 4

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Number of clusters: 6

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Number of clusters: 7

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Number of clusters: 4

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Number of clusters: 3

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Number of clusters: 5

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Number of clusters: 3

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Number of clusters: 3

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

63

In [35]:
requests.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=19.054737,72.852247&radius=50&key=AIzaSyBdqlVT2vWz9wu_olDovWYI561da6QtKyk').json()['results']

[{'geometry': {'location': {'lat': 19.0759837, 'lng': 72.8776559},
   'viewport': {'northeast': {'lat': 19.2716339, 'lng': 72.9864994},
    'southwest': {'lat': 18.8928676, 'lng': 72.7758729}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png',
  'id': '2e66c82c2e8d7149bd7e026089ff5dedb8346bd5',
  'name': 'Mumbai',
  'photos': [{'height': 1360,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/112673460654122926685/photos">Jaideep Chaudhary</a>'],
    'photo_reference': 'CmRaAAAAMKLgWkkrGrm2z0MbzRfZLMnsTdDo5FO4Pl1vbixBnLXV_NJMc9DkpfCY5d--aZ0R5yBtW1c_mJsOw1ouzm1HG36E-6VpTuX5E_fM0Tt7xQhML16oS-NDeCg9H3jfKH8yEhBIf0-snZSjbdqYXD5CdwvoGhQsrkk3AoDFN9IwgUHFc_4pA_GZcg',
    'width': 2048}],
  'place_id': 'ChIJwe1EZjDG5zsRaYxkjY_tpF0',
  'reference': 'CmRbAAAAEO64paVp2sljMyjY2aMsWMtxY6NpQb-ys1HrVTRE65pWgdbzREQgQLns_fWIfs98XT9CCPE5OppebbW4_nfOMPfNAFM5b2o02sXYAySPCW0c9BlCQn3mAB-yWOMpf0IiEhD62Q_8z5gpUp8PPbtxw3TzGhT7QQHnz2yofmTX731dKBo1ahGpNw',
  'scope': 'GOOGLE',
  'types': ['locality', 'political'],
  'vicinity': 'Mumbai'},
 {'geometry': {'location': {'lat': 19.0544008, 'lng': 72.8524098},
   'viewport': {'northeast': {'lat': 19.0557497802915,
     'lng': 72.85375878029151},
    'southwest': {'lat': 19.05305181970849, 'lng': 72.8510608197085}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
  'id': '71cf6175982633349d7ed07f7fda78f3efd1e7cd',
  'name': 'Indian Oil Complex',
  'photos': [{'height': 3264,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/117098878240190606820/photos">Ashok Sethi</a>'],
    'photo_reference': 'CmRaAAAAcadRohfNtc5PxoRWbvqDCk7Yz197WYlletpO8Ung7KpvwCk79HrrV00IcJyq50cvJOXSpm6Lo09VEVaFH2DAMElQrNUOMgDrkztxR4f3q5mECr3VtMJOy_3gRHvnLu6JEhCMaNsOezj0s6Nc18u5teQdGhStJQVMBVIwUxVlDan6Uv2x3W1OQw',
    'width': 2448}],
  'place_id': 'ChIJk34qTN_I5zsRWr0SKbjcEKs',
  'rating': 4.6,
  'reference': 'CmRSAAAAJTm1ARNzanaAaqUBIwrcCpfdslG_7rFNCmsseGpmvc5khukVGh-N82GoDROpmo2j4txW3bPLV5pTR0y1feueaMYjQnNOYa51PusNO9WgXBplDaiRA04tzB1YlESML-X6EhB-a3xYraQ8Gmyd4skLY-b4GhSICXAchkCBahORI0KXYmp-_KhoYg',
  'scope': 'GOOGLE',
  'types': ['point_of_interest', 'establishment'],
  'vicinity': 'Bandra Kurla Complex Road, E Block BKC, Bandra Kurla Complex, Bandra East, Mumbai'},
 {'geometry': {'location': {'lat': 19.0546904, 'lng': 72.8522053},
   'viewport': {'northeast': {'lat': 19.0560393802915,
     'lng': 72.8535542802915},
    'southwest': {'lat': 19.0533414197085, 'lng': 72.85085631970848}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
  'id': 'f464b239511e21d66d8ec9072e7e690382cb6ebf',
  'name': "Unit Trust Of India Officer's Staff Quarter",
  'place_id': 'ChIJ9QG9Wt_I5zsRoCl9r-7XFXo',
  'rating': 3,
  'reference': 'CmRRAAAAGYkuE6A1JlNZ5x0N3Eu9uLP6PN33A2GDi6I7He2jLnLar1e2bAyZRI4MDEMhlAvgWhYWGZ9X-tqUb9ZQqAILNsqpjegbasZeJkv9ynseNPTdzSK2GvpWoy0PLUZnl5enEhCgsVouQr_F-CKYL4bGHdMZGhTnF5UVFgyMuWz4p5FmkCHxmw8LHg',
  'scope': 'GOOGLE',
  'types': ['point_of_interest', 'establishment'],
  'vicinity': 'R-2, Bandra Kurla Complex, Bandra East, Mumbai'},
 {'geometry': {'location': {'lat': 19.0549506, 'lng': 72.852448},
   'viewport': {'northeast': {'lat': 19.0562995802915,
     'lng': 72.8537969802915},
    'southwest': {'lat': 19.05360161970849, 'lng': 72.85109901970849}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
  'id': '526f86c655910f5bf61c274e7a36418b94167adb',
  'name': "RBI Officers' Quarters",
  'place_id': 'ChIJ03rMQd_I5zsRmWEyuDLKHQ8',
  'rating': 4.6,
  'reference': 'CmRRAAAAPlCb4bybdykWuKmYosnszIgXD0dPEDi8Ry9Rej72AveR6kP-ehTndALbfeTwQ2zthUBC5AuMHrXCYC0D0d6Cgfcq2waDLWsEKP2c9IY53V7PVQwoUWeMDMvVc2ow7zU2EhANYh3q-GAW0yRIStOOiY5lGhRYqW8E5ct-43v1jTpA0uJtPP3L5A',
  'scope': 'GOOGLE',
  'types': ['point_of_interest', 'establishment'],
  'vicinity': 'E Block BKC, Bandra Kurla Complex, Bandra East, Mumbai'},
 {'geometry': {'location': {'lat': 19.0544533, 'lng': 72.8519402},
   'viewport': {'northeast': {'lat': 19.0558022802915,
     'lng': 72.85328918029151},
    'southwest': {'lat': 19.05310431970849, 'lng': 72.8505912197085}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
  'id': '944d3a83f089cca3ccf3f5b53a992c33262de43d',
  'name': 'Central Excise Residential Complex',
  'place_id': 'ChIJWRPoUN_I5zsRlwBD1Zp948E',
  'rating': 3,
  'reference': 'CmRSAAAArOaDZIef9P-7DuxcaE2H9VezgZTCOf5FNSOCojIf_KD-2nnPHukqNxfu79KjjAockiv3G-bltKdS9KUBvpLijtFbYHCuuJ3unOsFg_0yBk9uQKlYdVfWYxM7qbuM7lO4EhA51XRYYJ47jfCzRvUmwwxyGhSt3iLBcNsBsfaMcjOMk9dvht27sQ',
  'scope': 'GOOGLE',
  'types': ['finance', 'point_of_interest', 'establishment'],
  'vicinity': 'BKC, Mumbai, Maharashtra'},
 {'geometry': {'location': {'lat': 19.0551106, 'lng': 72.8520235},
   'viewport': {'northeast': {'lat': 19.0564595802915,
     'lng': 72.8533724802915},
    'southwest': {'lat': 19.0537616197085, 'lng': 72.85067451970849}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/bank_dollar-71.png',
  'id': '1d51dddf7eb22958fca3f21fc803bbbcdaac1397',
  'name': 'United Bank of India',
  'opening_hours': {'open_now': True, 'weekday_text': []},
  'photos': [{'height': 3000,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/110461806410806062079/photos">Alok Kumar</a>'],
    'photo_reference': 'CmRaAAAA1nyTuXm8Fe7pxuC5jqOJ4LeZWDdBHocQ8rwfLog0PcHavKr--z9jQIRp5la9cEkequCdA4UXDpuccNhoL5WqgaN8Lbdi6SnSYP9m0pluoTvnLrt2UhA4hek8Cp2L2ZSKEhD24sNHCsjyr-U-IjbAkD0oGhRjHzv5WaArf7vIh5QSbwso8ciFiw',
    'width': 4000}],
  'place_id': 'ChIJOS9GXN_I5zsR49N0iA1ZugE',
  'rating': 4,
  'reference': 'CmRRAAAAsxyEPVYX67GS28vfFf-_ivTQmXu_vRTBdX0aY4Ww_LEBXwS1WzXigiDxrKLvy9FNNzY58DOvt9p5FlIDKpc0iDbxlSybyfpjrtpdJN1H1f86Gcrl_pJszKzB20qmTE2ZEhAPd8EVayrmoUpKWTzz4pe0GhTrT8B_Vt12qBMG7MrkkBH2SCXLYA',
  'scope': 'GOOGLE',
  'types': ['bank', 'finance', 'point_of_interest', 'establishment'],
  'vicinity': 'C-14,C-15, MMRDA Building, E Block BKC, Bandra Kurla Complex, Bandra East, Mumbai'},
 {'geometry': {'location': {'lat': 19.0548365, 'lng': 72.8517966},
   'viewport': {'northeast': {'lat': 19.05618548029151,
     'lng': 72.85314558029151},
    'southwest': {'lat': 19.0534875197085, 'lng': 72.85044761970849}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
  'id': 'cf49f57bdfe8dbf0c4ed4a0c7adfca22a1fd1525',
  'name': 'DMRC Mumbai office',
  'photos': [{'height': 3456,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/103730288413906747396/photos">Mangesh Mandke</a>'],
    'photo_reference': 'CmRaAAAAqIKAQDwbAeZYcFN36l8Ju6gEe9Bx3vEqWvxGMRgcBeDd8wW7HHzI-NO27S3R1c4BDaKI8SvWcdaYAv1fdWh2y0V7Ua6i8HKEL_honqSPEqjemopnqxIxRCOX_qQs7SunEhDyUfX8HIjGcrYh7wjJ10LzGhRyFmi37tBCwRpSWw9_G4DSNOVQVQ',
    'width': 4608}],
  'place_id': 'ChIJhWwRWd_I5zsRAHME0bhFobY',
  'rating': 3.7,
  'reference': 'CmRSAAAAIXQfa5hW11JDN2OigjKbcd9zWelOX563Ov1tkop5VIB9UTt6CI1QSmqDBNiYGiuoaIPv_VYymtcyH8kBNNbbCxYb1ccD6ZWSgvNJ1Eg5QL8tg_hVim5l5B6jOOamVFOFEhD1CT1AgqQtxVAN9V5GiHvFGhRc3FGOblbUItEMOmBnqAbQETJVNQ',
  'scope': 'GOOGLE',
  'types': ['point_of_interest', 'establishment'],
  'vicinity': '8th floor, E Block BKC, Bandra Kurla Complex, Bandra East, Mumbai'},
 {'geometry': {'location': {'lat': 19.0543264, 'lng': 72.8524941},
   'viewport': {'northeast': {'lat': 19.0556873802915,
     'lng': 72.8538210302915},
    'southwest': {'lat': 19.0529894197085, 'lng': 72.85112306970849}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
  'id': 'ac9c5dfa7ac7db21b36a347edd714b99e50793e7',
  'name': 'Indian Oil Residential Building',
  'place_id': 'ChIJsTGNTt_I5zsRIvQkomzyq18',
  'reference': 'CmRbAAAALqX22EIvIK_1o2QA_4EP-AyycUFoe39jmPkiDuRKvIz7kaVCST8-MPYYRxoCLF1r7DcDyldmG4ebLwV8HGeYg0N4TIqyHJ5OnWV7euw2WjmwvCqgH-op8UDz-AuuDsUIEhCSl7FqhZKReoSSDyW84UxPGhSGr-UC_-10bYTjvPJXg2ana3dqKw',
  'scope': 'GOOGLE',
  'types': ['premise', 'point_of_interest', 'establishment'],
  'vicinity': 'E Block BKC'},
 {'geometry': {'location': {'lat': 19.0562207, 'lng': 72.85376339999999},
   'viewport': {'northeast': {'lat': 19.059816, 'lng': 72.85714399999999},
    'southwest': {'lat': 19.0531534, 'lng': 72.8509426}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png',
  'id': 'fa61f2f6ca812fc049d293916850d00fe1abadbe',
  'name': 'E Block BKC',
  'place_id': 'ChIJN9iEBt_I5zsR6D_lOvgqmYA',
  'reference': 'CmRbAAAAvYLTH0EQ95-c43Cd4OdWpQpDrBaiAbud62YU7VVjDb0vOp39XVStlFK29pH7kx34-PPazJfVi0WtLQgtR4lyFk6f1kr3h1_DukzTIpmuOMCMKCdblF2XTfxqFyDPcVFJEhCBe3B9GBbGZLpGOg84HbR0GhTYMdOtJPzynPs1ZOsFz8bx6XRoJA',
  'scope': 'GOOGLE',
  'types': ['sublocality_level_3', 'sublocality', 'political'],
  'vicinity': 'E Block BKC'}]