In [1]:
import pandas as pd
from geopy import distance
from tqdm import tqdm
import gmplot
from matplotlib import pyplot as plt
from sklearn.cluster import DBSCAN
import numpy as np
import requests

In [2]:
filepath = "/home/yash/Documents/CB/location_data/originalpoints/"
filename = 'User0.json'

# Less -> More accuracy
accuracy_threshold = 50

# In seconds
tdiff_threshold = 1200

# In metres
geodist_threshold = 50

visit_threshold = 600

In [3]:
# Read file into dataframe
df = pd.read_json(filepath+filename, orient='records')

# Drop useless columns
df.drop(['activity', 'altitude', 'verticalAccuracy'], axis=1, inplace=True)

# Apply accuracy filter
df = df[df['accuracy'] <= accuracy_threshold]

# Arrange the dataframe in ascending time order
df = df.reindex(index=df.index[::-1])
df['index'] = list(range(df.shape[0])) 
df.set_index('index', inplace=True)

# Initialise time difference and geodist columns
df['tdiff'] = 0
df['geodist'] = 0

# Rename weirdly named columns
df.rename(index = int, columns = {'latitudeE7':'latitude',
                                  'longitudeE7': 'longitude',
                                  'timestampMs' : 'timestamp'},
          inplace =True)

# Lat and Long in the form 19045972, 73025802
# Convert to 19.045972, 73.025802
df['latitude'] = df['latitude'].apply(lambda x: x/10000000)
df['longitude'] = df['longitude'].apply(lambda x: x/10000000)
df['location'] = list(zip(df.latitude, df.longitude))
df

ValueError: Expected object or value

In [4]:
# Returns time difference between 2 timestamps in seconds
def timeDiff(t1, t2):
    return round(pd.Timedelta(t2 - t1).seconds)

def geoDist(l1, l2):
    return round(distance.vincenty(l1, l2).m )

In [5]:
# Generate two series objects from the timestamps in such a way that both can be subtracts(timeDiff)
# Combine the two series objects wuth the function tdiff

ts = df['timestamp']
ts1 = ts.shift(periods=1)[1:]
ts2 = ts[1:]

df['tdiff'] = ts1.astype(object).combine(ts2, func=timeDiff)
df['tdiff'][0] = 0

location = df['location']
location1 = location.shift(periods=1)[1:]
location2 = location[1:]

df['geodist'] = location1.astype(object).combine(location2, func=geoDist)
df['geodist'][0] = 0

df

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,accuracy,heading,latitude,longitude,timestamp,velocity,tdiff,geodist,location
index,,,,,,,,,
0,24,NaN,19.054892,72.852051,2013-04-28 06:03:56.581,NaN,0,0,"(19.0548919, 72.8520511)"
1,24,NaN,19.054892,72.852051,2013-04-28 06:04:56.631,NaN,60,0,"(19.0548919, 72.8520511)"
2,24,NaN,19.054892,72.852051,2013-04-28 06:06:56.816,NaN,120,0,"(19.0548919, 72.8520511)"
3,24,NaN,19.054892,72.852051,2013-04-28 06:12:56.939,NaN,360,0,"(19.0548919, 72.8520511)"
4,24,NaN,19.054892,72.852051,2013-04-28 06:14:57.131,NaN,120,0,"(19.0548919, 72.8520511)"
5,24,NaN,19.054892,72.852051,2013-04-28 07:38:48.099,NaN,5030,0,"(19.0548919, 72.8520511)"
6,28,NaN,19.054736,72.852086,2013-04-28 07:43:02.311,NaN,254,18,"(19.0547359, 72.852086)"
7,28,NaN,19.054736,72.852086,2013-04-28 07:44:02.649,NaN,60,0,"(19.0547359, 72.852086)"
8,27,NaN,19.054892,72.852051,2013-04-28 07:46:02.424,NaN,119,18,"(19.0548919, 72.8520508)"
9,26,NaN,19.054767,72.852087,2013-04-28 07:48:03.047,NaN,120,14,"(19.0547669, 72.8520872)"
10,27,NaN,19.054766,72.852087,2013-04-28 07:57:03.447,NaN,540,0,"(19.0547657, 72.8520872)"
11,30,NaN,19.054710,72.852085,2013-04-28 07:58:03.463,NaN,60,6,"(19.0547103, 72.8520848)"
12,24,NaN,19.054612,72.852117,2013-04-28 08:00:03.552,NaN,120,11,"(19.0546117, 72.8521172)"
13,24,NaN,19.054612,72.852117,2013-04-28 08:01:03.646,NaN,60,0,"(19.0546117, 72.8521172)"
14,24,NaN,19.054612,72.852117,2013-04-28 08:03:03.628,NaN,119,0,"(19.0546118, 72.8521174)"
15,24,NaN,19.054892,72.852051,2013-04-28 08:05:03.227,NaN,119,32,"(19.0548919, 72.8520511)"
16,28,NaN,19.054784,72.852085,2013-04-28 08:09:03.917,NaN,240,12,"(19.0547836, 72.8520847)"
17,24,NaN,19.054612,72.852117,2013-04-28 08:11:04.025,NaN,120,19,"(19.0546117, 72.8521172)"
18,24,NaN,19.054612,72.852117,2013-04-28 08:13:09.696,NaN,125,0,"(19.0546118, 72.8521174)"
19,24,NaN,19.054612,72.852117,2013-04-28 08:15:09.794,NaN,120,0,"(19.0546118, 72.8521174)"
20,24,NaN,19.054612,72.852117,2013-04-28 08:17:09.795,NaN,120,0,"(19.0546118, 72.8521174)"
21,24,NaN,19.054612,72.852117,2013-04-28 08:18:09.898,NaN,60,0,"(19.0546118, 72.8521174)"
22,24,NaN,19.054612,72.852117,2013-04-28 08:19:37.230,NaN,87,0,"(19.0546118, 72.8521174)"
23,24,NaN,19.054612,72.852117,2013-04-28 08:21:37.365,NaN,120,0,"(19.0546117, 72.8521172)"
24,24,NaN,19.054612,72.852117,2013-04-28 08:22:37.419,NaN,60,0,"(19.0546118, 72.8521174)"
25,24,NaN,19.054892,72.852051,2013-04-28 08:28:37.468,NaN,360,32,"(19.0548919, 72.8520511)"
26,27,NaN,19.054892,72.852051,2013-04-28 08:29:54.087,NaN,76,0,"(19.0548919, 72.8520508)"
27,27,NaN,19.054892,72.852051,2013-04-28 08:30:54.245,NaN,60,0,"(19.0548919, 72.8520508)"
28,27,NaN,19.054892,72.852051,2013-04-28 08:34:54.416,NaN,240,0,"(19.0548919, 72.8520511)"
29,27,NaN,19.054892,72.852051,2013-04-28 08:35:54.499,NaN,60,0,"(19.0548919, 72.8520508)"
...,...,...,...,...,...,...,...,...,...
395189,29,NaN,19.054465,72.852189,2018-05-04 16:59:22.754,NaN,121,9,"(19.0544645, 72.8521889)"
395190,31,NaN,19.054465,72.852189,2018-05-04 17:01:22.467,NaN,119,0,"(19.0544645, 72.8521889)"
395191,33,NaN,19.054465,72.852189,2018-05-04 17:03:23.226,NaN,120,0,"(19.0544645, 72.8521889)"
395192,29,NaN,19.054465,72.852189,2018-05-04 17:05:23.440,NaN,120,0,"(19.0544645, 72.8521889)"
395193,33,NaN,19.054465,72.852189,2018-05-04 17:07:25.150,NaN,121,0,"(19.0544645, 72.8521889)"
395194,29,NaN,19.054465,72.852189,2018-05-04 17:09:24.879,NaN,119,0,"(19.0544645, 72.8521889)"
395195,26,NaN,19.054465,72.852189,2018-05-04 17:11:26.024,NaN,121,0,"(19.0544645, 72.8521889)"
395196,29,NaN,19.054465,72.852189,2018-05-04 17:13:30.493,NaN,124,0,"(19.0544645, 72.8521889)"
395197,33,NaN,19.054465,72.852189,2018-05-04 17:15:31.591,NaN,121,0,"(19.0544645, 72.8521889)"
395198,29,NaN,19.054465,72.852189,2018-05-04 17:17:40.993,NaN,129,0,"(19.0544645, 72.8521889)"
395199,33,NaN,19.054465,72.852189,2018-05-04 17:19:41.889,NaN,120,0,"(19.0544645, 72.8521889)"
395200,31,NaN,19.054465,72.852189,2018-05-04 17:21:42.178,NaN,120,0,"(19.0544645, 72.8521889)"
395201,31,NaN,19.054465,72.852189,2018-05-04 17:23:43.098,NaN,120,0,"(19.0544645, 72.8521889)"
395202,29,NaN,19.054465,72.852189,2018-05-04 17:25:57.090,NaN,133,0,"(19.0544645, 72.8521889)"
395203,23,NaN,19.054465,72.852189,2018-05-04 17:27:57.812,NaN,120,0,"(19.0544645, 72.8521889)"
395204,29,NaN,19.054465,72.852189,2018-05-04 17:30:05.282,NaN,127,0,"(19.0544645, 72.8521889)"
395205,26,NaN,19.054465,72.852189,2018-05-04 17:32:06.298,NaN,121,0,"(19.0544645, 72.8521889)"
395206,35,NaN,19.054465,72.852189,2018-05-04 17:34:06.317,NaN,120,0,"(19.0544645, 72.8521889)"
395207,33,NaN,19.054465,72.852189,2018-05-04 17:36:07.352,NaN,121,0,"(19.0544645, 72.8521889)"
395208,29,NaN,19.054465,72.852189,2018-05-04 17:38:07.391,NaN,120,0,"(19.0544645, 72.8521889)"
395209,31,NaN,19.054465,72.852189,2018-05-04 17:40:08.399,NaN,121,0,"(19.0544645, 72.8521889)"
395210,31,NaN,19.054465,72.852189,2018-05-04 17:42:08.478,NaN,120,0,"(19.0544645, 72.8521889)"
395211,31,NaN,19.054465,72.852189,2018-05-04 17:44:09.561,NaN,121,0,"(19.0544645, 72.8521889)"
395212,29,NaN,19.054465,72.852189,2018-05-04 17:46:09.921,NaN,120,0,"(19.0544645, 72.8521889)"
395213,33,NaN,19.054465,72.852189,2018-05-04 17:48:11.230,NaN,121,0,"(19.0544645, 72.8521889)"
395214,29,NaN,19.054465,72.852189,2018-05-04 17:50:11.811,NaN,120,0,"(19.0544645, 72.8521889)"
395215,29,NaN,19.054465,72.852189,2018-05-04 17:52:12.744,NaN,120,0,"(19.0544645, 72.8521889)"
395216,28,NaN,19.054465,72.852189,2018-05-04 17:54:12.680,NaN,119,0,"(19.0544645, 72.8521889)"
395217,29,NaN,19.054465,72.852189,2018-05-04 17:56:21.518,NaN,128,0,"(19.0544645, 72.8521889)"
395218,16,NaN,19.054465,72.852189,2018-05-04 17:58:21.386,NaN,119,0,"(19.0544645, 72.8521889)"

In [6]:
# Start processing each row and compare with the previous row's tdiff and geodist
# If it fits within tdiff and geodist bounds, consider the point to be a part of the staypoint

# Set the first entry to be the parent SP

df['visit_time'] = 0

parent = 0
visit_time = 0

for i in tqdm(df.index[1:]):
    
    # Check if the entry's tdiff and geodist fall within constraints
    
    # If yes, add its time to total time at that SP
    if (df['geodist'][i]<=geodist_threshold and df['tdiff'][i]<=tdiff_threshold):
        visit_time += df['tdiff'][i]
        df.drop(i, inplace=True)
    
    # If no, make the parent entry SP and set this to be the parent entry
    else:
        
        if visit_time < visit_threshold:
            df.drop(parent, inplace=True)
            
        else:
            # append parent to final df
            df['visit_time'][parent] = visit_time

        # Set new parent
        parent = i
        visit_time = 0

df

  0%|          | 2/395218 [00:00<5:49:00, 18.87it/s]/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  0%|          | 1118/395218 [00:48<4:46:30, 22.93it/s]

KeyboardInterrupt:

  0%|          | 1118/395218 [01:00<5:52:31, 18.63it/s]